[2013-10-28 10:14] ethbib-susanne commented on #165
THIS IS VERY URGENT. Map libraries will be confused when they fill in information to the directory that is not displayed for the public. Please confirm date of completion.

[2013-10-28 11:00] klokan commented on #165
It is going to be fixed today - to be ready for tomorrow's meeting of libraries.

[2013-10-28 12:09] ethbib-susanne commented on #175
This ticket is also urgent.

[2013-10-28 14:24] JackuB commented on #176
Done. Changed date() to date_i18n().

[2013-10-28 14:26] JackuB commented on #178
Closing as I couldn't reproduce nor received comments.

[2013-10-28 14:31] klokan commented on #176
Missing requested hiding of the time on the front page.

[2013-10-28 14:34] #176 closed, assigned to nobody

[2013-10-28 14:43] JackuB commented on #165
It looks like it works correctly:

Select fields were empty, so no info was showing in library profile
![image](https://f.cloud.github.com/assets/1788727/1420360/db8e2e64-3fde-11e3-9142-d5ab0546b4b1.png)

When I selected any option, it showed up on website
![image](https://f.cloud.github.com/assets/1788727/1420382/2d6c1624-3fdf-11e3-80ce-ab792ae951a8.png)

Could you test it?

[2013-10-28 14:43] klokan commented on #178
Reproduced. Firefox 24.0 under Mac. Width of the `<html>` 765px. No errors in the JavaScript console.

![screen shot 2013-10-28 at 15 41 33](https://f.cloud.github.com/assets/59284/1420388/4504e720-3fdf-11e3-8837-2a0cff6fed24.png)

[2013-10-28 14:48] ethbib-susanne commented on #165
Hello Jakub

Yes, it works.

Regards
Susanne

[2013-10-28 14:49] #165 closed, assigned to nobody

[2013-10-28 14:55] klokan commented on #178
Reproduced in latest Chrome (30.0.1599.101) under Mac.
`<html>` width 758 (probably without padding).

It seems the padding is what makes the troubles in the responsivnes definitions.

Screenshot:
![screen shot 2013-10-28 at 15 54 15](https://f.cloud.github.com/assets/59284/1420515/06f04176-3fe1-11e3-8a60-f50d96012ee5.png)

[2013-10-28 15:03] JackuB commented on #177
Fixed

[2013-10-28 15:03] #177 closed, assigned to nobody

[2013-10-28 15:16] JackuB commented on #178
I still couldn't reproduce, but I just committed fix, which could fix it for you. Please test it.

[2013-10-28 15:22] JackuB commented on #179
My firefox (24) prints it without that menu. Anyway I added css rule to hide it while printing. Please test.

[2013-10-28 15:30] klokan commented on #178
It is now fixed. Thank you.

[2013-10-28 15:30] #178 closed, assigned to nobody

[2013-10-28 15:36] klokan commented on #179
Tested. Fixed.

[2013-10-28 15:36] #179 closed, assigned to nobody

[2013-10-28 19:22] klokan commented on #183
Fixed. BTW this ticket is a duplicate to one of the tasks in #124.

[2013-10-28 19:22] #183 closed, assigned to nobody

[2013-10-28 19:58] klokan commented on #175
We have to add it to Kartensuche as well. This is TODO for @klokan

[2013-10-29 01:06] klokan commented on #175
Finished and deployed.

[2013-10-29 01:06] #175 closed, assigned to nobody

[2013-10-30 11:39] ethbib-susanne opened #184 "Link to e-lib portal in different languages"
![e-lib](https://f.cloud.github.com/assets/4223790/1436461/9640a20e-4157-11e3-96f2-b16b58cbc043.jpeg)

Please add appropriate Link in different languages:

English: http://www.e-lib.ch/en/
French: http://www.e-lib.ch/fr/
Italian: http://www.e-lib.ch/it/

Thank you.

[2013-10-30 11:54] ethbib-susanne commented on #182
Text of the email which is going to be submitted to libraries

Email Betreff (Subject): Login und Passwort Kartenportal.CH

Sehr geehrte Damen und Herren

Ab sofort haben Sie die Gelegenheit, das Profil Ihrer Sammlung im Verzeichnis der Kartensammlungen des Fachportals fur Karten der Elektronischen Bibliothek Schweiz anzupassen sowie Veranstaltungshinweise und Neuigkeiten aus Ihrer Sammlung zu pub

[2013-10-31 11:53] ethbib-susanne commented on #182
J can't send an English text to Swiss libraries. Instead J removed all mutated vowels (Umlaute).

[2013-11-04 08:46] ethbib-susanne opened #185 "Inserting Google Analytics Code"
Please insert Google Analytics Code to the pages in the four different languages. Note the hours of work. There will be some minor works in the post project phase that will be payed extra-contractual.

http://www.kartenportal.ch/
http://suche.kartenportal.ch
Sammlungen http://www.kartenportal.ch/kartensammlungen/
http://www.kartenportal.ch/angebote/
http://www.kartenportal.ch/blog/
http://www.kart

[2013-11-04 08:49] ethbib-susanne commented on #182
Are you ready to reset the passwort this afternoon after my advice?

[2013-11-04 14:57] klokan commented on #182
The message has been updated. We will send your library (E01) the test reset message - so you can verify if everything is the way you wanted.

Then, please let us know when we should send it to all libraries.

[2013-11-04 19:51] JackuB commented on #182
![image](https://f.cloud.github.com/assets/1788727/1467935/6e4597fa-458a-11e3-8bda-771a0a4ebb69.png)

Password reset email is ready and tested.

[2013-11-05 11:34] ethbib-susanne opened #186 "Publications without online-link"
If a publication is not available online (field empty) the link mustn't be displayed.

Example:

![publikation](https://f.cloud.github.com/assets/4223790/1472975/ccaaee52-460d-11e3-8be2-913c213d4d40.jpeg)

This is very urgent. Because map libraries might be confused.

[2013-11-05 12:58] ethbib-susanne commented on #182
Der Test hat funktioniert, ich habe allerdings im Text noch einen inhaltlichen Fehler gemacht.

Falsch: "Bei Fragen wenden Sie sich bitte an mich. Sie erreichen mich von Montag bis Freitag."
Richtig: "Bei Fragen wenden Sie sich bitte an mich. Sie erreichen mich jeweils von Montag bis Mittwoch."

Bitte diesen Satz noch korrigieren. Danke!

Ist es möglich die Passwort Reset Mail heute nachmittag um

[2013-11-05 13:16] klokan commented on #182
OK. We will send it today at 16:00.

[2013-11-05 15:09] klokan commented on #182
The email has been submitted.

[2013-11-05 15:09] #182 closed, assigned to nobody

[2013-11-05 15:10] ethbib-susanne commented on #182
Perfect! Thank you.

Von: Petr Pridal [mailto:notifications@github.com]
Gesendet: Dienstag, 5. November 2013 16:10
An: klokantech/kartenportal-tickets
Cc: Zollinger Susanne
Betreff: Re: [kartenportal-tickets] Password reset email to libraries (#182)

The email has been submitted.

—
Reply to this email directly or view it on GitHubhttps://github.com/klokantech/kartenportal-tickets/issues/182#issue

[2013-11-05 15:11] klokan commented on #124
All the tasks mentioned above are done.

[2013-11-05 15:11] #124 closed, assigned to nobody

[2013-11-05 15:40] ethbib-susanne commented on #185
Please wait with working on this ticket. J first have to clarify the judicial situation (impressum text).

Maybe we will have to adapt the code:
http://kress.it/2010/07/google-analytics-anonymizeip-ip-adressen-kurzen-richtiger-code/

Infos:
http://www.blueglass.ch/blog/google-analytics-datenschutz-schweiz/
http://news.worldsites-schweiz.ch/rechtliche-probleme-beim-einsatz-von-google-analytics-verm

[2013-11-05 16:25] zb-markus commented on #124
Redirects tested and accepted.

[2013-11-05 16:37] ethbib-susanne opened #187 "Markup Validation"
Please decide yourself wether these errors should be cleared:

http://validator.w3.org/check?uri=http%3A%2F%2Fwww.kartenportal.ch&charset=%28detect+automatically%29&doctype=Inline&group=0&user-agent=W3C_Validator%2F1.3+http%3A%2F%2Fvalidator.w3.org%2Fservices#result

[2013-11-06 07:49] klokan commented on #187
Seems mostly as a bug/feature of WPML:
http://wpml.org/forums/topic/w3c-validation-error/
http://wpml.org/forums/topic/bad-value-for-attribute-hreflang-on-element/#post-75467
Let's investigate further.

[2013-11-06 15:35] ethbib-susanne opened #188 "Search function - 'no result'-message"
J miss a 'no result' message in the search function:

![suche](https://f.cloud.github.com/assets/4223790/1483473/40c762c6-46f8-11e3-80b6-dd6c8019347b.jpg)

There should a text be displayed:
"There are no results for your search"

Do you need translations or can J translate the text in the translation interface?

[2013-11-11 12:38] ethbib-susanne opened #189 "News on pages in directory of map libraries"
The 'Zentralbibliothek Zürich' has posted a 'map portrait' today. The article should be mentionned in 'news' the section on the page of 'Zentralbibliothek' in the directory of map libraries.

[2013-11-11 13:03] ethbib-susanne commented on #185
We will not use google analytics for reasons of data privacy. J close this ticket.

[2013-11-12 10:32] klokan commented on #189
On the map library page are listed the posts of type "News/Announcements" not posts of the type "Map".

Shall we add a new section with the "Maps"? Or how you want to present the posts of other types?

[2013-11-12 10:49] ethbib-susanne commented on #189
On the start page we present news and map portraits entitled ‘news’. Could we do the same on the libraries pages. Map portraits are also kind of news for the map library.

[2013-11-12 13:09] ethbib-susanne opened #190 "Rights for map libraries"
Changes in the profile form are not visible in the profile view. This task is important and urgent. Please check quickly.

Attention: The changes are displayed when you are logged in in the same browser at the same time.

[2013-11-12 13:33] ethbib-susanne opened #191 "Set up of Kartenportal admin user"
It is not good to use the ETH-Library E01 user for admin tasks. Maybe the editorial staff will be situated in another instituion in the future. Actually it is not good to mix the two roles (library and amdin). Please set up a sepearte admin user for redactional belongings and name it 'Kartenportal'.

[2013-11-12 18:30] klokan commented on #190
It may be a problem of the cache. Wordpress is caching the page for a certain time - for performance reasons storing an older copy of the page both on the server and in the web viewer.

We created a testlib user, edited it's data and opened the profile view: http://www.kartenportal.ch/library/testlib/ in different browser, later changed the values, reloaded and everything is as it should be.

How

[2013-11-12 21:25] JackuB commented on #187
Validation page is now green

[2013-11-12 21:25] #187 closed, assigned to JackuB

[2013-11-12 21:28] #184 closed, assigned to nobody

[2013-11-12 21:56] #188 closed, assigned to JackuB

[2013-11-12 21:56] JackuB commented on #188
Text can be translated in translation interface like all others

[2013-11-12 22:03] #180 closed, assigned to JackuB

[2013-11-12 22:08] JackuB commented on #189
I updated author's page so that maps are included under news.

Please test: http://www.kartenportal.ch/library/Z04/

[2013-11-12 22:10] JackuB commented on #186
Could you provide link to this?

Right now, field shouldn't be visible unless it contains something. There might be empty space or something similar, but I need to see it.

[2013-11-12 22:18] JackuB commented on #191
I created new user and sent its credentials to maps@library.ethz.ch - please confirm you were able to retrieve username/password and login.

[2013-11-12 22:48] ethbib-susanne commented on #186
Hello Jakub

Here an example:

http://www.kartenportal.ch/library/SGARK/

---

Von: Jakub Mikulas [notifications@github.com]
Gesendet: Dienstag, 12. November 2013 23:10
An: klokantech/kartenportal-tickets
Cc: Zollinger Susanne
Betreff: Re: [kartenportal-tickets] Publications without online-link (#186)

Could you provide link to this?

Right now, field shouldn't be visible unless it contains someth

[2013-11-13 00:31] JackuB commented on #186
Found it. Fixed.

[2013-11-13 00:31] #186 closed, assigned to JackuB

[2013-11-13 07:15] #189 closed, assigned to nobody

[2013-11-13 13:25] ethbib-susanne commented on #190
It must be the cache thin on server side because in the evening the changes were displayed properly. Can the configuration be optimized? Otherwise we must leave it the way it is and J have to mention this behaviour in the manual for map libraries.

[2013-11-13 13:29] ethbib-susanne commented on #191
That's very good. Unfortunately the maps@library.ethz.ch e-mail adresse should not be used any longer.

Instead please for the user name take just 'Kartenportal' and for the e-mail adresse 'susanne.zollinger@library.ethz.ch. If the web redaction goes to another institution the admin user has to be set up again because of the e-mail adresse. J don't see a better solution.

[2013-11-14 13:52] ethbib-susanne opened #192 "Google Search and Ranking"
J noticed that besides the Kartensuche the pages of the Kartenportal Website are not displayed in the google search.

We should optimize this. Did you set up a google xml site? What are further measures to to so?

This work can be payed extra. Plese note all hours.

[2013-11-14 13:58] ethbib-susanne opened #193 "Subheading events"
When all posts are displayed in the blog page the subheading of the events is:

Juni 10, 2013 bis Februar 23, 2014

The word 'Veranstaltung' and '-' ist missing.

When J set the filter 'Events' the subheading is displayed properly:

Veranstaltung -  Juni 10, 2013 bis Februar 23, 2014  - focusTerra

[2013-11-14 14:55] klokan commented on #190
Could you please describe in details how shall we reproduce the error? I could not see the issue on my computer.

[2013-11-14 15:28] klokan commented on #191
The 'KartenportalCH' user deleted.
New 'Kartenportal' user created - with role: Kartenportal Admin.
Email set to susanne.zollinger@library.ethz.ch. Password the same as the old one for admin.

[2013-11-14 15:28] #191 closed, assigned to nobody

[2013-11-14 16:35] JackuB commented on #192
There was rule in place to prevent page show up in (google) search. I disabled it 2 days ago.

It'll be indexed soon.

[2013-11-15 13:08] ethbib-susanne commented on #190
Today a made text modifications for a map library.It worked without any problem. J will mention in the manual that there might be a delay between modification and display of modifications. J close this ticket.

[2013-11-15 13:08] #190 closed, assigned to nobody

[2013-11-15 13:12] ethbib-susanne opened #194 "Jakub as author"
![jakub](https://f.cloud.github.com/assets/4223790/1549981/40c8548c-4df7-11e3-818e-946083b367d1.JPG)

When articles of the section services and worth knowing are displayed after a search Jakub ist mentionned as author. The author should be the new user 'Kartenportal'.

[2013-11-15 13:16] klokan commented on #194
Done. Jakub admin user has been removed and his posts credited to "Kartenportal".

We have now 'admin' user for software developers and 'kartneportal' user for content administration.

[2013-11-15 13:16] #194 closed, assigned to nobody

[2013-11-16 16:30] JackuB commented on #192
Kartenportal.ch is now indexed correctly in Google https://www.google.cz/search?q=site%3Akartenportal.ch&oq=site%3Akarten&aqs=chrome.2.69i57j69i58j69i59.2612j0j7&sourceid=chrome&espv=210&es_sm=119&ie=UTF-8

[2013-11-16 16:30] #192 closed, assigned to nobody

[2013-11-16 17:51] #193 closed, assigned to nobody

[2013-11-16 17:57] ethbib-susanne opened #195 "Title tags startseite (home)"
Please add following texts to titel tag of startseite

German: Kartenportal ¦ Das Fachportal für Karten der Bibliotheken und Archive in der Schweiz
English: Kartenportal ¦ The specialist portal for maps from libraries and archives in Switzerland
French: Kartenportal ¦ Le portail d’accès aux cartes géographiques des bibliothèques et archives suisses
Italian: Kartenportal ¦ Il portale specialistico

[2013-11-16 18:12] JackuB commented on #195
Do you want to edit titles only on homepage? Or do you plan to edit even other pages?

If so, I could add WP plugin to control titles on every page. Otherwise, I'll only update homepage manually.

[2013-11-16 19:27] ethbib-susanne commented on #195
The other titles are ok. So you can do it manually. Thank you.

[2013-11-16 19:59] ethbib-susanne opened #196 "CMS Updating problem URGENT"
J updated the 'Anleitung für Kartensammlungen' Seite in French and Italien and lost all texts including the German version that J didn't update. What is the problem. Can you restore the texts in German, French and Italian?

J haven't seen the following feature before. Maybe this is the reason for the problems:

![problem](https://f.cloud.github.com/assets/4223790/1557018/3c1b927a-4ef9-11e3-97a7-f3

[2013-11-19 10:30] klokan commented on #196
I restored the original german version from the backup and configured all the pages so you can work on translations directly.

The text were overwritten by your edits, because the page was set in a mode where one language is available to all translations so you was always overwriting.

See:
http://www.kartenportal.ch/anleitung/
http://www.kartenportal.ch/en/instructions/
http://www.kartenportal.ch

[2013-11-20 10:25] klokan commented on #196
The issue reproduced. It happens with non-admin users. We are working a a fix.

[2013-11-20 10:34] ethbib-susanne commented on #196
For the 'e01' user J don't need rights to act as a admin. 'e01' is a common map library user.

Please take note that at the moment as 'kartenportal' admin J don't have rights to access the interface for translations (localization). J get an error message. Please check and give all necessary rights to the 'kartenportal' user.

[2013-11-25 14:43] ethbib-susanne opened #197 "Admin Permissions"
The admin needs permissions to access all the translation interfaces:

http://www.kartenportal.ch/wp-admin/tools.php?page=codestyling-localization/codestyling-localization.php&type=themes

![permissions](https://f.cloud.github.com/assets/4223790/1613799/d1876734-55df-11e3-8a30-3ae8349797ea.gif)

[2013-11-26 10:51] ethbib-susanne opened #198 "Sorting of events"
The events should be sorted according to publishing date (they are when the filter is not set). The same applies to the events on the starting page.

Otherwise ongoing events with a long runtime occupy the most attractive places in the list.

[2013-11-28 21:24] JackuB commented on #197
Sorry for delay.
You can now access it under Options menu (when loged as admin)
Fixed.

[2013-11-28 21:24] #197 closed, assigned to JackuB

[2013-11-28 22:14] JackuB commented on #196
I have identified issue and changed behavior of language switching (which was root cause here). Please test and let me know if you encounter any other issue (writing/editing posts should be without problem now)

[2013-11-28 23:07] JackuB commented on #198
Should be ok now, please test.

[2013-11-28 23:14] #195 closed, assigned to JackuB

[2013-11-29 23:42] #198 closed, assigned to JackuB

[2013-11-29 23:43] #196 closed, assigned to JackuB

[2013-12-03 21:37] ethbib-susanne opened #199 "Subject field: OR instead of AND"
If there user selects more than one subject they must be combined with an OR operator (instead of AND). Example: Select "forest maps" and "vegetation maps" and zoom to 'binntal'.

[2013-12-03 21:40] ethbib-susanne opened #200 "Display of mutuated vowels in suggestions"
Mutuated vowels must be displayed properly in the list of proposed subjects or names.

Example: When you search with "kümmerly" the proposed name in the list is "kummerly". The filter works correctly. All maps that contain "kümmerly" are displayed.

[2013-12-03 22:10] ethbib-susanne opened #201 "A term can appear in multiple synonym groups"
J don't come along with the synonym list. J made different tests but didn't succeed. Maybe you can make an example following these instructions:

There is a very complecated subject in the ETH index that is called "HYDROGEOLOGISCHE KARTEN + HYDROLOGISCHE KARTEN + HYDROGRAPHISCHE KARTEN". In the swissbib catalog the subject also comes in Englisch and French "HYDROGEOLOGICAL MAPS + HYDROLOGICAL MAPS

[2013-12-03 22:26] ethbib-susanne opened #202 "Subjects that are not displayed + "~" match inside subject"
Try to select "geomorphologische karten" in the list of proposed subjects. The term doesn't appear in the list while it is more or less frequently used. In the meantime the English equivalent "geomorphological maps" appears in the list.

Example for a geomorphological map:
http://klokan.github.io/maprank-client/index.de.html#id=130121231

J also miss the subjects "übersichtskarten" or "general map

[2013-12-03 22:40] ethbib-susanne opened #203 "Ranking problem"
Zoom to 'basel' an select 'waldkarten' or 'forest maps'. There is a ranking problem because the two most relevant results are at the end of the list after world forest maps that are much less relevant. This can be reproduced for any region in Switzerland.

[2013-12-03 23:16] klokan commented on #203
Please provide the permalink showing the problem.

[2013-12-03 23:35] klokan commented on #201
A single term can not be used in two different synonym groups in the existing implementation. It is not part of the specification. But we may change the implementation (@keosak). The updates will follow in this ticket.

Regarding the failure of your testing:
Please read carefully the email with instructions. The changes made in the online spreadsheet are reflected in the search system only after y

[2013-12-04 09:10] ethbib-susanne commented on #203
Zoom to 'klosters' and then justify window as in the picture below:

![zoomlevel](https://f.cloud.github.com/assets/4223790/1671760/6746aba6-5cc3-11e3-9f8d-22bb9e6bc94e.jpeg)

Narrow search to 'vegetation maps'. The result lists starts with some rather relevant results. They are followed by world maps that should be displayed at the end of the list. At the end the most relevant results appear.

![

[2013-12-04 10:31] ethbib-susanne opened #204 "Ranking of proposed subjects"
The proposed subjects, authors and editors should be ranked according to their frequency of occurrence in the list of all subjects.

[2013-12-04 14:22] klokan commented on #203
http://klokan.github.io/maprank-client/#bbox=9.854474057006883,46.86459835090159,9.892511556795512,46.884510288550665&q=subject%3Avegetation%20maps&date_from=0&date_to=9999&scale_from=&scale_to=&libraries=&map=road

[2013-12-04 14:30] klokan commented on #201
Additional implementation comments in https://github.com/klokan/maprank-server/issues/22

[2013-12-04 15:01] ethbib-susanne opened #205 "Removing of filter settings"
There should be a way to remove the filter settings of the fields 'title', 'author' and 'publisher' with one klick.

[2013-12-04 15:06] klokan commented on #205
New request - not specified in a contract.

Technically we can add "x" to the input box on the right side of these textual fields.

Time tracking to ETH Zurich?

[2013-12-04 15:08] ethbib-susanne commented on #205
How many hours?

[2013-12-04 15:09] klokan commented on #205
Approx. 2 hours.

[2013-12-04 15:10] ethbib-susanne commented on #205
Ok.

[2013-12-04 15:11] klokan commented on #204
An example: for "road" query the "road maps" should be first.

The bug identified - we are sorting according the the frequency but alphabetically not numerically. To be fixed soon.

[2013-12-05 12:25] keosak commented on #202
The term "geomorphologische karte" is specified to be a synonym to "geomorphology", which does appear as the first result. This is correct according to the specification.

The autocompleted input field displays only ten most frequent phrases. The "topographic maps" term,however, is less frequent then all the "topographische karte" variants. It is the same with "ubersichtkarten". The solution to th

[2013-12-05 13:27] klokan commented on #202
I would add that all the subjects we are processing are visible at: http://api.kartenportal.ch/subjects-count.txt

[2013-12-05 13:31] klokan commented on #205
Tracked under internal ticket https://github.com/klokan/maprank-client/issues/41

[2013-12-05 13:32] #201 closed, assigned to keosak

[2013-12-05 14:40] klokan opened #206 "Autocomplete Subject: MARC 650$a vs 651$a"
According the specification in [F.03] in the contract we were suppose to ignore field 650$a as geographical name. It is implemented.

But according the MARC standard the geographical name is the field 651:
http://www.loc.gov/marc/bibliographic/bd651.html

Right now there are many geographical names listed in the:
http://api.kartenportal.ch/subjects-count.txt

These seems to be appearing because th

[2013-12-05 16:46] ethbib-susanne commented on #202
The terms of column one to four must appear at the beginning of the list of proposed terms according to the chosen language. Some to already but this is caused by there frequency of ocurrence in on of the indexes (ex. geologie, hydrologie). Others don't appear in this form in any index (ex. hydrogeologie, hydrogeologie).

[2013-12-05 16:56] klokan commented on #202
Terms are sorted by frequency - this is specified in the contract. The issue regarding the "hydrogeology" does not belong here but to #201. It is fixed, but it will be visible tomorrow - as reindexing happens over night.

[2013-12-05 16:57] klokan commented on #201
Fixed - but not yet visible in http://klokan.github.io/maprank-client/.
Test term "hydrogeology" does not run there yet. It should after reindexing - i.e. tomorrow.

[2013-12-05 17:00] klokan commented on #206
@ethbib-susanne please provide feedback

[2013-12-05 17:50] ethbib-susanne commented on #206
I am not in the office and can't check the specification but there must have been a confusion. According a mail that Markus sent to me your are right and

Field 650 contains thematic subjects that must be included
Field 651 contains georaphical subjects that have to be ignored

I am sorry if J caused the confusion.

[2013-12-05 22:41] #202 closed, assigned to keosak

[2013-12-05 22:46] keosak commented on #201
Synonyms in the Google Spreadsheet can now be prefixed with a "~" character. It means that the term will be searched inside subjects instead of being matched directly against them. I have already split the "hydrology + hydrogeology + hydrography" term in the spreadsheet to demonstrate the feature.

[2013-12-06 07:52] ethbib-susanne commented on #200
The 'kümmerly' example in the publisehr field works correctly now. But there is still a problem with mutuated vovels like 'ü, ä, ö' in the subject field. Example: type 'gösch' or 'schäch' or 'zür'.

Please reopen ticket.

[2013-12-06 08:19] klokan commented on #202
Synonyms in the Google Spreadsheet can now be prefixed with a "~" character. It means that the term will be searched inside subjects instead of being matched directly against them.

[2013-12-06 08:32] klokan commented on #206
OK. This is going to be updated - and visible online tomorrow latest.

[2013-12-06 08:56] klokan commented on #200
In the subject field are not suppose to be any geographic names, according to my knowledge. Related to #206 - these should be removed.

I can not reproduce you reported issue. For example 'zür':

![screen shot 2013-12-06 at 09 28 27](https://f.cloud.github.com/assets/59284/1690809/35f397ca-5e54-11e3-8131-4be98ee69cdc.png)

[2013-12-06 13:34] ethbib-susanne commented on #204
Since today the terms of columns one to four are not visible anymore in the list of proposed subjects. They should according to the chosen languange.

[2013-12-06 14:20] klokan commented on #204
PLEASE, SUSANNE:

ALWAYS GIVE US EXAMPLES, BROWSER VERSION AND COPY & PASTE OF THE LINK TO MAPRANK URL WHERE WE CAN SEE WHAT YOU ARE SPEAKING ABOUT!

Report like the one above is impossible to reproduce.

In the latest Chrome on the URL:
http://klokan.github.io/maprank-client/index.de.html#bbox=8.017000000000053,46.967,9.016999994444518,47.367&q=&date_from=0&date_to=9999&scale_from=&scale_to=&libr

[2013-12-06 15:31] #206 closed, assigned to keosak

[2013-12-07 18:22] ethbib-susanne commented on #204
Take a term of the first four columns of the synonyms list and start typing the term. It will not appear in any browser. Example J search for geological maps and type 'geologie' - the subject 'geologie' doesn't appear in the list of proposed subjects. It should.

Ex.:
geologie    geology geologie    geologia
geomorphologie  geomorphology   geomorphologie  geomorphologia
ozeanographie   oceanograph

[2013-12-07 18:29] ethbib-susanne commented on #200
My screenshot tool at home can't take a picture of the dropdownlist. For this reason J didn't send a screenshot. J can reproduce the problem in Firefox 25.0.1 and Internet Explorer 10

The point of the mutuated vowels 'ü, ö, ä' are displayed above the following letter. Ex. zürich ist written zurich and the point are displayed above the 'r' insteadt avove the 'u'.

[2013-12-07 19:10] klokan commented on #204
Term "geology" does not appear. To be investigated @keosak

[2013-12-07 20:05] klokan commented on #200
Wrong unicode encoding again. To be fixed @keosak.

[2013-12-08 22:38] #205 closed, assigned to petrsloup

[2013-12-09 15:11] ethbib-susanne commented on #204
"we are sorting according the the frequency but alphabetically not numerically"
J don't understand this. May be it is the answer to my question. But the search doesn't work well this way:

Besides the above listet problem there is still another problem concerning the ranking of the proposed problems.

When J type 'bod' the term 'bodenkarten + bodenkundliche Karten" should appear on top of the list

[2013-12-09 15:14] klokan commented on #200
We have over 10 hours already on fixing this issue.

[2013-12-09 15:17] ethbib-susanne commented on #200
Finish this at the end. It is not nice but it is possible to test the function.

[2013-12-10 16:24] klokan opened #207 "Some SwissBib records without direct links to any catalog"
SwissBib is providing us with some MARC records without identifiers of individual libraries. These records shows also 0 libraries in the SwissBib interface.

![screen shot 2013-12-10 at 17 22 30](https://f.cloud.github.com/assets/59284/1715757/4f0293e0-61b7-11e3-949b-331e9dd056de.png)

Example:
http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22133952037%22

Visible in Kartenportal.CH at:
http://

[2013-12-10 16:25] klokan commented on #207
@zb-markus Do you have any additional details about this issue?

[2013-12-11 08:36] zb-markus commented on #207
This seems to be still the same problem as in #77.

The Swissbib/Kartenportal record http://search.kartenportal.ch/#id=133952037 was already in the list of 599 records with missing holding information, see https://gist.github.com/keosak/6192215 (9 August 2013).

However, the same record has correct holding information, see NEBIS http://opac.nebis.ch/F/?local_base=NEBIS&CON_LNG=GER&func=find-b&find

[2013-12-11 09:34] #199 closed, assigned to keosak

[2013-12-11 12:48] ethbib-susanne commented on #204
This ticket is important for testing. At the moment J can't go on testing the synonyme functions.

[2013-12-11 15:51] klokan commented on #204
Tested, verified. Last bug hopefully fixed.

[2013-12-11 15:51] #204 closed, assigned to keosak

[2013-12-11 16:00] klokan opened #208 "Interface for map series: improvements"
Mockups for improved user interface for map series:

![kartenportal-webdesign-sheets-show 1](https://f.cloud.github.com/assets/59284/1725210/b1618044-627c-11e3-8ab2-ee8c7180c613.jpg)

![kartenportal-webdesign-sheets-hide](https://f.cloud.github.com/assets/59284/1725212/b654f45a-627c-11e3-8e05-3aa42809e355.jpg)

We have prepared a new symbol for the tool integrating the map series into interface.

[2013-12-11 16:03] klokan opened #209 "Map series with unicode names sometimes not displayed"
Probably UTF problem on encoding into md5 hash - it is related to #200 and the exact name of the serie available on both client and server.

Example:
"Geologische Karte von Preussen und benachbarten deutschen Ländern 1:25 000"

http://klokan.github.io/maprank-client/#series&id=196285631

The server returns 404 for the requests on the series.

[2013-12-11 16:43] ethbib-susanne opened #210 "Map series without systemnumber in MARC Field 490 $ w"
There are some records that contain the field 490 but don't contain a system number in Field 490 $ w. Example:

http://klokan.github.io/maprank-client/#series&id=204320313

If possible the function show/hide other sheets should be surpressed.

[2013-12-12 12:34] #200 closed, assigned to keosak

[2013-12-12 14:29] klokan commented on #210
Processing of the field 490$w was not in the specification of a contract under [F.06]. Sheets belongs to a single series if in 490$a is an equivalent string.

We do not have the data from this field available on the client side at this point.

This is a new request for enhancement - which would require changes on both server and client.

[2013-12-12 18:42] ethbib-susanne commented on #208
- Blue control for map series always on the same place in the detail window >> YES
  - Symbol used in the dialog window  >> YES, TEXT AND SYMBOL ARE PERFECT
  -  Redesigned hover box on top of the map for sheets under the mouse >> LOOKS VERY NICE.
  -  Link back to "Available maps >" >> THIS J DON'T UNDERSTAND
  -  (optional) number of sheets in the series (implementation requires server changes)

[2013-12-12 23:30] klokan opened #211 "Hover over list with opened detail window"
If the detail window is opened the hover over list result should not change the information in the detail window directly - instead a click is required to update the window.

The hover will have a different symbol: red stripes on the side of the box.

Click on the hovered item, which is not yet active, loads it into the detail window.
A click on already active item will close the detail window and

[2013-12-13 07:28] klokan commented on #209
On the client:
43b59bc2fd79442e340f7f5fb94dceed
http://api.kartenportal.ch/?id=196285631&callback=_callbacks_._0hp54f4ld

On the server:
c11dd285b4882ee1bf8c3d9d5e6375bb Geologische Karte von Preussen und benachbarten deutschen Ländern 1:25 000
d8edbd611e4af86adf9626f94895cb29 Geologische Karte von Preussen und benachbarten deutschen Ländern 1:25000
a674e20e87fdd9ed057f9ef4dbbd7db4 Geologische Kar

[2013-12-13 07:57] klokan commented on #209
Fixed by URL encoding of the series name before hash calculation.

3929281d94aa6ebea571571e36e1868a Geologische%20Karte%20von%20Preussen%20und%20benachbarten%20deutschen%20L%C3%A4ndern%201%3A25%20000
3e0b25ad2a03c1cce9ec3fa235192f30 Geologische%20Karte%20von%20Preussen%20und%20benachbarten%20deutschen%20L%C3%A4ndern%201%3A25000
6ef9c1f494c715ed0a1b8410fbb3769d Geologische%20Karte%20von%20Preussen%

[2013-12-13 07:57] #209 closed, assigned to nobody

[2013-12-13 08:08] klokan commented on #208
@ethbib-susanne Thanks for the feedback - we are implementing it now.

[2013-12-13 08:21] klokan opened #212 "Map series variable spelling"
Here is the list of map series sorted by number of sheets:

http://api.kartenportal.ch/series-count.txt

and alphabetically:

http://api.kartenportal.ch/series-alpha.txt

There are issues in metadata which should be fixed manually probably. Some of records may belong together but they do not because of spelling of the name of the series:

650 Jahre Stadt Oldenburg 1:25 000|2
650 Jahre Stadt Oldenb

[2013-12-13 08:56] klokan commented on #208
Done and deployed.

[2013-12-13 08:56] #208 closed, assigned to nobody

[2013-12-13 12:30] klokan commented on #211
Implemented and deployed at http://klokan.github.io/maprank-client/

@zb-markus what do you think about this modification? I see it as a huge usability improvement.

[2013-12-13 13:14] ethbib-susanne opened #213 "Wrong results with the subject filter "schulkarten""
By setting the subject filter to "schulkarten" with autocomplete the results are not filtered by this subject correctly.

Exact URL http://klokan.github.io/maprank-client/index.de.html#bbox=1.3671875,39.749185553172126,30.1171870208334,53.886685504271526&q=subject%3A%23%23%2324%7Cschulkarten&date_from=0&date_to=9999&scale_from=&scale_to=&libraries=&map=road
contains the synonymic group: `&q=subjec

[2013-12-13 13:25] ethbib-susanne opened #214 "Question concerning synonyms sheet"
How many columns of the synonyms sheet are allowed?

[2013-12-13 14:24] zb-markus opened #215 "Blurred blue lines in series mode"
The blue lines in the series mode are blurred, sometimes only in a certain zoom level. Some lines are also darker than others. When you zoom in as much as possible, you always see a single line as expected. It is therefore a rendering problem, not one of the bounding boxes within the metadata. A possible solution could be to draw the lines always in an even amount of pixels, e.g. 4 or 6 pixels.

A

[2013-12-13 14:37] zb-markus opened #216 "Lines matching in series mode"
The red footprint of the selected sheet should always match the blue lines. It seems that only the right and the bottom of the red footprint need to be adjusted, while the left and the top match already perfectly. Note that the bug sometimes disappears in another zoom level and then shows up again when one zooms even further in or out.

Image for upload follows, made here:
http://klokan.github.io/

[2013-12-13 14:40] klokan commented on #215
If there are multiple editions of the same map they are all rendered over each other. This makes some of the sheets fill more white and blue lines more visible. If you click on the sheet you will see the editions listed in the detail window now.

If you provide is with the screenshot I can tell if it is expected behaviour or not.

[2013-12-13 14:43] klokan commented on #215
![blurred_lines](https://f.cloud.github.com/assets/59284/1742944/fa2078c4-6404-11e3-8535-de135d2f889c.gif)

[2013-12-13 14:51] klokan commented on #215
This is quite expected. Sheet Q-37 has 3 editions while the sheets around have just a single editions, so Q-37 is slightly more white and with darker border.

Note: I can try to experiment with quality of antialiasing (blurriness) of lines by changing the settings of 'gamma' of the render and removing transparency on lines.

[2013-12-13 15:02] klokan commented on #214
A lot - probably 255.

[2013-12-13 15:02] #214 closed, assigned to nobody

[2013-12-13 15:12] zb-markus commented on #215
A "normal" user cannot understand this and thinks that the rendering of the blue lines is not state of the art. It does not look "good". We expect that all lines are:
- even in thickness
- evenly sharp, not blurred
- even in colour
- even in transparency

Note: a separate request "Map series and time filter synchronised" moved to a new ticket #218

[2013-12-13 15:19] zb-markus opened #217 "Remove editions listing within Detailansicht"
Within the Detailansicht, all the editions are shown in the metadata between the description an the series name. This editions listing should be removed because it interferes with the other metadata of that record, especially the year in the imprint.

Example: http://klokan.github.io/maprank-client/#id=204548551:

Imprint: ... 2006
Description: ...
Editions: 2012 2006 2006 2001 1995 1995 1990 1990

[2013-12-13 15:21] klokan commented on #216
Accepted bug. We will fix it - related to rounding and implementation of the border.

[2013-12-13 15:42] zb-markus commented on #212
According to the cataloguing rules, the series name has to be entered in 490 $a in the form it is shown on the map. For the Swiss national map series, 490 $a may therefore read either Landeskarte der Schweiz 1:25 000, Carte nationale de la Suisse 1:25 000 or Carta nazionale della Svizzera 1:25 000. These variants are correct and could only matched together via 490 $w.

However, this is quite an ex

[2013-12-13 15:47] #216 closed, assigned to nobody

[2013-12-13 16:09] zb-markus commented on #211
This is fine.

There is still a small bug, at least in IE8. After scrolling with the mouse wheel, and no detail window is open, the red lines at left and right do appear when scrolling stops at the record above or below the record where the mouse actually is. This happens in about every second or third quick scroll, not in all.
Reproduction:
- IE8, no filters set, no detail window open
- scroll qu

[2013-12-13 16:37] #211 closed, assigned to petrsloup

[2013-12-13 16:38] klokan commented on #211
Reproduced, fixed and deployed.

[2013-12-13 17:08] klokan commented on #212
Thank you Markus for the comments.

I am aware that the metadata must contain exactly what is written on the physical map. Still, there is possible inconsistency in spelling on series names in cases such as:

"Geological map of New Zealand 1:50 000" with 14 sheets
"Geological map of New Zealand 1:50000" with 11 sheets
or
"Geological survey of Nigeria 1:250 000" with 32 sheets
"Geological survey of

[2013-12-13 17:08] #212 closed, assigned to nobody

[2013-12-13 22:23] klokan opened #218 "Map series and time filter synchronised"
@zb-markus wrote:

When there is more than one edition per sheet, I would prefer that the newest edition is selected when the user clicks onto the sheet number, depending what has been selected in the time filter.

Fictive example:

Sheet B-37 is available in 3 editions: 1957, 1965, 1977.
Time filter is set to 1950-1970.
The user has found sheet B-36 and switches to series mode..
The user decides

[2013-12-13 22:42] klokan commented on #217
According the contract, section [F.05]: "The detail window must newly present also the information about the available map editions of a particular sheet."

The new map series view in the existing implementation provides an universal interface for selecting all editions of related sheets in the selected series.

If we remove edition list completely then all alternative editions will not be selecta

[2013-12-13 22:46] klokan commented on #218
It is a very nice idea for enhancement, but it was not specified in the contract with ETH Zurich.

The new map series view in the existing implementation provides an universal interface for selecting all editions of related sheets in the selected series.

The view is independent of the filters set in the main geosearch interface at this point. The filters are hidden as well.

[2013-12-13 23:57] klokan commented on #215
On your screenshot of are artefacts not visible on our screen. Are you able to see the problems on other computers as well or is it related to the Windows terminals in ZB only?

This is how the same screenshot looks under the latest Chrome:

![screen shot 2013-12-13 at 6 19 51 pm](https://f.cloud.github.com/assets/59284/1744406/885d30de-641c-11e3-82dd-955c2202c381.png)

and how it looks in the Win

[2013-12-14 22:08] ethbib-susanne commented on #213
Almost every search result is wrong at the moment. A few days ago J had the impression that all the results were correct. Examples:

http://klokan.github.io/maprank-client/index.de.html#bbox=1.3671875,39.749185553172126,30.11718718055556,53.886685504271526&q=subject%3A%23%23%2324|schulkarten&date_from=0&date_to=9999&scale_from=&scale_to=&libraries=&map=road

http://klokan.github.io/maprank-client/

[2013-12-14 23:42] klokan commented on #213
It seems the spreadsheet with synonyms is starting to be very messy and may be filled with some non-sense data by now, which has broken the search by attribute functionality completely at this point.

@ethbib-susanne please work with the spreadsheet with extreme care - with thinking about what you are doing and why you are doing it - to prevent similar issues in future.

Just for the first sight t

[2013-12-15 09:49] ethbib-susanne commented on #217
J prefer the new solution for more than one edition and J think that there is not a huge problem for interpreting the given information. It is more usabel and the result list is mor compact. In additon we need a solution to display more than one edition in the special map sheet mode.

As the field name is 'editions' it is clear that the following years indicate more than one edition. The edition y

[2013-12-15 09:52] ethbib-susanne commented on #215
J agree that we should work on this problem if there is time remaining.

[2013-12-16 10:23] ethbib-susanne commented on #213
Hi Petr

There might be a mess in our different subject indexes – but the spreadsheet is exactly as it should be at the moment. There are some tests from my side to get a feeling for the functionality. J will revise all these terms after checking the results in the test system. The problems that concern the wrong results after the setting of filters is not related to the synonyms list. There must

[2013-12-16 11:45] klokan commented on #213
This issue should be now fixed. Please verify.

[2013-12-16 11:45] #213 closed, assigned to keosak

[2013-12-16 15:51] ethbib-susanne commented on #213
Results are correct now.

[2013-12-16 21:44] ethbib-susanne opened #219 "Matching of first term instead of phrases"
This example shows that there might be a matching of the first term 'hydrographische' insteadt of phrases 'hydrographische vermessung (geodäsie):

http://klokan.github.io/maprank-client/index.de.html#bbox=-2.364501953125,51.48692907583821,-0.5676269730902277,52.29053735008222&q=subject%3Ahydrographische%20vermessung%20%28geod%C3%A4sie%29&date_from=0&date_to=9999&scale_from=&scale_to=&libraries=&ma

[2013-12-17 08:28] zb-markus commented on #216
Tested and accepted.

[2013-12-17 08:30] zb-markus commented on #211
Tested and accepted.

[2013-12-17 08:43] zb-markus commented on #218
I see. Please label this ticket as "postponed" for further discussion in 2014ff.

[2013-12-17 15:59] ethbib-susanne commented on #217
Petr, Markus and J will discuss the issue and give more instructions in january.

[2013-12-17 16:04] ethbib-susanne commented on #210
J give you more instructions in January.

[2013-12-17 16:22] ethbib-susanne opened #220 "Localization of new texts in map series mode"
Show/hide all sheets of this map series
Alle Blätter dieser Kartenserie anzeigen/ausblenden
Afficher/cacher tous les feuilles de cette série de cartes
Italian text follows

[2013-12-17 16:28] ethbib-susanne opened #221 "Map series icon + look & feel changes"
Look&feel adjustments and series icon visibility changes are requested under this ticket.

[2013-12-17 20:36] ethbib-susanne opened #222 "Map indexes with ' in name are not displayed"
Some map indexes are not displayed while others are:

http://klokan.github.io/maprank-client/index.de.html#series&id=195813529

http://klokan.github.io/maprank-client/index.de.html#series&id=046022546

http://klokan.github.io/maprank-client/index.de.html#series&id=195327276

http://klokan.github.io/maprank-client/index.de.html#series&id=044386567

Reproduced with Firefox 25.0.1 and Internetexplore

[2013-12-17 21:29] klokan commented on #222
Reproduced. To be fixed soon.

It is related to the problematic character single quote in the name of the series:
http://stackoverflow.com/questions/18251399/why-doesnt-encodeuricomponent-encode-sinlge-quotes-apostrophes

[2013-12-17 21:36] klokan commented on #222
Fixed. Deployed.

[2013-12-17 21:36] #222 closed, assigned to klokan

[2013-12-17 21:38] ethbib-susanne opened #223 "Synonym problem with terms that contain mutated vowels"
The synonym look up table works perfect now apart from words that contain mutated vowels. Example: Search for 'übersichtskarten' or 'übersichtspläne'.

[2013-12-17 21:47] klokan commented on #223
Autocomplete for these terms does not seem to run.

[2013-12-17 21:58] klokan commented on #222
Regression on " character detected and new fix implemented and deployed.

[2013-12-18 09:10] ethbib-susanne opened #224 "Autocomplete interaction"
If J type a term of the first column that is not found in the subjects of metadata the list of suggested terms disappears after typing 6 or 7 letters. The list should be displayed until J type the last letter of the word.

Example: 'geomorfologie'

[2013-12-18 09:14] klokan commented on #224
Bug report notes:
this is fine: http://api.kartenportal.ch/autocomplete/?field=subject&lang=de&q=geomor
this not anymore: http://api.kartenportal.ch/autocomplete/?field=subject&lang=de&q=geomorfo

[2013-12-18 10:36] klokan opened #225 "Autocomplete for terms defined only in the spreadsheet"
The autocomplete does not suggest terms which are new, not available as subjects in metadata records, and are defined only in the spreadsheet.

This must run with diacritic marks as well.

Example terms which does not exist in metadata but are defined in the spreadsheet:
'geomorfologie' -  originally only with 'ph' spelling
'übersichtspläne' - a new term

[2013-12-18 10:40] klokan commented on #224
Duplicate to #225

The term "geomorfologie" does not exists as subject in the metadata records.

[2013-12-18 10:40] #224 closed, assigned to keosak

[2013-12-18 11:21] #219 closed, assigned to keosak

[2013-12-18 11:25] klokan opened #226 "Non-geographic subjects with '(' in the MARC 691$u"
According the specification F.03 from contract we are ignoring all subjects which contain character '(' in 691$u - as unwanted geographic name.

Unfortunately, there are some records which does contain '(' in 691$u but are not geographic subjects.

Why there is `912%` as well as `912(` in the following record for non-geographic subjects?

[code]

http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%2

[2013-12-18 11:26] klokan commented on #223
Duplicate to #225

The term 'übersichtspläne' does not exist as subject in the original metadata records.

The term 'übersichtskarten' neither, but it is more complicated - see #226

[2013-12-18 11:26] #223 closed, assigned to keosak

[2013-12-18 11:30] klokan commented on #220
Implementation is going to be done once the italian text is available as well.

[2013-12-18 13:42] ethbib-susanne commented on #220
This is urgent because J will give a lecture kartenportal at ETH library on the 8th of January.

Texts:
Alle Blätter dieses Kartenwerks anzeigen / Blattübersicht wieder ausblenden
Show all sheets of this map series / Hide map sheet index
Afficher tous les feuilles de cette série de cartes / Cacher la vue d'ensemble des feuilles de la carte
Visualizzare tutti fogli di questa serie di carte / Nascon

[2013-12-18 14:06] ethbib-susanne commented on #226
URGENT

We have to adapt the rule as soon as possible: all terms with a code in field 691$u that starts with '912' must be included.

How many working hours?

[2013-12-18 14:11] ethbib-susanne commented on #225
THIS IS NOT AN ENHANCEMENT BUT A BUG. It is clear that the words of the first four columns must be suggested in the autocomplete list even if there do not appear in the metadata.

[2013-12-18 14:52] klokan commented on #225
This has been just implemented as part of the original contract and it is deployed at http://klokan.github.io/maprank-client/index.de.html

Please test it.

No, this is DEFINITELY NOT CLEAR FROM THE SPECIFICATION in section F.04.

The table is a 'look-up' table (http://en.wikipedia.org/wiki/Lookup_table) "matching against a list of valid items" and defining synonyms between subjects imported from

[2013-12-18 14:56] ethbib-susanne commented on #225
Thank you :)

[2013-12-18 15:01] ethbib-susanne commented on #225
Can this implementation already be tested? If yes, there is a problem. The search results are not correct.

Example:

http://klokan.github.io/maprank-client/index.de.html#bbox=7.836500000000115,46.77499,8.513899962366395,47.28710000000002&q=subject%3A%23%23%2310|%C3%BCbersichtspl%C3%A4ne&date_from=0&date_to=9999&scale_from=&scale_to=&libraries=&map=road

http://klokan.github.io/maprank-client/inde

[2013-12-18 15:13] klokan commented on #225
Regression. We are working on a fix.

[2013-12-18 15:35] klokan commented on #225
Only forgotten manual reindexing of the whole SwissBib after the changes were applied.
Normally it would happen automatically over night. It should be fixed by now.

[2013-12-18 15:35] #225 closed, assigned to keosak

[2013-12-18 15:52] ethbib-susanne commented on #225
Is perfect now.

[2013-12-18 21:13] ethbib-susanne opened #227 "Transparency problem of displayed map series"
In Firefox 26.0 and Internet Explorer 10.0 this map series is displayed nontransparent:

http://klokan.github.io/maprank-client/index.de.html#series&id=157377253

[2013-12-19 01:30] klokan commented on #227
This series contains many overlapping world maps - which hides the smaller maps underneath.
It is technically impossible to make all the world maps selectable in such a serie anyway.

It is related to #215.

3 hours of extra work again, implemented "even in transparency". Rendering may be slightly slower now.

[2013-12-19 01:30] #227 closed, assigned to nobody

[2013-12-19 01:42] klokan commented on #215
Even transparency implemented for #227.

[2014-01-06 09:29] klokan commented on #226
Done on 2013-12-18.

[2014-01-06 09:29] #226 closed, assigned to nobody

[2014-01-23 22:42] klokan commented on #220
This has been finalised a week ago.

For example: http://klokan.github.io/maprank-client/index.de.html

[2014-01-23 22:42] #220 closed, assigned to klokan

[2014-01-23 22:51] klokan commented on #203
It is now fixed. Closing this ticket.

It has been multiple days of work (over 20 hours). The ranking algorithm was adjusted to remove this issue. New version of ranking is now deployed on the live Kartenportal.CH as well. According to our internal tests there are no regression problems or newly introduced ranking issues with this step - but if you find something let us know.

Work on this task ha

[2014-01-23 22:51] #203 closed, assigned to keosak

[2014-01-27 14:16] ethbib-susanne commented on #203
The new ranking is tested and works fine.

J understand that there was some extra work. J will inform Markus about the issue. We let you know whether the maintenance credit is the right account to charge.

Regards
Susanne

[2014-01-27 15:07] ethbib-susanne commented on #221
Markus made a very nice suggestion for issue #217 and #221. The concrete works are:
1. Adapt the displayed representation of metadata according to the mock-up.
2. Position the
   ![icon1](https://f.cloud.github.com/assets/4223790/2009746/71c80c3a-8763-11e3-96d2-21fed6145712.jpeg) open map index icon according to the mock-up. Click on the icon as well as click on the link connected to the series na

[2014-01-29 03:54] klokan commented on #221
The request to change the look&feel according the mockup is 1-3 hours to implement, test and deploy.
True tracked time is going to be invoiced and time sheets provided.

Be aware, that the vertical position of the blue "series" icon is going to be variable and "jump" up and down, if you scroll over more items with series information in the normal results view. In this moment it has been on a fixed

[2014-01-29 09:41] ethbib-susanne opened #228 "Synonyme list - special characters"
There is a problem concerning secial characters:

brace (
colon :
plus +

Terms that contain this characters are not processed.

Example colon - string '~verkehrskarte:' is on the synonyme list

![synonymes1](https://f.cloud.github.com/assets/4223790/2028164/22fc1d00-88c9-11e3-9920-18d7a79ae57c.gif)

Example brace: term 'pläne (kartenmaterial)' is on the synonyme list

![synonymes2](https://f.clou

[2014-01-29 09:44] klokan commented on #228
We are searching in a fulltext index. So called "stop characters" are in fulltext ignored. Dots, commas, braces, colons, etc are therefore not filtered. This is expected behaviour.
You have to write your filters with keeping this in mind.

[2014-01-29 13:39] ethbib-susanne commented on #221
Q1: The gray "X" should be removed. It is replaced by the new 'hide' Icon

Q2:
DE: Andere Auflagen, EN: Other editions, FR: Autres éditions, IT: Altri edizioni

DE: Reihe, EN: Series, FR: Série, IT: Serie
Translations via translation tool same as other terms.

Please go ahead and go to a maximum of 12 hours for all described improvements. Point 5 has Priority 2. Please decide at the start of imple

[2014-01-29 15:07] zb-markus opened #229 "Regular update needed"
We were not able to find some maps in Kartensuche that have been catalogued since mid-January. Here 3 examples:

http://aleph.unibas.ch/F/?local_base=DSV01&con_lng=GER&func=find-b&find_code=SYS&request=006215130
http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22225988879%22+IN+%5B4%5D&v=nose&l=de

http://aleph.unibas.ch/F/?local_base=DSV01&con_lng=GER&func=find-b&find_code=SYS&request=006215129

[2014-01-29 16:08] zb-markus commented on #217
Ticket closed because issue will be dealt with in nr. 221 referenced above.

[2014-01-29 16:08] #217 closed, assigned to nobody

[2014-01-30 08:36] zb-markus commented on #229
Interestingly, title words from the first and second examples above are autocompleted within the test version. If you type "Centrals" into the title attribute field, then the second proposal of the autocomplete function is the correct "Centralschule". But the record (i.e. first example above) does not appear within the Trefferliste.

Likewise, type "Wahlen", then the second proposal of the autocom

[2014-01-30 08:42] klokan commented on #229
We are investigating the issue.

[2014-01-30 08:57] zb-markus commented on #203
Susanne and I agreed that I will discuss the financial aspects of the present issue by private e-mail.

[2014-01-31 08:17] klokan opened #230 "Map series info box"
@ethbib-susanne:

This concerns the info window that is displayed in the series mode. Markus and J think that the window is from the layout point of view too much connected to the menu section. The question is if you could disconnect it spatially or by using different background etc. from the menu section.

@zb-markus:

Regarding Q4 (or Point 6) we discussed two variants:
- Disconnect the series i

[2014-01-31 08:23] klokan commented on #221
Thanks for the answers.

We schedule the work now and I expect to finalise the whole contract by mid-february.

(the discussion related to the info window (Q6) is moved to #230. It is unrelated to "series icon" which is the title of this ticket)

[2014-02-03 16:54] ethbib-susanne opened #231 "Geographic keywords Field 651 used for autocomplete"
It seems that geograpic keywords MARC Field 651 are used for autocomplete.

Examples:
Use "Schweiz ost" or "luzern region" for filtering.

[2014-02-03 18:31] klokan commented on #231
Susanne, could you please with a bug report ALWAYS provide:

1) copy and paste of the URL address from your web browser for the query you used with the Kartenportal search - so we see the same results as you.
2) when relevant, the version of browser - Firefox / IE 7 / IE 8 / IE 9 / IE 10 / Chrome ?
3) when relevant, links to individual SwissBib MARC records demonstrating the problem

At least 1) i

[2014-02-04 08:03] ethbib-susanne commented on #231
J am sorry. Here the complete information:

URL of search 1:
http://klokan.github.io/maprank-client/index.de.html#bbox=-110,-52,119.99999744444449,72&q=subject%3Aschweiz%20%3Cnordwest%3E&date_from=0&date_to=9999&scale_from=&scale_to=&libraries=&map=road
Result of search 1:
http://klokan.github.io/maprank-client/index.de.html#id=10231165X
URL of search 2:
http://klokan.github.io/maprank-client/inde

[2014-02-04 18:08] klokan opened #232 "NINE.ch VServer + documentation upgrade"
Nine.ch is now switching to a new VServer technology. Within next two months (latest by April) we must move the Kartenportal.CH Search to a new server and make complete reinstallation of the software.

We are also going to upgrade the operating system and validate the Installation protocol and existing documentation of the project with this step. We must also duplicate the existing backup solution

[2014-02-04 18:12] klokan commented on #232
Email from Nine.CH:

[code]

[2014-02-04 18:18] klokan commented on #229
This should be fixed since the end of the last week. The data were correctly synchronised, but the MapRank Server has not been restarted properly after the update. Therefore the difference in the autocomplete and main MapRank.

@zb-markus could you please verify?

[2014-02-04 18:24] klokan opened #233 "New SwissBib: new backlinks"
Tobias Viegener provided details for the required switch to new backlinks and OAI endpoint for the SwissBib.
The switch of backlinks should be made by mid-Fabruary.
Complete reload of metadata and switch to new OAI endpoint  should follow - the existing infrastructure is going to be shutdown by the end of July 2014 the latest.

Details to be discussed with Tobias soon.

Details are in the email ("

[2014-02-04 18:28] klokan commented on #233
From Tobias:

We recommend to change the back-linking-mechanism as a short term solution, if you cannot manage to switch to our new data-source in time. Changing the backlink-layout is easy:
-- if you cannot reload the data, use a local system number for back linking for as long as you're working on the reload of our data. It is a fairly straight forward approach:
--- firstly prepare one of the lo

[2014-02-04 18:31] klokan opened #234 "New SwissBib: new OAI and metadata format changes"
Format changes
The most important information is still in the same fields, this shouldn't pose any bigger problems. If you have questions regarding some fields just ask. A general definition can be found here: http://www.swissbib.org/wiki/index.php?title=Swissbib_marc
Be aware that we changed the structure of 852/949, which you most likely use for linking to the source systems.
-- You have to take

[2014-02-04 18:34] klokan opened #235 "New SwissBib: List of libraries and catalogue links changing"
The existing XML file is going to be replaced with a JSON and RDF/JSON-LD/SPARQL Linked Data exports.

We must implement a parser and switch - which possibly affects both the geosearch and website.

[2014-02-06 08:17] zb-markus commented on #229
OK, the above-mentioned examples are now retrievable in the Kartensuche. We will test more during the next days.

I cannot say whether there is the same bug behind, but the figures in the library list are still not updated. The figures given are the same as in beginning of January 2014 (examples: ZB Zürich 24889, UB Basel Hauptbibliothek 4642).

[2014-02-17 14:32] ethbib-susanne commented on #228
Please provide a list of stop characters. Thank you.

[2014-02-17 15:29] keosak commented on #228
We accept as words or terms only consecutive strings of letters and digits. Every other character is a word delimiter.

[2014-02-18 13:09] zb-markus opened #236 "Urgent: Code for statistics and usability"
Please insert as soon as possible some script code for statistics and usability. The code is under way by private e-mail. Note that it is intended not only for the map search part but also for the whole Kartenportal web site. The usability team said that the code should be before the `</body>` tag or in the footer of the web pages.

[2014-02-18 13:34] ethbib-susanne opened #237 "Wrong results when searching with subjects"
There are wrong result for this subjects. There might be more. J used Firefox 26.0. The same can be reproduced using Internet Explorer 10:

Examples:
Subject "geomagnetismus" (geomagnetism):
http://klokan.github.io/maprank-client/index.de.html#bbox=-110,-52,119.99999744444449,72&q=subject%3A%23%23%2313|geomagnetismus&date_from=0&date_to=9999&scale_from=&scale_to=&libraries=&map=road

Subject "geom

[2014-02-18 13:40] ethbib-susanne commented on #237
Maybe J made a mistake in the synonymes list. J will check this again.

[2014-02-18 13:40] #237 closed, assigned to nobody

[2014-02-20 23:04] klokan commented on #236
Done.

A note: It is good to provide the complete specification into the ticket - or on one place at least.

[2014-02-20 23:04] klokan commented on #236
I see here the request for including the code in both website and search (mentioned in the email).

[2014-02-20 23:04] #236 closed, assigned to nobody

[2014-02-24 08:15] ethbib-susanne commented on #185
The Google Analytics Code should not be in the html code of the websites (see above). If there is Google Analytics code it must be removed.

[2014-02-24 08:20] ethbib-susanne commented on #221
Please finalize the works and send the final invoice. Thank you.

[2014-02-24 08:20] klokan commented on #185
It is not in the Kartenportal.CH website (because of this ticket).
It is in the geographical search interface (it always has been there since the beta).

[2014-02-24 08:20] #185 closed, assigned to nobody

[2014-02-24 12:59] klokan commented on #221
The latest version is online. Please verify.

[2014-02-24 13:56] keosak commented on #229
You are right, there was a problem with updating the library figures due to a broken software dependency. It is fixed now, so the numbers should be up to date.

[2014-02-24 13:59] #229 closed, assigned to keosak

[2014-02-24 13:59] #221 closed, assigned to nobody

[2014-02-24 14:09] ethbib-susanne commented on #221
Very nice! Very user friendly!
Final feedback tomorrow when Markus also verified it.

[2014-02-24 14:20] keosak commented on #231
Both records contain geographic keywords in MARC field 690. Our filter removes this field, but only if it has a subfield "D" with value "g". This is in accordance with previously agreed specification (#206, #226). For reference, this is the current specification.

[code]

The two records you mentioned have the following 690 fields that according to the above should be included.

[code]

[code]

[2014-02-24 17:30] ethbib-susanne commented on #231
J agree that we can't exclude geographical keywords that are contained in 690 -9 $a fields.

[2014-02-25 08:35] ethbib-susanne opened #238 "Map series that are not displayed correctly"
This map series displays only single sheets:
http://klokan.github.io/maprank-client/index.de.html#id=196382718
http://klokan.github.io/maprank-client/index.de.html#id=196296730

When you zoom out suddenly more sheets (also neighbouring sheets) are displayed:
http://klokan.github.io/maprank-client/index.de.html#series&id=195725972

J use Firefox 26.0.

[2014-02-25 08:49] zb-markus commented on #221
Looks nice indeed.

Regarding the functionality there is still a bug (atl least in IE8 and IE9): When one has found a record, and opens the map series mode, then one is sometimes unable to highlight or select adjacent sheets with mouse-over or even with click. Example: ONC sheet C-4 (http://klokan.github.io/maprank-client/index.de.html#series&id=195707680). I could select adjacent sheets B-1, 1-2,

[2014-02-25 08:58] ethbib-susanne commented on #221
The bug can be reproduced in Firefox 26.0

[2014-02-25 12:13] klokan opened #239 "Map series interactivity issues"
@zb-markus reported:
Regarding the functionality there is still a bug (atl least in IE8 and IE9): When one has found a record, and opens the map series mode, then one is sometimes unable to highlight or select adjacent sheets with mouse-over or even with click. Example: ONC sheet C-4 (http://klokan.github.io/maprank-client/index.de.html#series&id=195707680). I could select adjacent sheets B-1, 1-2

[2014-02-25 12:17] klokan commented on #221
This is irrelevant to "Map series icon". A new issue #239 opened.

[2014-02-25 13:12] klokan commented on #238
These were issues related to the cache of tiles and regular updates of the database.
We are now testing alternatives. The map series functionality may be broken for a short time.

[2014-02-25 14:00] klokan commented on #238
All of this should be now temporarily fixed.
We will fix it permanently in the week 10-14th March, on which we scheduled reinstallation of the Kartenportal Search server required by the hosting provider (#232).

[2014-02-25 14:03] klokan commented on #239
Duplicate to #238.

It should be fixed by now (temporarily).

[2014-02-25 14:03] #239 closed, assigned to nobody

[2014-02-27 12:20] klokan opened #240 "Permalinks to Kartenportal needs to be changed"
Markus, Susanne,

The change in SwissBib introduced recently is so radical - that none of the numerical "permalinks" to our search website on Kartenportal.CH will be permanent anymore.
It seems there is no way how to continue to keep the existing identifiers of records after we upgrade to the new SwissBib database.

Links such as:
http://suche.kartenportal.ch/#id=204676622

are going to stop to ru

[2014-02-27 18:27] klokan commented on #233
The backlinks to Swissbib (which are after the switch broken since today at around 18:00) are going to be fixed tomorrow morning.

[2014-02-27 18:32] klokan opened #241 "MARC 690 Z1 $a should be ignored"
@ethbib-susanne wrote:
According to the specification keywords that are contained in 690 Z1 $a field must be ignored. Please check this example:

![230f08be-9d7a-11e3-98ad-6455b924b2c9](https://f.cloud.github.com/assets/59284/2286109/64c65e46-9fdd-11e3-934b-5fbb507eebe3.jpg)

![46cb9a9e-9d78-11e3-910a-f771d57321f6](https://f.cloud.github.com/assets/59284/2286112/7003ce92-9fdd-11e3-81d0-efb2adae42b

[2014-02-27 18:32] klokan commented on #241
The new request tracked under internal ticket: klokan/maprank-server#22

[2014-02-27 18:33] klokan commented on #231
New reported issue moved to #241

[2014-02-27 18:33] #231 closed, assigned to keosak

[2014-02-28 10:24] keosak commented on #233
Old Swissbib links are now redirected to the new ones through the suggested SwissBib search interface. Fix is applied on the public Kartenportal.CH search interface.

[2014-03-04 09:03] klokan commented on #241
This is now done and deployed on the public website.

[2014-03-04 09:03] #241 closed, assigned to keosak

[2014-03-04 16:56] klokan commented on #232
Switch ordered for the next week. Waiting for confirmation from Nine.CH.
Finalization of ETH contract scheduled for the next week as well.

[2014-03-05 13:46] ethbib-susanne commented on #240
Do J understand right that there will be new IDs that are permanent too? In my opinion it is not a problem if permalinks that were produced before the upgrade don't work afterwards as we still are in a kind of pilot phase. J suppose that similar changes will not repete frequently in the future.

[2014-03-12 08:24] zb-markus opened #242 "Again: CrazyEgg code for statistics and usability"
Following implementation of the CrazyEgg script (#236) its team noted some problems with loading our site. They wish that an additional script is being inserted between the current CrazyEgg script and the `</body>` tag. Here the additional piece:

[code]

[2014-03-12 08:31] zb-markus commented on #240
I fully agree with Susanne. As long that all internal links (for example from http://www.kartenportal.ch/maps/vogelschaukarte/) can be fixed accordingly, then I do not see any problem.

[2014-03-12 14:01] ethbib-susanne commented on #228
J tried to set up the synonyme list without special characters. The result is not satisfying because we are limited by not using the special characters "(", ")" and ",".

Is there a way to make this special characters available for configuration? How much hours of programming would it take?

[2014-03-12 15:03] ethbib-susanne opened #243 "Internal links displayed like external links"
Example:
http://www.kartenportal.ch/services/fuehrungen/

J used Firefox 26.0.

[2014-03-12 16:56] klokan commented on #243
These links are external - to a different domain.
Please, fix the text of the article and use relative link or links to the same domain.

[2014-03-12 16:56] #243 closed, assigned to nobody

[2014-03-12 17:22] klokan commented on #228
Introducing support for special characters would mean quite a substantial reimplementation of the indexing - e.g. possibly over 40 hours of work. This is not how the system runs now.
We don't see a use case where this feature is really required. Explain your "not satisfying" please.

Could you please provide a real example of what you want to do and can't right now?

Ideally:
1) what you want to g

[2014-03-17 09:27] ethbib-susanne commented on #228
Example 1:

1) ?
2) Geologie geology geologie    geologia    GEOLOGISCHE KARTEN  GEOLOGICAL MAPS     CARTES GÉOLOGIQUES     GEOLOGISCHE PROFILE GEOLOGICAL PROFILES PROFILS GÉOLOGIQUES    MEERESGEOLOGISCHE KARTEN    MARINE GEOLOGY MAPS     CARTES GÉOLOGIQUES DES FONDS MARINS    ~erdkruste  ~erdkern    ~regional geologie  meeresgeologie  ~erdölgeologie ~batholit   ~geotope    ~stratigraphie  ~region

[2014-03-18 13:28] klokan commented on #228
Solution for example 1):

If you want to merge all subjects containing the word "geologie" into one group you must add the phrase "~geologie" to the Excel in the end of the row. We have did it now online - so you can see it in action at http://klokan.github.io/maprank-client/
This will hide all phrases such as "geologie: schweiz", "geologie - solothurn", "geologie/einzelne gebiete", etc. in the au

[2014-03-18 13:28] #228 closed, assigned to nobody

[2014-03-18 14:41] ethbib-susanne commented on #228
1) There is a problem if J use „geologie“ and “~geologie” in the same row. The filter doesn’t work correctly then.
2) dito

Your solutions unfortunately don't work. J tried them out before.

[2014-03-18 16:30] klokan commented on #235
The new JSON has been provided. We are implementing the update now.

[2014-03-19 07:40] zb-markus opened #244 "Again: Updating the library list"
Since at least from 12 March, the library list has not been updated. The figures are the same since. This concerns both the official and the test versions.

We are aware that this may be due to the reorganization at Swissbib. We expect that the library list will be updated regularly afterwards. Nevertheless, please check whether there is a new bug on your side.

[2014-03-19 11:07] klokan commented on #244
I expect you report here that the number of indexed record per library is not as expected for you. The library list is complete, i.e. all expected libraries are visible.

Can you let us know the actual numbers - which are expected (and where are you getting them?).
Is it a difference in hundreds or a few maps for what is visible on the website?

Map records from SwissBib can be ignored if:
- bound

[2014-03-19 13:29] zb-markus commented on #244
You are right, it is the number of records per library (and its total figure) that is not updated, not the library list as such. We found out that already at 26 February the figures stoped to be updated. So I can compare with figures as of 26 February:

Uni Basel - UB Hauptbibliothek has catalogued about 270 maps since 26 February, which should give a new total of about 5240. Information by the ca

[2014-03-20 08:10] klokan commented on #244
It may be possible that Swissbib stopped to update the old OAI-PMH database by that time.

Now the new SwissBib is indexed at http://klokan.github.io/maprank-client/.

The numbers there are higher then mentioned here - so probably as expected.
I consider this is now a solved problem from our side.
Please verify, if another issue is discovered we will reopen and fix it.

[2014-03-20 08:16] klokan commented on #233
The http://klokan.github.io/maprank-client/ interface has been upgraded to the new SwissBib.
There are new permalink IDs in the portal and new links to Swissbib following the final new https://www.swissbib.ch/Record/{swissbibID} pattern.

[2014-03-20 08:16] #233 closed, assigned to nobody

[2014-03-20 08:18] klokan commented on #235
The http://klokan.github.io/maprank-client/ interface has been upgraded to the new SwissBib.

New JSON is now used for the list of libraries - and updating scripts have been reimplemented.

[2014-03-20 08:18] #235 closed, assigned to nobody

[2014-03-20 08:19] klokan commented on #242
I suggest to include this update into the new version which should be public on Monday afternoon.

[2014-03-20 08:24] klokan commented on #240
OK. I hope similar large upgrade is not going to be made again - so the SwissBib identifiers will be really permanent.

The permalinks on http://klokan.github.io/maprank-client/ interface have been upgraded to the new SwissBib.

BEFORE MONDAY YOU SHOULD PROBABLY LOOK UP THE MAPS linked to the old system with old identifiers and find the new SwissBib identifiers - so upgrade of the links in the art

[2014-03-20 08:24] #240 closed, assigned to nobody

[2014-03-20 08:25] klokan commented on #232
Everything is prepared on the new server. We may make the switch on Monday, if there are no issues.

Documentation (the internal detailed Installation protocol) is being updated now.

[2014-03-20 08:26] klokan commented on #238
This should be fixed properly in the new version. Beta available at: http://klokan.github.io/maprank-client/

[2014-03-20 08:26] #238 closed, assigned to nobody

[2014-03-20 08:31] klokan commented on #234
New OAI is now used on the new Kartenportal server.
We are using the testing server address.

Upgrade to the final OAI server address to be made - once it is known from SwissBib.

[2014-03-20 08:34] klokan commented on #207
These records still exists in the new SwissBib: http://klokan.github.io/maprank-client/#id=158659678
and https://www.swissbib.ch/Record/158659678 with a note "No Holdings available".

[2014-03-20 08:43] klokan opened #245 "New backup of the new server"
A new additional fully automated backup solution is required for the new server at Nine.CH. Related to #232.

We should also make an one-time complete backup of the new server on the USB disk with the complete source code of the project including all the SwissBib data - to have a permanent snapshot of the whole service physically stored in Switzerland - in the KlokanTech office - according to the

[2014-03-20 08:58] zb-markus opened #246 "Back links to ZB catalog incorrect"
Some back links are missing. For example, record http://klokan.github.io/maprank-client/index.de.html#id=298417499 has back links to ETH and others, while the back link to Zentralbibliothek Zürich is missing. However, the same record in Swissbib https://www.swissbib.ch/Record/298417499 has working links also to Zentralbibliothek Zürich.

Other examples:
http://klokan.github.io/maprank-client/index

[2014-03-20 09:07] zb-markus opened #247 "Links from Detailansicht to library directory"
Hundreds of links from Detailansicht to library directory need to be restored. Some examples of missing links:

http://klokan.github.io/maprank-client/index.de.html#id=174009917
(link Zentralbibliothek to http://www.kartenportal.ch/library/Z04/)

http://klokan.github.io/maprank-client/index.de.html#id=015211193
(link Swisstopo to http://www.kartenportal.ch/library/AX40/)

http://klokan.github.io/m

[2014-03-20 09:24] klokan commented on #246
I expect you mean a missing links between Kartenportal.CH website and geosearch, so to http://www.kartenportal.ch/library/Z04/

The new SwissBib reports that all the "Zentralbibliothek Zürich" library holding of map records are now "Z01" not "Z04" as before. Is this correct and expected from SwissBib?

If it is correct and we should just fix the links we must manually change the identifiers of the

[2014-03-20 09:25] klokan commented on #247
Technically this is a duplicate to issue #246

[2014-03-20 09:25] #247 closed, assigned to nobody

[2014-03-20 09:27] zb-markus opened #248 "Empty records list when scale filter is set"
I have filtered by scale
http://klokan.github.io/maprank-client/index.de.html#bbox=12.524260474902348,55.65272409087972,12.664701973341834,55.70853711556554&q=&date_from=0&date_to=9999&scale_from=5000&scale_to=25000&libraries=&map=road
and no records were found. Some example records that should still be in the records list:
http://klokan.github.io/maprank-client/index.de.html#id=169027724
http://k

[2014-03-20 09:43] zb-markus commented on #246
I mean the back links from the Detailansicht to the individual catalogs (the red buttons). For example, the Detailansicht of record http://klokan.github.io/maprank-client/index.de.html#id=289098548 shows 5 red buttons for 5 different libraries: ZB Zürich, ETH, etc. Clicking the button for Zentralbibliothek Zürich shows NEBIS without call mark, while cklicking the button for ETH shows NEBIS with ca

[2014-03-20 09:46] zb-markus commented on #247
Maybe. While I considered #246 as a problem of import from Swissbib, I think that #247 deals with internal Kartenportal links. Anyway, the manual change of some identifiers may indeed solve both issues.

[2014-03-20 09:59] zb-markus commented on #207
Well, still the same Swissbib bug. Issue to be postponed until Swissbib has found the bug. Then to be tested by using the list https://gist.github.com/keosak/6192215 (9 August 2013).

[2014-03-21 11:24] keosak commented on #248
There was a problem with parsing scale numbers from the relevant MARC fields. It is fixed now.

[2014-03-21 11:24] #248 closed, assigned to keosak

[2014-03-24 09:27] klokan commented on #234
The new OAI interface for testing is not available anymore. We are getting "Could not connect to host". Upgrade to final OAI server address is urgent.

[2014-03-31 12:29] ethbib-susanne opened #249 "URGENT - New swissbib identifiers for libraries"
There are three libraries that seem to have new identifiers:

Kartensammlung swisstopo (NB001/10000)
Schweizerische Nationalbibliothek (AX040/AX40)
Zentralbibliothek Zürich (Z01/Z04)

Can J remove the old records (10000, AX40, Z04)?

J already transferred an event from the old to the new swisstopo record. But there is still a map portrait of Zentralbibliothek Zürich and news of swisstopo that J ca

[2014-03-31 14:51] ethbib-susanne opened #250 "URGENT - synonyme list update not possible"

[2014-04-01 07:44] zb-markus commented on #242
Urgent: The following script needs to be implemented within 24 hours. The public testing is starting this week. Please insert after the Swissmetrix script, just before the </body>:

<script type="text/javascript">
var loop11_key = "4d7d05fac0131a36bab38661cf9e8261f8b2d741";
document.write(unescape("%3cscript src='//cdn.loop11.com/my/loop11.js' type='text/javascript'%3e%3c/script%3e"));
</script>

[2014-04-01 07:46] zb-markus commented on #242
Urgent: The following script needs to be implemented within 24 hours. The public testing is starting this week. Please insert after the Swissmetrix script, just before the /body

start crazyegg

[code]

end crazyegg

[2014-04-01 07:46] zb-markus commented on #242
Sorry, this seems not to accept code. See e-mail.

[2014-04-01 09:48] keosak commented on #250
There were wrong permissions set for the database file. Should be fixed now.

[2014-04-01 09:48] #250 closed, assigned to keosak

[2014-04-01 12:50] klokan commented on #249
The user accounts with old identifiers are now removed - all appropriate published posts should be assigned to the new accounts.

These three libraries may need to reset their passwords for login into Kartenportal administration.

[2014-04-01 12:50] #249 closed, assigned to nobody

[2014-04-01 12:53] klokan commented on #246
This has been fixed during the switch of the servers and it runs now.

Still - from the SwissBib we are getting a wrong URL template.

This has been now communicated further to Gunter.

Please verify, in case there are issues we can reopen this ticket.

[2014-04-01 12:53] #246 closed, assigned to nobody

[2014-04-01 12:57] #232 closed, assigned to nobody

[2014-04-01 13:11] zb-markus commented on #246
Tested (for ZB Zürich, Swisstopo, National Library) and accepted.

[2014-04-01 13:22] zb-markus commented on #207
I suppose that the record numbers in this list https://gist.github.com/keosak/6192215 (9 August 2013) are no longer valid. Do you have a new list of record numbers available that have no holding information? Not urgent.

[2014-04-01 13:53] klokan commented on #242
Included in the www.kartenportal.ch website and all language variants of the search interface.

[code]

In a case some of this uncontrolled code could be removed, let me know.
Closing - if issues are reported let's reopen this.

[2014-04-02 09:33] ethbib-susanne opened #251 "Map series that are not displayed"
Examples tested in Firefox 26.0:

http://suche.kartenportal.ch/#series&id=184130190

http://suche.kartenportal.ch/#series&id=182958094

http://suche.kartenportal.ch/#series&id=184849292

http://suche.kartenportal.ch/#series&id=18462133X

http://suche.kartenportal.ch/#series&id=18480681X

http://suche.kartenportal.ch/#series&id=183606205

[2014-04-02 15:41] klokan commented on #251
Fixed.

[2014-04-02 15:41] #251 closed, assigned to nobody

[2014-04-02 15:52] keosak commented on #207
An updated list of records without any catalog link is available at https://gist.github.com/keosak/9936813.

[2014-04-02 16:31] klokan commented on #207
The original test record mentioned above:
https://www.swissbib.ch/Record/158659678

[2014-04-02 16:42] klokan commented on #234
The OAI server runs now again - but the final address has been requested from SwissBib.

[2014-04-03 07:55] zb-markus commented on #242
The testing team is very sorry that the script again needs to be updated. Follows by e-mail.

[2014-04-03 12:08] klokan commented on #242
The required new code is:

[code]

[2014-04-03 12:21] klokan commented on #242
Deployed on both geosearch and and web. Closing.

[2014-04-03 14:34] klokan commented on #246
Comments from Tobias:

[2014-04-03 14:37] klokan commented on #234
Final address updated. Closing.

[2014-04-03 14:37] #234 closed, assigned to nobody

[2014-04-03 15:00] klokan commented on #207
Comment from Tobias at SwissBib:

I don't see what Klokan should do with this case right now. If it is required to make such records NOT discoverable in geosearch - we can adjust our importing scripts to ignore all records without links to library catalogs. But this would be a hack only related to geosearch. A proper fix should be made by SwissBib.

@zb-markus please comment here - or discuss with

[2014-04-03 15:00] #207 closed, assigned to zb-markus

[2014-04-03 15:12] klokan commented on #246
Decission: for now we keep only exception for the Z01 / Z04. This ticket is closed now.

A complete proper implementation having the link library identifier different from the filter/display library identifier would require new changes in the way Kartenportal handles identifiers. This is a possible new request introduced by the new SwissBib just now.

If this is required to run properly or new rel

[2014-04-03 15:50] zb-markus commented on #207
I agree that cases 3a and 3b mentioned by Tobias have to be solved by the libraries. Closing accepted - thank you for investigating the issue. When other cases than 3a and 3b emerge, we will see what needs to be done.

[2014-04-04 10:22] zb-markus commented on #242
There is still a problem: The internal "begin crazyegg" comment should close with

hyphen hyphen greater-than-sign

instead of

hyphen hyphen space greater-than-sign

That is: omit a space. This typo problem was found in the 4 web language versions of the web site, while the closing tag in the map search is correct.

[2014-04-04 10:28] klokan commented on #242
I am sorry for this typo. It is fixed now.

[2014-04-04 10:28] #242 closed, assigned to klokan

[2014-04-04 16:01] zb-markus commented on #242
The external test management has tested and accepted. We will open a new issue as soon as the code can be removed.

[2014-04-15 07:26] klokan opened #252 "IDS Basel (unknown)"
Test record 293224803 shows "unknown" for IDS Basel and no link (broken layout)

http://suche.kartenportal.ch/#id=293224803

[2014-04-15 11:28] klokan opened #253 "~geomagnetische subjects in autocomplete"
In the synonym autocomplete table is "~geomagnetische" phrase, as well as other phrases such as "~archäologische" or "~ökologische" and others which runs correctly on the search filtering, but autocomplete suggests such phrases if it should not suggests these (they are in the 4th column or further in the synonym table - only the single phrase from one of the first 4 column should be suggested in t

[2014-04-16 09:28] klokan commented on #253
Maybe related problem "(CANTON" not accepted with "~canton".

[2014-04-16 09:55] klokan commented on #244
Reported AGAIN AND AGAIN!!!

No change in the numbers of indexed maps since March 26th. There are new maps in SwissBib - why are the numbers in the library list not updated? @keosak

[2014-04-16 13:58] klokan commented on #244
@zb-markus this should be fixed by now (there was a rights issue on the server). Please verify this within the following days. If you see this is now fixed, please close this ticket.

The OAI and the database has been always re-indexed but the numbers next to the libraries were not.

[2014-04-16 14:16] klokan commented on #253
We have just updated the autocomplete and this issue is not anymore present.

Susanne - have you been calling the updating script after the modification of Google Drive table or not?

The updates are applied via this procedure:
1) The Google Drive table is edited
2) You MUST visit the link: http://api.kartenportal.ch/update-synonyms so the table is downloaded from Google Drive to the server
3) The

[2014-04-16 14:25] ethbib-susanne commented on #253
Thank you very much for solving the problem.

Did you simply follow the described procedure? J am quite sure that J always carried out step 2 and always got the success message:

![update](https://cloud.githubusercontent.com/assets/4223790/2720710/34c456b0-c573-11e3-8e1c-51394426358e.jpeg)

[2014-04-16 15:51] ethbib-susanne commented on #253
J made an update at 17:50 can you please check if the update was carried out successfully?

[2014-04-22 08:32] ethbib-susanne commented on #253
The configuration of the synoyms table is not finished yet.

A minute ago J startet the update routine an got an error message: "attempt to write a readonly database"

[2014-04-22 09:11] keosak commented on #253
I fixed the permissions issue. Database should be up to date as of now.

[2014-04-29 09:38] zb-markus opened #254 "Remove statistics codes"
Please remove statistics codes by Swissmetrix and CrazyEgg from map search and all Kartenportal web pages.

[2014-04-29 15:03] #253 closed, assigned to keosak

[2014-05-14 07:25] ethbib-susanne opened #255 "Configuration event list on start page"
There is an ongoing exhibition (biwak) that is listed on the German start page but not in French, English or Italian.

[2014-05-19 09:42] ethbib-susanne opened #256 "Display of map series"
The map series are not displayed at all zoom levels. If they are displayed at a certain zoom level there are not all sheets visible:
Examples:
http://suche.kartenportal.ch/#series&id=184389100
http://suche.kartenportal.ch/#series&id=184341590

Firefox 26.0

[2014-05-19 09:50] klokan commented on #256
Reproduced. We are looking at the reason for this issue.

[2014-05-19 12:05] klokan commented on #255
How was this one prepared? (under what account).

There is a JavaScript code which ensures the multi-linguality. We can fix this single even, but more important is that it does not happen again. Please provide more info.

[2014-05-19 12:09] ethbib-susanne commented on #255
There was an extension of time and the library (Alpines Museum) changed the finish date if J remember correctly.

[2014-05-19 15:18] keosak commented on #256
The issue was probably a race condition in the regular update process, causing the database and its index to be out of sync. I have repaired the database and implemented a fix that should prevent this from happening again.

[2014-05-19 15:18] #256 closed, assigned to nobody

[2014-05-19 16:29] klokan commented on #244
@zb-markus as there is no error of issues, I expect this runs now fine. Closing the ticket. If there is report of a problem we will reopen.

[2014-05-19 16:29] #244 closed, assigned to keosak

[2014-05-19 16:34] klokan commented on #245
Server `scratchy` is part of the proactive monitoring.
We need to add and validate backups (after the upgrade of server has been done) and set up a remaining disk space monitoring.

[2014-05-20 15:31] zb-markus opened #257 "Language update"
The labels in English, German, French and Italian have been revised. Please reload into map search frontend.

[2014-05-21 09:34] ethbib-susanne opened #258 "Synonyms list update"
J updated the synonyme list yesterday but the update of the list was not carried out over night although J sent the update command after saving the list and got a "SUCCESS" message.

[2014-05-21 09:50] keosak commented on #258
The update failed yesterday, because the OAI-PMH server is broken. It returns a "200 OK" response status but an empty body to any request. I will update synonyms in the current database file, but the OAI-PMH server must be fixed for MapRank to function properly.

[2014-05-21 09:57] klokan commented on #258
In other words - there are problems on the SwissBib side. If these are not resolved soon we will contact them.

[2014-05-27 08:36] ethbib-susanne opened #259 "Library 'c30000' is now 'RE31002' in SwissBib"
The collection filter doesn't persist when J start the map search out of a specific collection profile for some collections:

http://www.kartenportal.ch/library/c30000/

[2014-06-04 08:00] klokan commented on #259
This seems to be a problem of the identifier of the mentioned library "c30000".
In new SwissBib it looks like it is now "RE31002".

Can you confirm @ethbib-susanne?

To fix this we need to replace the profile of the library in Wordpress and reset their password.

[2014-06-04 08:01] klokan commented on #258
@ethbib-susanne is the latest synonym list applied by now or this issue is still in here?

[2014-06-04 08:03] ethbib-susanne commented on #258
At the moment updates are not possible:
<class 'sqlite3.OperationalError'>

Python 2.7.3: /home/maprank/venv/bin/python
Wed Jun 4 08:02:49 2014

A problem occurred in a Python script. Here is the sequence of function calls leading up to the error, in the order they occurred.
 /var/www/cgi-bin/update_synonyms.pyfile:///\varwwwcgi-binupdate_synonyms.py in ()

[code]

=>  118     errors = update_syno

[2014-06-04 08:13] keosak commented on #258
Please try again. I have been checking-in on the update process regularly and perhaps I have inadvertently changed permissions on the file.

[2014-06-04 08:13] klokan commented on #245
The online backup system is configured and tested by @o1da.

USB disk to be updated, then this ticket can be closed.

[2014-06-04 08:14] ethbib-susanne commented on #258
Works successfully now, thank you.

Susanne

Von: Václav Klusák [mailto:notifications@github.com]
Gesendet: Mittwoch, 4. Juni 2014 10:13
An: klokantech/kartenportal-tickets
Cc: Zollinger Susanne
Betreff: Re: [kartenportal-tickets] Synonyms list update (#258)

Please try again. I have been checking-in on the update process regularly and perhaps I have inadvertently changed permissions on the file.

[2014-06-04 08:14] #258 closed, assigned to keosak

[2014-06-04 10:16] ethbib-susanne opened #260 "Link styles"
The evaluation of Kartenportal.CH showed that we have a huge consistency problem concerning link styles. Please check all links and add the correct style tags.

Style for links was defined as blue underlined for internal links and blue underlined followed by a little arrow for external links (see table for examples).

External Links inside buttons should be followed by an arrow.

![link_extern_but

[2014-06-04 11:15] klokan commented on #260
I expect to receive a list of similar requests for new development as a result of the usability evaluation. Does this work has a confirmed budget already?

Where shall we track the time for such development?

The maintenance and hosting fees for 2014 for Kartenportal.CH is not yet confirmed, nor signed and paid. Can the contract part of this request be resolved first please? Thank you!

[2014-06-04 11:22] klokan commented on #255
For some reason (maybe deactivated JavaScript on the client side) this even has not been saved in with the date in multiple language variants.

It should be now fixed. We re-opened it and saved the date of the event again.

It is not clear how to reproduce the error. If more details are available we can make a fix preventing the issue in future. Right now it is not clear, but reported issue is fix

[2014-06-04 11:22] #255 closed, assigned to nobody

[2014-06-04 15:33] ethbib-susanne commented on #259
You are right, J didn't realize the modification of the swissbib ID.

[2014-06-11 09:12] ethbib-susanne opened #261 "URGENT: Modified coordinates not updated in Kartenportal.CH"
The coordinates of the following records have been corrected at ETH library 1 month ago. The modifications are visible in swissbib but not in Kartenportal.CH:

http://suche.kartenportal.ch/#id=133924440
http://suche.kartenportal.ch/#id=166877336

[2014-06-12 08:57] klokan commented on #261
Scheduled for review by @keosak.

[2014-06-12 13:30] keosak commented on #261
Our database of incremental updates from OAI-PMH said that these records were last updated at the beginning of this year. I have done a completely new harvest, and there they have last updates at the end of May. I will re-create the MapRank database from this new harvest, but I don't see this as our fault. We rely on _incremental_ updates from OAI-PMH, and this is part of the contract. Downloading

[2014-06-15 17:09] JackuB commented on #181
I've added BackWPup plugin http://www.kartenportal.ch/wp-admin/admin.php?page=backwpupeditjob&tab=job&jobid=1&_wpnonce=81f9cfcf8f

I setup daily backup to folder. It can also do full backups to different FTP/dropbox etc.

Backup contains list of plugins, db dump and all files.

[2014-06-16 05:58] ethbib-susanne commented on #261
This will have to be analyzed in collaboration with swissbib. You are right that you have count on reliable database information.

[2014-06-16 14:25] ethbib-susanne opened #262 "Records with more than one field 034"
J have a suspicion that records with more than one MARC field 034 are not displayed in Kartenportal.CH. According to the specification (F.33) there should be two records in Kartenportal.CH each showing one extent of map:

Examples:
https://www.swissbib.ch/Record/184756758
https://www.swissbib.ch/Record/184728819

[2014-07-14 14:52] klokan commented on #261
We have done additional research on this ticket.

The OAI service provided by SwissBib has been broken in the week 26-30 May. They probably made some large changes on OAI and destroyed the service in a sense that it reported a wrong XML files during that period (while it was not down for maintenance).

The above mentioned two records were changed in SwissBib exactly on 27th May and this caused the

[2014-07-14 14:53] #261 closed, assigned to keosak

[2014-07-14 14:54] klokan commented on #262
This has been unfortunatelly a bug appearing after migration of the system to a new server.
It is fixed now and should not appear again. Thanks for reporting.

[2014-07-14 14:54] #262 closed, assigned to keosak

[2014-07-14 16:12] klokan commented on #260
Implemented: new white icons, application of changes in the geosearch, deployment. Done in 2:35.
Updated for using font on retina displays (another ~0:30).

Still missing: modifications in Wordpress - more complicated (compiled CSS via LESS).

[2014-07-14 16:41] klokan commented on #257
Deplyed.

[2014-07-14 16:41] #257 closed, assigned to klokan

[2014-07-14 16:48] klokan commented on #254
Removed from geosearch as well as from the wordpress theme.

[2014-07-14 16:48] #254 closed, assigned to klokan

[2014-07-14 17:16] klokan commented on #259
New library record created in WordPress, old deleted:
http://www.kartenportal.ch/library/RE31002/

[2014-07-14 17:16] #259 closed, assigned to nobody

[2014-07-14 18:35] #245 closed, assigned to o1da

[2014-07-14 18:35] #181 closed, assigned to nobody

[2014-07-14 18:40] klokan commented on #181
Wordpress upgraded to 3.9.1
New USB contains the backup from today and the installation protocol.

[2014-07-15 10:22] klokan opened #263 "Attributtes - suggestions in black font wrong"
FROM:zb
In the attributes window are now the suggestions in black which is clearly wrong. It should be light gray.

[2014-07-16 00:49] klokan commented on #263
Fixed by now - tested in IE 8 + 9.

[2014-07-16 00:49] #263 closed, assigned to nobody

[2014-07-17 07:33] klokan opened #264 "Linkfix in Wordpress"
FROM:zb
From http://www.kartenportal.ch/en/maps/typometry/, a click on the language button for French should lead to the French version http://www.kartenportal.ch/fr/maps/typometrie/. However, when this address is accessed directly, the English version appears, too. Instead, the French version should come.

[2014-07-17 07:34] klokan commented on #263
FROM:zb
Tested and accepted.

[2014-07-30 09:27] ethbib-susanne opened #265 "Map series not completely displayed"
There are not all sheets of the following map series displayed in Kartenportal:

http://suche.kartenportal.ch/#series&id=184864836

https://www.swissbib.ch/Record/18381892X
https://www.swissbib.ch/Record/183636287

[2014-07-30 09:29] ethbib-susanne commented on #265
Evertything is fine. J made a mistake. Sorry.

[2014-07-30 09:29] #265 closed, assigned to nobody

[2014-08-12 07:20] klokan opened #266 "Insert new e-mail address in Wordpress contact form"
FROM:zb
When a user fills in the main Kartenportal contact form

http://www.kartenportal.ch/kontakt/
http://www.kartenportal.ch/en/contact/
http://www.kartenportal.ch/fr/contact/
http://www.kartenportal.ch/it/contatto/

the e-mail should be sent to jost.schmid@zb.uzh.ch.

This ticket needs to be treated until 17 August 2014.

[2014-08-12 15:28] klokan opened #267 "Settings and functions in Wordpress after update"
FROM:zb
Text formatting settings in the Wordpress interface have changed after the update.

Please hide the text menu.

In the icons menu following icons should be visible (according to the setting before the update):
-   Bold
-   Citation
-   Standard numeration •
-   Insert link
-   Remove Link
-   Back
-   Forward

[2014-08-12 15:31] klokan opened #268 "Inserting Google places in Wordpress"
FROM:zb
After the Wordpress update it is not possible anymore to insert Google places for events. Please fix.

[2014-08-14 13:06] klokan commented on #264
FROM:zb
This issue is now rather urgent.

[2014-08-14 14:28] klokan commented on #266
Original email maps@library.ethz.ch was replaced by jost.schmid@zb.uzh.ch.

[2014-08-14 14:28] #266 closed, assigned to nobody

[2014-08-19 11:24] klokan commented on #267
FROM:zb
Susanne says that the text menu should be hidden, while the icons menu should still be displayed.

She says that the Insert Text Tool should be visible, too, in addition to the 7 icons mentioned in the previous comment of 12 August.

It should be ensured that the configuration does not change during a future update.

[2014-08-19 11:26] klokan opened #269 "Removing localisation menu in Wordpress"
FROM:zb
Since the Wordpress update all map collections have access to the Localisation interface. Remove this menu according to the setting before the update.

[2014-08-19 11:29] klokan opened #270 "Visibility of blog posts in Wordpress"
FROM:zb
Map collection users should only see their own blog posts. Only Admins see all blog posts.

Please restore visibility of blog posts according to the pre-update Wordpress settings.

[2014-08-19 12:33] klokan commented on #266
FROM:zb
Tested and accepted.

[2014-08-21 15:30] klokan commented on #264
This has been fixed temporarily last week - by renaming the URLs.
Clicking links on "fr", "en", "de", etc runs.

[2014-08-21 16:38] ghost opened #271 "A test ticket from clientportal"
FROM:test
This is a test ticket submitted from clientportal - to test notification to admin.

[2014-08-21 16:38] ghost opened #272 "A test ticket from clientportal"
FROM:test
This is a test ticket submitted from clientportal - to test notification to admin.

[2014-08-21 16:38] #271 closed, assigned to nobody

[2014-08-21 16:38] #272 closed, assigned to nobody

[2014-08-26 11:38] JackuB commented on #269
Menu is hidden for library users again.

[2014-08-26 11:38] #269 closed, assigned to JackuB

[2014-08-26 12:40] JackuB commented on #268
I fixed missing dependency that prevented map from loading in edit event screen.

Other than that: venues can be added/edited. Selected venue in post will be shown on front.

Can this be closed or bug was something else?

[2014-08-26 23:09] klokan opened #273 "/press/ section on Kartenportal.CH"
For the official project announcement for media we need to add a special page with structure similar to:

http://pressandpolicy.bl.uk/Press-Releases/Crowdsourcing-the-past-georeferencing-website-puts-historic-maps-in-their-place-5f1.aspx
or
http://epsg.io/about

It is a one-time page only. It will be avialble in 4 languages - and must link the images and zip.
Either we create it as a static page (

[2014-08-29 13:36] JackuB commented on #267
Menu has been simplified again.

![snimek obrazovky 2014-08-29 v 15 35 41](https://cloud.githubusercontent.com/assets/1788727/4090792/6f5df9ac-2f81-11e4-8be4-6ad2362ec163.png)

[2014-08-29 13:36] #267 closed, assigned to JackuB

[2014-08-29 13:37] #264 closed, assigned to JackuB

[2014-09-01 11:19] JackuB commented on #270
There was slight change in API that was used for changing counts (it's easy to hide posts from other users, but pagination is not working correctly right now) - issue is still in progress

[2014-09-04 18:01] JackuB commented on #273
May it be static page like http://www.kartenportal.ch/impressum/ ?

I've already created /press in admin. If we decide to change it's layout (let's say to full-width, we can do it by changing page template)

[2014-09-05 05:37] klokan commented on #273
We may need exactly the same layout, but with a custom content in the sidebar. Both the main body and the sidebar must be translatable.

[2014-10-02 16:03] hynekpridal opened #274 "K.1.1 - Thumbnails from MARC 856$u"
If a link in the MARC field 856 subfield u is a picture of e-manuscripta or e-rara, thumbnail from Swissbib is copied and displayed in the detail view.

eg thumbnail for
http://suche.kartenportal.ch/#id=197883192
will be taken from
https://www.swissbib.ch/Record/197883192)

[2014-10-02 16:09] hynekpridal opened #275 "K.1.2 - Scale Filter: prevent collision"
The scale in the box on the right must always be smaller than the scale in the selection box on the left. The reverse setting is newly impossible.

This is how it should be:
![richtig](https://cloud.githubusercontent.com/assets/8998570/4494045/71488d6c-4a4e-11e4-8f6f-87bd3451fc75.png)

And this is how it CANNOT be:
![lastenheft und technische offerte 2014 v0_1](https://cloud.githubusercontent.com/

[2014-10-02 16:14] hynekpridal opened #276 "K.1.3 - Design: gradients (buttons + result list)"
Buttons and marked results in the results list will be coloured with a gradient

[2014-10-02 16:18] hynekpridal opened #277 "K.1.4 - Map series: Merging via MARC 490$9 otherwise 490$a"
Linking the maps with the map series based on MARC field 490 show subfield 9
If no subfield 9 is present, subfield a is used.

[2014-10-02 16:25] hynekpridal opened #278 "K.1.5 - Map series: deleted records shown - OAI sync"
Deleted records in Swissbib should not be visible in the map series overview.

Example:
Carte de l'Afrique de l'ouest au. 1: 200 000 Bl R 11 [1954]
was in NEBIS and Swissbib deleted in the past, but it is still visible in Kartenportal:

http://suche.kartenportal.ch/#series&id=18489624X
http://suche.kartenportal.ch/#id=183362888

deleted record (1954):
![deleted](https://cloud.githubusercontent.com

[2014-10-02 16:36] hynekpridal opened #279 "S.1.1 - Collections web: no new window"
A click on the name of a collection will not open a new window/tab.

[2014-10-02 16:43] hynekpridal opened #280 "S.1.2 - Collections web: css / design / text changes"
Long links to the website are shown only up to the maximum width of the Info column (IE bug only?)

The full link is displayed on the hoover with a mouse

Instead of the button "Visit site" will be just the title "Website"

The icon before the title "E-mail" will be removed

![design](https://cloud.githubusercontent.com/assets/8998570/4494498/8066571c-4a52-11e4-991f-f32347957b96.png)

[2014-10-02 16:48] hynekpridal opened #281 "B.1.1 - Blog: linking the profile to the Event records"
The name of the collection that has captured an event will be linked with the profile (such as the posts under "News" and "Card portraits").

![b 1 1](https://cloud.githubusercontent.com/assets/59284/4644404/8fe7e68a-545a-11e4-818a-8c4f9dd4ed2c.png)

[2014-10-03 08:19] klokan commented on #274
The given example on SwissBib is using this thumbnail link:
https://externalservices.swissbib.ch/services/ImageTransformer?imagePath=http://opac.nebis.ch/thumb_zb/1/MK_0181_01_tn.jpg&scale=1

It looks like we have to construct it from the field

[code]

where is mentioned the `MK_0181_01_tn.jpg`.

We need exact specification of rules for usage of the thumbnails in SwissBib. To be discussed with Sw

[2014-10-06 10:06] klokan opened #282 "Autocomplete direct Enter issue"
By the usability test was identified a bug in the autocomplete.

It may happen the when Enter is hit by the user an unrelated item may be displayed because it was selected for the old phrase.

(reported by Petr Pridal)

[2014-10-09 08:58] keosak commented on #277
@petrsloup The "series" field in the MapRank JSON reponse is now a series identifier. It should be used to compute the MD5 hash for series visualization as before. For display, there is a new field "series_name".

[2014-10-09 13:20] klokan commented on #277
The priority of fields is: 490$9 then 490$a then 830$a

[2014-10-09 13:22] klokan commented on #276
Finished and deployed

[2014-10-09 13:22] #276 closed, assigned to petrsloup

[2014-10-09 13:23] klokan commented on #275
Implemented as disabled valued - dynamically set. Deployed.

[2014-10-09 13:23] #275 closed, assigned to petrsloup

[2014-10-09 13:24] klokan commented on #282
Deployed.

[2014-10-09 13:24] #282 closed, assigned to petrsloup

[2014-10-13 08:00] #277 closed, assigned to nobody

[2014-10-14 17:18] klokan commented on #274
It is still unclear how to get the URL to the thumbnail from MARC:
http://opac.nebis.ch/thumb_zb/1/MK_0181_01_tn.jpg

[2014-10-14 19:28] keosak commented on #278
In response to the `Identify` OAI-PMH verb, the Swissbib server responds with `deletedRecord = transient`. This was not the case with the old server. According to the protocol specification:

Source: http://www.openarchives.org/OAI/openarchivesprotocol.html#DeletedRecords

The server doesn't support incremental harvesting with respect to deleted records, hence it doesn't work properly.

I will exp

[2014-10-15 09:32] klokan commented on #274
The information may be on the SwissBib Wiki, but we (user "PetrP") don't have access to it now:
http://www.swissbib.org/wiki/index.php?title=Thumbnail_locations

[2014-10-15 09:40] klokan commented on #278
Let's go for the hybrid strategy now. Once a week a full harvest, every day incremental @keosak.
That's all what we can do to improve reliability of the Kartenportal sync with the existing SwissBib server.

We need from SwissBib information about their preferred proper solution - if it is possible to provide a correct information about deleted records via OAI-PMH incremental harvesting, as it was

[2014-10-15 10:23] klokan commented on #279
http://www.kartenportal.ch/en/map-collections/ and all other language versions are opening in the same window now.

[2014-10-15 10:23] #279 closed, assigned to nobody

[2014-10-15 11:32] klokan commented on #281
The originally displayed name of the venue has been now replaced by the author of the post (with a link to the profile).
The changes propagated to the event detail page as well, when on the top is now only date and the name of the venue was added bellow to the venue address.

[2014-10-15 12:23] klokan commented on #280
Should be fixed by now:
http://www.kartenportal.ch/en/library/AKB/

[2014-10-15 12:23] #280 closed, assigned to nobody

[2014-10-15 12:28] klokan commented on #280
Extra testing in IE 9, shortening of the url runs fine.

[2014-10-15 12:38] klokan commented on #260
Points 1.3 and 1.5 solved properly in Wordpress / Blog with #280

[2014-10-15 17:13] klokan commented on #274
It seems the only proper way how to display thumbnails visible in SwissBib is to reimplement (and keep in sync) their code from:
https://github.com/swissbib/vufind/blob/development/module/Swissbib/src/Swissbib/RecordDriver/SolrMarc.php#L548

[2014-10-16 09:11] ghost commented on #275
FROM:admin
Markus, could you please verify?

[2014-10-16 09:17] klokan commented on #276
Markus, could you please verify?

[2014-10-16 09:18] ghost commented on #277
FROM:admin
Markus, could you please verify?

[2014-10-16 09:27] klokan commented on #279
Markus, could you please verify?

[2014-10-16 09:28] klokan commented on #280
Markus, could you please verify?

[2014-10-16 09:28] klokan commented on #281
Markus, could you please verify?

[2014-10-16 09:29] klokan commented on #282
Markus, could you please verify?

[2014-10-16 09:40] klokan commented on #274
Markus, this is now being implemented. To be finished and available online later today.

[2014-10-16 10:20] keosak commented on #278
Pending information from Swissbib, we have adopted the following procedure. Every Sunday we do a full harvest. Every other day we do an incremental harvest on top of the data from previous day.

[2014-10-16 10:49] ghost commented on #275
FROM:zb
Tested and accepted.

[2014-10-16 10:56] ghost commented on #276
FROM:zb
Tested and accepted.

[2014-10-16 12:02] ghost commented on #279
FROM:zb
Tested and accepted.

[2014-10-16 12:08] keosak commented on #274
I have re-implemented thumbnail parsing from the PHP code mentioned above. The code is now deployed and the new database is online. There are 7611 records with thumbnails now, up from 4344 before.

[2014-10-16 12:12] ghost commented on #280
FROM:zb
Tested and accepted.

[2014-10-16 12:49] ghost commented on #282
FROM:zb
Have not seen that bug myself and was unable to reproduce it before and now.

[2014-10-16 12:50] ghost commented on #278
FROM:zb
Will both the full and the incremental harvesting run automatically?

Do we have extra costs because of the hybrid harvesting strategy?

[2014-10-16 13:07] ghost commented on #273
FROM:zb
This issue to be fixed until evening of 20 October at the very latest.

Kartenportal's Admin will then upload some images and text files. Or should these files sent to Klokan Tech in order to be uploaded at short notice?

[2014-10-16 13:41] ghost opened #283 "Sorting of records with identical bounding-boxes"
FROM:zb
Records with identical bounding-boxes in MARC field 034 shoud be sorted in the Trefferliste according to the year in descending order.

See also old issue #68 (2013-05-31).

[2014-10-16 14:32] ghost commented on #268
FROM:zb
The bug has been reported by Susanne. It seems that the reported bug has been fixed since. Please close this ticket.

[2014-10-16 14:35] ghost commented on #270
FROM:zb
We do not see the posts of other users now. In that regard the bug has been fixed.

@JackuB: Please still check whether pagination works correctly.

[2014-10-16 15:05] klokan commented on #268
Closed.

[2014-10-16 15:05] #268 closed, assigned to JackuB

[2014-10-16 15:24] ghost commented on #278
The harvesting is automated.
There are no extra costs.

[2014-10-16 15:46] ghost opened #284 "Add link for earlier editions in Trefferliste"
FROM:zb
Sheets belonging to a map series often have earlier editions, for example http://search.kartenportal.ch/#id=055252753. When this is true, a link should be displayed in the Trefferliste called "Earlier editions of this map". See for example here http://search.kartenportal.ch/#id=258660600.

These links should be added whenever there are earlier editions of the particular sheet that belongs

[2014-10-16 16:21] klokan commented on #284
I see the link to earlier editions in both mentioned records.

The two mentioned records has distinct identifier of the serie in 490$a:
- https://www.swissbib.ch/Record/055252753 has MARC 490$a equal to 054981530
- https://www.swissbib.ch/Record/258660600 has MARC 490$a equal to 319258890
  These records are not merged by SwissBib either, therefore these should not be merged.

I cannot see a bug i

[2014-10-16 16:21] klokan commented on #283
We cannot reproduce the error.

The example in #68, e.g. http://search.kartenportal.ch/#bbox=73.49941360000002,18.153521599999994,134.77280955959213,53.56097399999999&q=atlas&date_from=1950&date_to=9999&scale_from=&scale_to=&libraries=

produces expected order, because there is always only a few maps with exactly the same bounding box, which are ordered, then comes another group with bounding box,

[2014-10-16 16:47] klokan commented on #274
Finished and deployed.
Markus, please verify.

[2014-10-17 09:50] ghost commented on #284
FROM:zb
Record http://search.kartenportal.ch/#id=055252753 (2012 edition) has two earlier editions, namely from 2001 and 1995. There are links to these two in the Detailansicht of the said record. However, the link "Earlier editions of this map (3)" is missing in the highlighted part in the Trefferliste. This is unlogical behaviour. See the attached screenshot to this e-mail.

I would have uploade

[2014-10-17 10:17] ghost commented on #283
FROM:zb
It can be reproduced easily, although only in conjunction with sheets from map series. The sorting is fine with atlases and single sheets.

Just two examples for sheets from map series:

(1) http://search.kartenportal.ch/#bbox=9.025587738281274,46.09827044192284,9.254753737008059,46.20777079798444&q=title%3Ajorio&date_from=0&date_to=9999&scale_from=25000&scale_to=25000&libraries=&map=road

[2014-10-17 15:15] ghost commented on #281
FROM:zb
We should find a small (I hope) workaround when the library is called "Kartenportal" (for example top event at http://www.kartenportal.ch/blog/event/ Panorama Thun). Clicking that "library" name links to its profile, but there is nothing of interest at all. Therefore we suggest to suppress the link if the "library" is "Kartenportal".

[2014-10-20 14:13] klokan commented on #273
http://www.kartenportal.ch/press/ exists and should be editable by the kartenportal user, since September 4th.

[2014-10-21 12:15] ghost commented on #273
FROM:zb
Sorry, we did not realise before that this section is ready. We now started with the upload of the press releases and the screenshots.

Feature tested and accepted.

[2014-10-21 16:08] #273 closed, assigned to JackuB

[2014-10-21 16:12] ghost commented on #284
FROM:info
Unfortunately adding images is not available at the moment. Can you please send us the screenshots with a reference to ticket #284 on info@klokantech.com? Thank you

[2014-10-21 16:15] klokan commented on #283
Could you please submit these images to info@klokantech.com?

[2014-10-22 14:21] keosak commented on #283
Previously, MapRank only sorted by date inside each series and its sheet. I have extended the sort to all records with the same similarity. Please verify that the results are now correct.

[2014-10-22 14:30] keosak commented on #284
Other versions of the sheet are mentioned in the Trefferliste only if they have the same similarity (ie. bounding box) as the currently selected version. This is logical in that we don't necessarily have the information needed to display the Detailsansicht for the versions with different bounding box. Clicking on an earlier version in the Treferrliste means something else than clicking on the same

[2014-10-22 15:37] ghost commented on #278
FROM:zb
In Detailansicht of record http://suche.kartenportal.ch/#id=258660600 the following earlier editions are listed:
... 2001 1995 1995 1990 ...

When one clicks on either of the year 1995, both change its colour to black indicating that there is actually only one record for the 1995 edition (http://suche.kartenportal.ch/#id=258660643) that nevertheless shows up twice. Please investigate wheth

[2014-10-22 15:57] hynekpridal commented on #278
![unnamed](https://cloud.githubusercontent.com/assets/8998570/4739370/2a47942e-5a04-11e4-9d70-7c28928aff10.png)

[2014-10-23 09:18] ghost opened #285 "Hide calendar"
FROM:zb
On short notice we have decided that the calendar should be hided for the present release. The navigation then looks like this:

Blog
Alle Einträge
Aktuell
Veranstaltungen
Kartenporträts
Tags
Suche
RSS

Do accordingly in the other three language versions.

Note that further developments in connection with calendar and events are scheduled for the 2015 developments under items A.1.4, B.1.2

[2014-10-23 18:54] klokan commented on #285
The calendar widget is now hidden.

[2014-10-23 18:54] #285 closed, assigned to nobody

[2014-10-23 19:34] klokan commented on #281
Hiding "Kartenportal" author on events - as requested in #281
implemented in 540b765f720ee88c3f28df6336e1628639a61aa7

[2014-10-23 19:34] #281 closed, assigned to nobody

[2014-10-24 06:53] ghost commented on #281
FROM:zb
Tested and accepted.

[2014-10-24 07:48] ghost commented on #284
FROM:zb
I see. This issue needs more investigation and discussions with Kartenportal members. It should remain open because we will come back to it later (2015ff.).

[2014-10-24 07:54] ghost commented on #283
FROM:zb
Tested and accepted.

[2014-10-24 08:01] ghost commented on #278
FROM:zb
I just noted that in the cases shown above (i.e. when records show up twice) there are 2 MARC 034 fields within the same record. This is a Swissbib problem and it has nothing to do with the present issue here. Please close issue.

Tested and accepted.

[2014-10-24 08:38] #283 closed, assigned to nobody

[2014-10-27 08:55] klokan commented on #274
We have to keep the source code in sync in future.
This is the page where we have to check the availability of changes:

https://github.com/swissbib/vufind/commits/development/module/Swissbib/src/Swissbib/RecordDriver/SolrMarc.php

[2014-10-27 11:46] #278 closed, assigned to nobody

[2014-11-06 13:32] klokan commented on #270
It seems it is still possible to see on a test server the "map portraits" posts of other libraries, if I am logged in as a test library.

[2014-11-06 13:55] ghost commented on #210
FROM:zb
Please close issue. Has been deployed with issue #277.

[2014-11-06 13:57] #210 closed, assigned to nobody

[2014-11-06 16:56] ghost commented on #274
FROM:zb
Clicking on a thumbnail in Detailansicht should open a new window if there is an URL behind the thumbnail.

[2014-11-14 08:14] ghost opened #286 "Bug: Detailansicht layout when libraries are missing"
FROM:zb
There is a layout bug in Detailansicht of records which have no assigned library. Example: http://suche.kartenportal.ch/#id=172404916

Because there is no library no address can be shown, i.e. there is only one row of information instead of two at the right of the catalogue button. The layout should be flexible in order to fit the button completely between the upper and lower dividing line

[2014-11-24 20:15] klokan commented on #274
Done. Deployed.

[2014-11-24 20:15] #274 closed, assigned to klokan

[2014-11-25 16:43] #260 closed, assigned to nobody

[2014-11-25 16:44] klokan commented on #252
Duplicate to #286

[2014-11-25 16:44] #252 closed, assigned to nobody

[2014-11-25 16:45] klokan commented on #286
Change in compiled JavaScript required. This is not in templates.
After implementation we need to check also the example reported in #252.

[2014-11-26 08:58] petrsloup commented on #286
@klokan Layout fixed in the CSS. To be deployed.

[2014-11-26 13:22] ghost opened #287 "Bug: Map series index missing with new record"
FROM:zb
The new record http://suche.kartenportal.ch/#id=326348123 (Trinidad 1:25,000 soils) is a map series. There are 38 sheets belonging to that series, for example http://suche.kartenportal.ch/#series&id=326805427 (sheet 72).

The map series index is only visible for just one single sheet when one clicks the appropriate button. The neighbouring sheets are not displayed. However, the Swissbib hi

[2014-12-01 11:43] klokan commented on #286
Deployed.

[2014-12-01 11:43] #286 closed, assigned to petrsloup

[2014-12-01 11:45] klokan commented on #287
To be tested now - after the regular import is done. @keosak PLS
Tracking to kartenportal2014

[2014-12-01 14:41] keosak commented on #287
@clientportal

This problem was caused by the automatic update failing. We have been using a JSON document at https://test.swissbib.ch/mapportal_all.json to generate statistics about the number of records in each institution. However, the URL now returns status code 404 (Not Found). This crashed the update process and new records didn't enter the database.

I have removed the statistics update fro

[2014-12-01 16:15] keosak commented on #287
Changed the URL to https://www.swissbib.ch/mapportal.json.

[2014-12-02 15:49] klokan opened #288 "Analytics via Piwik"
Install and integrate open-source analytics Piwik on the Kartenportal server.

We need to parse also existing logs from the past - so the basic data are available also retrospectively.

To be tracked under "kartenportal2014"

[2014-12-02 15:50] #287 closed, assigned to keosak

[2014-12-03 14:09] klokan commented on #288
The tasks here:
- [x] Install piwik on http://www.klokantech.com/analytics/ and configure there Kartenportal project
- [x] URGENT: Provide us with new JavaScript tracking code which should be included in both WordPress and GeoSearch
- [ ] Collect all old server access logs (from lisa, scratchy + backup of old bart) and process these so we see the reports online.

[2014-12-08 17:01] klokan commented on #288
JavaScript tracking code for the newly installed Piwik:

[code]

[2015-01-05 14:03] #288 closed, assigned to o1da

[2015-01-05 14:04] klokan commented on #288
Access to Analytics provided via email. Installation of Piwik finished.

[2015-02-11 11:05] ghost opened #289 "Bug: Library list"
FROM:zb
The library list in the library filter suddenly disappeared. The only item currently on display is "all Swiss libraries". The library list must be visible at any time.

The bug was first noticed at 10 February 2015 using IE 10 (other browsers not tested).

[2015-02-11 12:50] klokan commented on #289
@keosak - please verify and fix ASAP. Thanks!

[2015-02-12 09:41] keosak commented on #289
On February 10, the OAI-PMH server was malfunctioning, returning HTTP status code 500 to all requests. This crashed the update process and caused an empty `swissbib.js` to be generated as a result. The OAI-PMH server is working now and I have started the update procedure manually. I have also modified the process to be fail-safe in this scenario.

[2015-02-12 09:41] #289 closed, assigned to keosak

[2015-03-31 13:54] ghost opened #290 "A.1.4 start page, showing event dates"
FROM:zb
When an event appears on the start page, the date immediately below the event title should be the date of the event, not the date when the event was blogged.

Example: the current event in the left column (Kolloquium zu historischen Orthophotos) was written on 31 March. That date should be hidden. Instead, the date when the event will take place should be shown, that is 17 April.

[2015-03-31 13:55] ghost commented on #290
FROM:zb
Why is the label of this issue @eth by the way?

[2015-03-31 14:04] ghost opened #291 "K.1.14 Translations"
FROM:zb
de: Karten für diese Region  (instead for: Karten für diesen Ort)
de: xx Karten gefunden

en: Maps for this area
en: xx maps found

fr: Cartes pour cette région
fr: xx cartes trouvées

it: Mappe per questa zona
it: xx mappe trovate

[2015-03-31 14:08] ghost opened #292 "K.1.16 Translations"
FROM:zb
de: Kartenwerk-Ansicht

en: Map series view

fr: Vue des séries de cartes

it: Modo di serie delle mappe

[2015-03-31 14:21] ghost commented on #292
FROM:zb
The sheet number label in the grey part of the map series info box should be translated as well.

de: Blattnummer: xx

en: Sheet number: xx

fr: Numéro de feuille: xx

it: Numero del foglio: xx

[2015-04-01 10:19] ghost opened #293 "Logins for new user"
FROM:zb
Please create logins for Roman Walt (eth-roman) who is the successor to Susanne in ETH. Logins are needed for:
- clientportal (this site)
- map search translations toolkit

His e-mail address is roman.walt@library.ethz.ch

Thank you.

[2015-04-07 12:37] klokan commented on #290
We will display the date of the event - but order of the news mixed with the events must be according their publishing date (only the latest one will appear).
This may case confusion to the users as the order makes not much sense once we display the date of the event only - and this is the primary reason why there were two distinct lists originally.

Let's display the event date - if this is order

[2015-04-07 12:45] petrsloup commented on #291
Deployed to the temporary hosting:
http://klokan.github.io/maprank-client/
http://klokan.github.io/maprank-client/index.de.html
http://klokan.github.io/maprank-client/index.fr.html
http://klokan.github.io/maprank-client/index.it.html

[2015-04-07 12:45] #291 closed, assigned to petrsloup

[2015-04-07 12:45] petrsloup commented on #292
Deployed to the temporary hosting:
http://klokan.github.io/maprank-client/
http://klokan.github.io/maprank-client/index.de.html
http://klokan.github.io/maprank-client/index.fr.html
http://klokan.github.io/maprank-client/index.it.html

[2015-04-07 12:45] #292 closed, assigned to petrsloup

[2015-04-08 07:14] ghost commented on #290
FROM:zb
We need the event date displayed. Perhaps with the new CMS it becomes possible to (a) order the events according to event date, and (b) to display both event and publication dates, for example:

Event XY
14 April 2015 - 15 April 2015
text text and text text and text text etc
published: 31 March 2015

@eth is OK of course. I was confused because @eth was the only label and @zb was missing .

[2015-04-08 07:57] ghost opened #294 "Start page title change (layout with title spanning two columns)"
FROM:zb
As we now display 2 events on the start page that may come from the same category, we find it confusing that the overall news title is "Latest news", which is similar to one of the Blog categories ("News") but seems to exclude the second Blog category ("Exhibitions and Events"). Also, the overall news title should optically belong to both columns, i.e. the grey dividing line should only st

[2015-04-08 08:11] ghost opened #295 "A.1.2 Menu font size"
FROM:zb
The top menu bar font size has been reduced due to the additional menu item. That is an acceptable solution. However, we think that the font size is now rather small. However, there is still room to both left and right of the menus. Try top menu bar font size a little larger, perhaps plus 1 pt.

[2015-04-08 08:31] ghost opened #296 "K.2.1 Position of red rectangle and arrow design"
FROM:zb
The new red rectangle that points the user to the result list should overlap the place input field as shown in the Lastenheft/technical requirements. Currently it is close to the result list. According to our tests, users do not see it because they still focus the place input field. Therefore, the red rectangle must overlap the place input field or be at least very close to it.

In additio

[2015-04-08 08:34] klokan commented on #295
The problem is the length of the new menu. With one size bigger font the layout already breaks:
![screen shot 2015-04-08 at 10 29 19](https://cloud.githubusercontent.com/assets/59284/7041530/50074970-ddda-11e4-86c0-a141f0fb231e.png)

Nice menus has short single word titles. Long two words titles are against usability and makes the website harder to read and ugly, and are enforcing smaller fonts.

[2015-04-08 08:53] ghost opened #297 "K.2.3 Attributes advanced search"
FROM:zb
The advanced search part of the attributes window should retract
- either when the user deletes all attributes by clicking on the [x] control in the blue box
- or when the user leaves the window without filling in any attribute at all

This is to make sure that the attribute window is always in its default position when it is not in use. Currently, the advanced search part remains open eve

[2015-04-08 08:54] klokan commented on #294
OK. This is a new request. Change of the existing responsive layout may be required here - not estimated in the original ZB contract.
Time on this ticket to be tracked to Kartenportal Maintenance 2015.

![image001 2](https://cloud.githubusercontent.com/assets/59284/7041653/7c891a90-dddb-11e4-8fd9-85c58d848d55.png)

[2015-04-08 09:20] klokan commented on #296
![screen shot 2015-04-08 at 11 18 00](https://cloud.githubusercontent.com/assets/59284/7042298/25a79e30-dde1-11e4-8911-33b8c749488a.png)

[2015-04-08 09:28] ghost opened #298 "K.2.10 Filter tooltip"
FROM:zb
The new tooltip that indicates that filters are set should appear also when the cursor is hovering over the filter menus, not only when hovering over the "Filters are set" label.

[2015-04-08 09:32] ghost opened #299 "Bug: Scale filter handling"
FROM:zb
The scale filter consists of 2 pop-ups. When one of them is used, the second is blocked until the window is closed and reopened or until the scale filter is reset by clicking the [x] control.

IE only, other browsers not affected.

[2015-04-08 09:40] ghost commented on #294
FROM:zb
How many hours, approximately?

[2015-04-08 09:45] klokan commented on #294
Around 2 hours (changes in layout with new translated texts of variable length, testing before deployment in multiple browsers, deploy).

[2015-04-08 09:53] klokan commented on #299
Could you please provide an information about which version of IE is affected?

I expect this is a bug production version of the system at http://suche.kartenportal.ch/ - not a bug related to new development in ZB contract, correct?

[2015-04-08 10:10] ghost commented on #299
FROM:zb
Seen in IE10.

This seems to be a bug in the productive system that is not newly introduced with the current developments. Therefore this goes to the 2015 maintenance budget.

[2015-04-08 10:23] ghost commented on #294
FROM:zb
OK, go ahead.

[2015-04-08 13:09] petrsloup commented on #296
Modified according to the mockup and deployed to the temporary hosting.

[2015-04-08 13:09] petrsloup commented on #297
Implemented and deployed to the temporary hosting.

[2015-04-08 13:09] petrsloup commented on #298
Implemented and deployed to the temporary hosting.

[2015-04-08 13:34] petrsloup commented on #299
I'm not able to reproduce this bug in any browser (including IE 9, 10, 11) at http://suche.kartenportal.ch/ or http://klokan.github.io/maprank-client/. I tried searching for possible causes of this problem, but didn't find any definite reason for this behavior.

What version of Windows is running on the affected computer? Is it a touch-enabled device or a regular computer? Have you seen this probl

[2015-04-08 14:28] eth-zz commented on #290
Please stop including/tagging username @eth I have nothing to do with this project.

[2015-04-08 14:32] ghost opened #300 "Bug: clientportal e-mails"
FROM:zb
When I open a new issue, an e-mail is sent @zb. At any further comment, an e-mail is sent both @zb and @eth. The latter behaviour is fine. Please check why at opening no e-mail is sent @eth, although the label @eth is assigned automatically.

Conversely, when ETH opens an issue, e-mails should be sent both @eth and @zb

[2015-04-08 14:44] ghost commented on #300
FROM:zb
Compare #290 last comment.

[2015-04-09 14:55] klokan commented on #293
I have submitted Roman the access information to clientportal - and his email address is now set as the main contact for ETH.

The Map Search translation toolkit is not in active use now - for the new development.

[2015-04-09 14:55] #293 closed, assigned to klokan

[2015-04-09 17:44] klokan commented on #300
Submission of the email to other customers on the same project after creating a new ticket in ClientPortal is fixed now.

Emails should be delivered to Roman from ETH.

Ticketing system is switching to internal project (for Kartenportal 2015 project in ClientPortal) for the new tickets so the @eth user should not be alerted by GitHub in future.

[2015-04-09 17:44] #300 closed, assigned to nobody

[2015-04-10 06:43] ghost commented on #295
FROM:zb
We have reviewed the problem. We agree with a rewording in the menu bar, the title of the map gallery at the bottom of the start page, and the title top left below the logo on the map pages (example http://www.kartenportal.ch/it/maps/panorama/):

de: Kartentypen  (instead of: Wissenswertes // Wissenswertes über Karten)
en: Map types  (instead of: Worth knowing // Worth knowing about maps)

[2015-04-10 09:59] daliborjanak commented on #290
Implemented. If post is event that is displayed event date. Unless the publication date is displayed. Please verify

[2015-04-10 12:18] ghost commented on #290
FROM:zb
Tested. The display of dates (event dates, publication dates) needs to be reviewed again under the new CMS.

Please close.

[2015-04-10 12:19] ghost commented on #298
FROM:zb
Tested. Please close.

[2015-04-10 12:20] ghost commented on #297
FROM:zb
Tested. Please close.

[2015-04-10 13:13] #297 closed, assigned to petrsloup

[2015-04-10 13:14] #298 closed, assigned to petrsloup

[2015-04-10 13:14] #290 closed, assigned to daliborjanak

[2015-04-13 09:16] daliborjanak commented on #295
I changed translations and also I raised size of menu to original size.

[2015-04-13 09:18] klokan commented on #295
Thanks @daliborjanak.

We need confirmation from Markus now.

Once confirmed - the same menu must be applied to the Search templates by @petrsloup

[2015-04-14 07:00] ghost commented on #295
FROM:zb
Tested.

Menu can now be applied to the Search template.

[2015-04-14 07:14] petrsloup commented on #295
Deployed to the temporary hosting:
http://klokan.github.io/maprank-client/
http://klokan.github.io/maprank-client/index.de.html
http://klokan.github.io/maprank-client/index.fr.html
http://klokan.github.io/maprank-client/index.it.html

[2015-04-14 07:15] #295 closed, assigned to petrsloup

[2015-04-14 08:08] ghost commented on #295
FROM:zb
Tested.

[2015-04-15 06:44] klokan commented on #296
Markus - could you please comment?

The implementation is visible in an incognito mode of a browser (simulating first visit) at http://klokan.github.io/maprank-client/

It looks like:
![screen shot 2015-04-15 at 08 40 26](https://cloud.githubusercontent.com/assets/59284/7153417/8fdce160-e34b-11e4-84d3-b2097539b066.png)

[2015-04-15 07:02] ghost commented on #296
FROM:zb
Tested and accepted.

[2015-04-15 07:02] #296 closed, assigned to petrsloup

[2015-04-15 07:17] ghost commented on #299
FROM:zb
We made further tests. It seems that the bug only occurs in IE10 running on Citrix clients or on special Windows Server installations. Other (stand-alone) computers are indeed not affected. It would therefore be disproportionate to work on this issue anymore. Please close.

[2015-04-15 07:18] #299 closed, assigned to petrsloup

[2015-04-15 07:25] klokan commented on #294
The work on this has started. After 1 hour we have to correct the estimate unfortunately.
Total required time is 4 hours - including testing in different browsers and deploy.
Shall we continue or stop?

[2015-04-15 07:34] ghost commented on #294
FROM:zb
Well ... OK, go ahead. 4 hours max on 2015 maintenance.

[2015-05-04 07:10] ghost commented on #294
FROM:zb
We are looking forward to hearing whether this issue can be deployed and closed soon.

[2015-05-13 09:49] daliborjanak commented on #294
Sorry for the delay, I was out of office. I changed desired composition and I also updated translations. Please review

[2015-05-13 10:00] ghost commented on #294
FROM:zb

Start page is now fine. Do not forget the Blog (see opening remark of this issue).

[2015-05-13 11:17] daliborjanak commented on #294
Thanks for reminding. I renamed also blog now

[2015-05-19 08:01] ghost commented on #294
FROM:zb

Still to do in the Blog (en)
- the menu item should be "Exhibitions and events" (it is still "Exhibitions and Events")
- the grey title top right should be identical "Exhibitions and events" (it is still "Events").

[2015-05-20 15:39] daliborjanak commented on #294
Changed.

[2015-05-20 15:39] #294 closed, assigned to daliborjanak

[2015-05-21 05:36] ghost commented on #294
FROM:zb

Tested and accepted.