[2013-04-10 06:28] klokan opened #1 "Admin: Simplified editor for the blog / news / events posting"
In the administration interface for libraries as contributors we need simpler interface.

The librarians are going to be scared by the Wordpress default options.

At least the editor for the textarea of the posts must be simple.

Simple text editing bold / italic / underlined + links + upload of an image and including the image would be better.

---
1. Erfassung von Beiträgen (Blog, News, Event)

[2013-04-13 16:58] klokan opened #2 "Library detail page"
The layout of the library detail page should be changed.

It should contain only a small static map - which after click goes to relevant address on http://maps.google.com/ (we did it on http://www.bmarchives.org/contact).

The layout should count with missing Events / Annoucements / Maps.
It should make more prominent the textual information and data about library. On the older layout the map has

[2013-04-13 17:29] klokan opened #3 "Contact page"
The contact page linked from the footer should contain a simple contact form, probably with recaptcha to protect against SPAM / robot submission.

http://kartenportal.klokantech.com/contact/

[2013-04-16 06:51] klokan opened #4 "External links must be marked with a special symbol via CSS"
We may need to add a plugin such as "External Links".

http://www.semiologic.com/software/external-links/

[2013-04-19 12:38] klokan opened #5 "Map Gallery (Wissenwertes Karten)"
Please find attached the texts and pictures for section „maps“ (things worth knowing):

https://docs.google.com/a/klokantech.com/file/d/0BwUe1kqIRJWSMHM4WjNtaU11dGs/edit?usp=sharing

The texts are partly real, partly dummies with a realistic length. Please use them twice to have a realistic amount of items.

The definitive texts will be filled in by Markus and me as soon as available (we work on i

[2013-04-19 12:41] klokan opened #6 "Front page - change of the main photo"
Here is a mockup of the frontpage with changed photo according the request:

![kartenportal-webdesign-v4-homepage18](https://f.cloud.github.com/assets/59284/401901/3724554c-a8ee-11e2-9a07-1bf2dd8ce7d8.jpg)

Visually the original photo is more balanced with the website, but there are reasons for changing it.

We need definitive confirmation from Susanne, if this should be used or the existing "girl

[2013-04-19 12:43] klokan commented on #2
The mockup of the design of library detail page is here:

![kartenportal-webdesign-v4-libraries-detail06](https://f.cloud.github.com/assets/59284/402149/d74eae02-a8f6-11e2-8249-e34690c90451.jpg)

We need confirmation from Susanne, if this should be implemented into HTML.

[2013-04-19 13:44] klokan commented on #2
Note: If there are no Upcoming events and News - right block including the vertical line is removed.

[2013-04-19 14:09] klokan opened #7 "WordPress in GIT"
We need to put the whole WordPress installation into GitHub, to allow team work on the styles and automatic deployment by committing to master - into production server.
The repository is private - "klokan/kartenportal".

Here are some notes:
http://stevegrunwell.com/blog/keeping-wordpress-under-version-control-with-git

[2013-04-19 14:15] klokan opened #8 "Domain KartenPortal.ch: Klokan Technologies GmbH as administrative contact"
We need the rights to change DNS records to point the domain to the production server.

We may also set the development server to dev.kartenportal.ch for now and locate there the geosearch interface.

[2013-04-20 11:38] JackuB commented on #1
![kp](https://f.cloud.github.com/assets/1788727/405069/b15ce962-a9ae-11e2-8efe-c5820466c4cd.PNG)

Editor window is now greatly simplified

[2013-04-20 12:18] klokan opened #9 "Fix footer and header"
Header should support full responsive interaction. Now it is broken.

Footer as well.

Normally the footer should look like:

![footer](https://f.cloud.github.com/assets/59284/405101/4aebdf84-a9b4-11e2-9cea-4dd871b01b6b.jpg)

[2013-04-20 12:21] klokan commented on #5
@JackuB On the front page will be displayed 5 random maps selected from these.

[2013-04-20 12:24] klokan opened #10 "Services"
The services should look like on this mockup:

![kartenportal-webdesign-v4-services-detail09](https://f.cloud.github.com/assets/59284/405107/3f8d4f32-a9b5-11e2-860c-a9e87468b70e.jpg)

[2013-04-20 12:29] klokan commented on #10
The photo should be aligned to red line in the header.

[2013-04-20 12:31] klokan commented on #5
The detail page of a map is going to look similar to the Services (#10). The thumbnails on the bottom should be scrollable.

[2013-04-20 12:36] klokan opened #11 "GeoSearch integration with the web"
We will host it as static files (HTML,CSS,JS) on URL:

/karten/
/en/maps/
/fr/cartes/

Let's prepare a stub (empty index.html) into GIT and production server.

[2013-04-20 12:38] JackuB commented on #11
http://kartenportal.klokantech.com/karten/

http://kartenportal.klokantech.com/en/maps/

[2013-04-20 12:48] klokan opened #12 "Libraries dynamic JSON export into GeoSearch"
We need to specify exact format, and have sample data in in the database (#13).

Now it is waiting for sample data and implementation on the backend.

[2013-04-20 12:50] klokan opened #13 "Libraries - the database initial data"
The clear structure (possible fields) in english must be clarified.
The initial data for importing into database of libraries needs to be provided.
Then importing and implementation on the server side (WordPress) is the next step.

[2013-04-20 12:55] klokan commented on #13
A sample record originally provided:
https://docs.google.com/a/klokantech.com/file/d/0BwUe1kqIRJWSYWxjV2VZS1FxU0E/edit

[2013-04-20 13:17] klokan opened #14 "Confirmation of the post by libraries required by admin"
The new events, announcements, must be confirmed by admin, before publishing.

[2013-04-20 13:23] klokan commented on #1
Thanks

[2013-04-20 13:23] #1 closed, assigned to nobody

[2013-04-20 13:30] klokan commented on #13
The complete database of all Swiss libraries is available from SwissBib at:

http://www.swissbib.ch/libraries

and downloadable at:

http://www.swissbib.ch/libraries/tpgreen-libraries.xml

The XML file is updated in case there is a change in SwissBib database - we have parsing script and we could probably implement a synchronisation of the two databases.
We have also the old obsolete Kartenportal

[2013-04-20 14:11] klokan opened #15 "Calendar page"
Now we have the calendar with events at:
http://kartenportal.klokantech.com/kalender/

It is not clear how to make the design - full width?, upcoming events on the side?

How to make linking to this page - should it be also in the blog side bar?

[2013-04-20 14:18] JackuB commented on #3
Are fields for contact form specified?
Right now Name, Email and Message is active. Will we want any other?

Also (multilanguage) text for confirmation email is required (e.g. "We received your message..")

[2013-04-20 14:21] klokan commented on #3
This should be appropriate for now.
What about SPAM protection and configuration of the address where we deliver email?
How are the emails submitted? Can we use custom SMTP with authentication (such as GMail account SMTP) instead of the direct submition from the server (which could be possibly dangerous).

[2013-04-20 21:27] klokan commented on #7
The Kartenportal website runs via Git with auto deployment now.

[2013-04-20 21:27] #7 closed, assigned to klokan

[2013-04-20 21:33] klokan commented on #5
@radimkacer We need to prepare the thumbnails and previews.

[2013-04-21 07:55] JackuB commented on #4
Done

[2013-04-21 13:00] JackuB commented on #9
Done

[2013-04-21 14:31] klokan commented on #9
Thank you. It looks great.

Two small issues: The footer should have Facebook,Twitter,Google+ and "Share" on the left.
In the header the selection of languages should have the same size in the curtain as they have in the upper right corner.

Then please close this ticket.

[2013-04-21 14:35] klokan commented on #9
One more small issue - the red line on top of logo in header must be always aligned to the left corner of the content in the page. It is especially visible on the front page - when resizing the block in the front picture does not always align to the header (for example if the page has width 1080px).

[2013-04-21 15:34] JackuB commented on #14
Users (libraries) now see this box with "submit for review" button.
![review](https://f.cloud.github.com/assets/1788727/406501/4498c43c-aa98-11e2-966a-46984bbde636.PNG)

All admins will then receive this email
![review2](https://f.cloud.github.com/assets/1788727/406502/451da990-aa98-11e2-9cc2-210389b4ecef.PNG)

If post will not have translations - admin just need to approve one post. But if user c

[2013-04-21 15:37] JackuB commented on #9
What functionality should "Share" have?

We may use this for sharing options - http://sharethis.com/

[2013-04-21 15:54] JackuB commented on #9
Ad red line on top: it should be aligned in all resolutions

Ad language select: I made it bigger on purpose - it was prone to missclicks (button was smaller than 40px)

[2013-04-21 19:27] JackuB commented on #10
Services page is ready - that map slider at bottom is missing

[2013-04-21 20:38] klokan commented on #10
Thank you The map slider at bottom is suppose to be the slider with the five thumbnails of the different services in this case.

[2013-04-21 20:45] klokan commented on #9
Implementation of the Share is available here: http://dev.klokantech.com/klokan/share.html

[2013-04-21 23:26] JackuB commented on #3
For SMTP support we should switch to http://www.gravityforms.com/ (they also have improved multilang support)

Dumb, but working version is live here: http://kartenportal.klokantech.com/contact/

[2013-04-21 23:43] JackuB commented on #9
Done

[2013-04-22 11:09] ethbib-susanne commented on #6
Dear Petr

Markus and J could not access the ticket pages because you have sent us a wrong URL by e-mail. J sent an email on 12th april asking for the correct URL ... Finally J realized that J could find the kartenportal tickets searching with keywords.

Here my answer:
J confirm the new phot for the frontpage. As we choose it for the maps on the table J would prefer if the picture was a little lo

[2013-04-22 11:17] ethbib-susanne commented on #15
J suggest that there is no seperate calender page. Events are listed od the blog page. Events can be displayed using a filter. If somebody clicks on an event on the frontpage this filter is set on the blog page and only events are displayed. The calender is displayed in the blog side bar. If somebody clicks on a date in the calender only events are displayed.

[2013-04-22 11:30] ethbib-susanne commented on #13
How will we proceed? Will J complete the data in the kartensammlungen interface. What about the map collections that are not on the swissbib list?

[2013-04-22 11:35] ethbib-susanne opened #16 "Distinction between internal and external links"
Internal and external links should have different appearance.

Example on ETH Wissensportal:

![link](https://f.cloud.github.com/assets/4223790/408904/a7805706-ab40-11e2-90c8-2a0653789262.jpg)

[2013-04-22 11:36] klokan commented on #16
Duplicate to:
https://github.com/klokantech/kartenportal-tickets/issues/4

[2013-04-22 11:36] #16 closed, assigned to nobody

[2013-04-22 11:44] ethbib-susanne opened #17 "Font color"
The grey font must be darker. The reason are aged people (barierre freeness) and use of portable devices under unfavorable lighting conditions.

[2013-04-22 11:50] ethbib-susanne commented on #2
The font size of the main information is to small. J would prefer if the publications were displayed on the right side underneath News. Then the 'find maps' button should be beneath the send email link.

[2013-04-22 12:28] klokan commented on #9
Blog layout is now broken (footer wrong, missing sidebar):
http://kartenportal.klokantech.com/karten-blog/

as well as the header on the detail page (as discussed before):
http://kartenportal.klokantech.com/events/event/another-event/

[2013-04-22 12:30] klokan commented on #4
Temporary demo: http://kartenportal.klokantech.com/map/hullo-werld/ and link to Google.com

[2013-04-24 09:28] ethbib-susanne opened #18 "Font size"
The font size should be the same on all pages. For body texts 13 px seems to be ideal in matters of readability. Now font size spreads between 11 and 13 px.

[2013-04-24 15:36] ethbib-susanne opened #19 "Fields 1st and 2nd Column Map Collections directory"
There are some changes/corrections concerning descriptions, number and alignement of fields:

1st COLUMN

![verz1](https://f.cloud.github.com/assets/4223790/420596/7b964dfe-acf2-11e2-9503-f80a1f1f6884.jpg)
2nd COLUMN
![verz2](https://f.cloud.github.com/assets/4223790/420598/9b7f6948-acf2-11e2-97b5-02483f703d6b.jpg)

In order to give instructions concerning syntax of texts and values to the map lib

[2013-04-24 17:45] klokan commented on #19
Please provide these as text for copy&paste, otherwise we have to retype the fields from your images and it introduces new errors.

We need also the English version - and in English should be probably also columns in the Excel sheet with all the data for all libraries you want to display.

Translation of the values could be possibly passed trough the GetText, but we need to investigate this furthe

[2013-04-24 17:47] klokan commented on #13
I have prepared a convertor from XML to Excel: https://gist.github.com/klokan/e910351681ef52e77f1c

[2013-04-24 18:19] klokan commented on #13
There is right now 855 records for libraries in the XML file. I assigned the geographic location based on the address.

The data looks geographically like:
https://www.google.com/fusiontables/data?docid=1Th8vPvvIbv-cXb4TlvrJN1LFfzXw6jgjYMGUSf8#map:id=3
and it can be downloaded as Excel from:
https://docs.google.com/spreadsheet/ccc?key=0AgUe1kqIRJWSdFAycTZWdm5kOTR3OGZrQ0RXd1RmYWc&output=xls

For us

[2013-04-26 14:02] JackuB commented on #10
Map slider is now on homepage ( http://kartenportal.klokantech.com/ ) and on service detail ( http://kartenportal.klokantech.com/blog/mit-kartenmaterial-arbeiten/ )

[2013-04-26 18:56] ethbib-susanne commented on #13
J sent the list of all map libraries for our directory with the information available so far by e-mail. On Monday J will add more fields.

J suggest to use the e-mail-adress as a login information.

J had to change some information provided by swissbib (blue color name and institution_url fields). Please don’t overwrite this information.

[2013-04-27 16:33] klokan commented on #2
The font size is going to be the same as on other pages (to be solved in #18).

The red button is very important on the top right side, otherwise the whole right part of the screen is going to completely empty for most of the libraries (which will not have own upcoming news and events - which is 99% of all). and all the texts are going to be on the left side squeezed in a small space.

Publication

[2013-04-27 16:52] klokan commented on #6
@radimkacer definitive version is required for you!

[2013-04-28 10:39] radimkacer commented on #10
the services page isnt optimized for 1024...  http://kartenportal.klokantech.com/articles/
the right column is below first one...

[2013-04-28 10:43] radimkacer opened #20 "Libraries: search with a map"
the left column has to be same width as is red line above logo and without space between column and map.
http://kartenportal.klokantech.com/sammlungen/

The libraries are displayed on the map as dots. The map is always a street map - we can style it.

The map will have inside a place search box.

By zooming in the list of the libraries on the left side shrinks so only the visible are in the list.

[2013-04-29 08:20] ethbib-susanne opened #21 "Encryption of email adresses (in library detail)"
All email adresses in the directory of libraries must be encrypted.

[2013-04-29 08:52] radimkacer opened #22 "Homepage photo"
![kartenportal-mainimage](https://f.cloud.github.com/assets/3808072/437650/d7a79f48-b0a9-11e2-9acf-8cd58d8e8564.jpg)

[2013-04-29 08:55] klokan commented on #22
@radimkacer This belongs to #6 - WHY TO CREATE A NEW TICKET?

[2013-04-29 08:55] #22 closed, assigned to nobody

[2013-04-29 14:57] klokan commented on #11
http://kartenportal.klokantech.com/en/ does not respond correctly - it is probably because of this change.

[2013-04-30 17:48] klokan commented on #6
@JackuB Please integrate the foto from #22.

[2013-04-30 17:50] klokan commented on #19
The texts and columns from Susanne are in our intranet: https://docs.google.com/a/klokantech.com/spreadsheet/ccc?key=0AgUe1kqIRJWSdHhJa3RIazFWNWt6a28xa2JOanE3YVE&usp=sharing

[2013-04-30 17:51] klokan commented on #2
The sample texts in German and English are in #19

[2013-04-30 18:11] klokan commented on #13
The selected SwissBib libraries with additional records from Susanne are in our intranet:
https://docs.google.com/a/klokantech.com/file/d/0BwUe1kqIRJWSWjBSbUpmOVNrREU/edit?usp=sharing

The new new fields for the library detail page defined in #19 are not yet available in this file.

[2013-05-01 11:45] JackuB commented on #6
Done

[2013-05-01 11:49] JackuB commented on #18
Changed base font size to 13px - footer text remains on 12px

[2013-05-01 11:59] JackuB commented on #11
WordPress/WPML can't handle /en folder - I renamed /en to /geosearch

[2013-05-01 12:41] JackuB commented on #10
Services listing media queries has been rewritten - fixed

[2013-05-01 17:38] #10 closed, assigned to JackuB

[2013-05-01 17:38] klokan commented on #10
Note: It would be good to make the longer texts slightly shorter, so there is no need to scrolling.

[2013-05-01 17:39] klokan commented on #3
Design provided, it is waiting for implementation now.

[2013-05-01 17:40] klokan commented on #9
Thank you!

[2013-05-01 17:41] #14 closed, assigned to JackuB

[2013-05-01 17:41] #6 closed, assigned to JackuB

[2013-05-01 17:45] klokan commented on #19
Formatting of the text should be applied in #2. Closing.

[2013-05-01 17:45] #19 closed, assigned to nobody

[2013-05-01 17:46] #18 closed, assigned to nobody

[2013-05-01 17:46] klokan commented on #17
The gray of the font is now darker.

[2013-05-01 17:46] #17 closed, assigned to nobody

[2013-05-01 17:49] klokan commented on #11
OK. We will use the unique directory names, such as:
http://kartenportal.klokantech.com/karten/
http://kartenportal.klokantech.com/cartes/
http://kartenportal.klokantech.com/geosearch/ (or /maps/)
etc.

[2013-05-01 17:49] #11 closed, assigned to JackuB

[2013-05-01 17:50] klokan commented on #21
This means protection against spam with  tricks and replacement of '@' character in the email addresses in the whole website.

[2013-05-01 18:33] klokan commented on #15
Let's put a small calendar in the side bar of every blog page.

This small calendar should mix both days of upcoming events and days of the published blog post.
Let's mark days with blog posts as links (the day number has a color) and the upcoming events as links with coloured background and white font (inverse marking to blog post days).

Next to that the /blog/ allows filtering of the events onl

[2013-05-02 09:45] klokan commented on #9
Again broken - on the front page. Red line on top of header is not aligned with the image when resizing window.
If possible keep the height of the header constant.

[2013-05-02 11:21] ethbib-susanne opened #23 "Frontpage - Graphic design find map section"
Font must be bold as in the previous version.

Background should be more transparent as in the previous version (maybe between).

![find maps section](https://f.cloud.github.com/assets/4223790/453518/0e32d894-b31a-11e2-9cbe-057d2d67b2e8.jpg)

[2013-05-02 11:31] ethbib-susanne opened #24 "Layout services webpage"
I am sorry but the new layout on the services wegbpage with thumbnail navigation is in my view clearly overloaded. We should after all use a bread crumb trail for navigation on this page.

Another thing is the 'worth knowing about maps' webpage. The thumbnail navigation might be nice on that page. There should be a bit more space between main picture/text and thumbnails.

[2013-05-02 11:48] klokan commented on #23
Additional comment from Sussane, wrongly posted into a wrong ticket:

In addition a comment on the font size:

The 'Find Maps' title should have the same font size as 'Swiss Map Collecitons'. The red color accentuates the importance of the service.

The example terms ('Stadt Luzern, Walensee') must have the same font size as the other texts (see pevious version).

![a8b5e634-b31c-11e2-8283-1946315

[2013-05-02 11:50] ethbib-susanne opened #25 "Services page: new landing picture"
For section 'Services' please use the following picture and integrate it with the list of other services (agreed on meeting on May 30th):

![services](https://f.cloud.github.com/assets/4223790/453599/1cc806c8-b31e-11e2-91f9-f9a641dedebb.jpeg)

The high resolution version (of all the photos) is at:
https://drive.google.com/a/klokantech.com/#folders/0BwUe1kqIRJWSNElXb1U3R2ozWUU

The existing overvie

[2013-05-02 12:05] klokan commented on #24
Susanne, this form of navigation has been agreed on our last meeting and mocked up by designer on #10. Now we have implemented it in HTML, and you are requesting a change after all of this is done. We are loosing time and wasting effort.

Please make your definitive and final decision and write it here. We will then do what you order.

My notes from the last meeting regarding navigation in Service

[2013-05-02 12:18] ethbib-susanne commented on #24
Your are right and J still like the concept for the ‘Wissenswertes über Karten’ webpages. The concept for this page was defined accordingly from the beginning.

For the services webpage J always required a bread crumb trail. In the last meeting you persuaded me to make an attempt with the thumbnail concept (J envisioned that the thumbnail would be smaller ). Now J don’t like it at all and you will

[2013-05-02 12:26] klokan opened #26 "More simplified admin interface for the libraries"
A comment from Susanne:

Please keep in mind that the word press admin interface for maps collections must be as simple as possible. There are still to many filter options displayed.

The workflow for publishing pictures will be as follows: the user in the map collections upload a picture in a highest possible image resolution. The image will be processed and inserted later by the administrator. P

[2013-05-02 12:27] klokan commented on #5
From Susanne: The missing articles for the 'worth knowing about maps' pages are at the moment edited and finished by Markus Oehrli. I will ask him to send the data directly to you.

[2013-05-02 15:02] ethbib-susanne commented on #8
J checked this and we will register Klokan Technologies GmbH as technical contact (there is no administrative contact) a few days before the website is relaunched. For 'political' reasons the holder of the domain is until further notice the EAWAG library. Later it might be transfered to ZB or ETH-Bibliothek.

https://www.nic.ch/reg/ds03/whois/view-result.html?lid=de#WhoisForm

[2013-05-02 16:36] ethbib-susanne commented on #9
Please adapt copyright text

OLD: ![copyright](https://f.cloud.github.com/assets/4223790/455043/3620af58-b346-11e2-9282-21dc922f1756.jpeg)

NEW: © 2013 Kartenportal.CH

[2013-05-03 14:08] ethbib-susanne opened #27 "Logo sharpness"
J have the impression that the logo is not very sharp.

![logo](https://f.cloud.github.com/assets/4223790/459199/e3533fe2-b3fa-11e2-88c4-411260b4d5b6.jpg)

[2013-05-03 14:09] klokan commented on #27
We plan to display it in vectors at later point. Have a look at: http://dev.klokantech.com/kartenportal/

[2013-05-03 14:15] ethbib-susanne opened #28 "Font size Headings"
For my perception the headings are too big. For the reason of beeing consistent J would prefer the blue color (same color for all headings).

![titel_font_size](https://f.cloud.github.com/assets/4223790/459207/35004d62-b3fb-11e2-8fed-23e8da334cf7.jpg)

[2013-05-03 17:11] ethbib-susanne commented on #26
In the library profile section there should be an example or list of possible values after every field. For the example take the values of ETH-Bibliothek.

[2013-05-07 23:13] klokan opened #29 "Search detail popup look&feel (F.20 / Trefferliste)"
- [ ] The MARC elements have to be in the order as shown in the attached images.
- [ ] The wording of the labels like Author, Edition etc. has to be as shown in the attached images.
- [ ] In the Trefferliste there is only a single label, namely that for the Series. Therefore the series is displayed in normal font, not in italics.
- [ ] There is no additional line spacing between the above-mentione

[2013-05-07 23:17] klokan commented on #29
Related images for Detail Popup are already in the internal ticket: https://github.com/klokan/maprank-client/issues/6

[2013-05-07 23:33] klokan commented on #29
Markus, MapRank does not see the MARC fields directly, we can't access these - all records are mapped into DublinCore during indexing, e.g. Title, Publisher, Creator, Contributor, and possibly additional custom fields (Series, Sheet, etc.)

Mapping between DC and MARC fields has been provided by you before and we are using it now. We have made best effort to improve it based on this original reque

[2013-05-08 09:26] zb-markus commented on #29
Mapping
My request is not regarding the mapping or the data display, it only asks for the labelling. For example, MARC field 245 $c contains the author, which is mapped to either DC contributor or DC creator. That is OK. But our users need to see the label "Author" in the Geosearch frontend. That's it. In short: Let the MARC/DC mapping be as it is, but present the data in the Geosearch frontend in

[2013-05-08 13:05] klokan opened #30 "Links to e-Rara, e-Manuscripta and Ryhiner in detail window"
The links to e-Rara, e-Manuscripta and Ryhiner are not specifically marked in the SwissBib.

@zb-markus:
If we should display these we need a clear rules how to recognise and extract these from the SwissBib MARC.

Could you please provide these?

[2013-05-08 13:13] klokan opened #31 "Search detail popup: Permalink and Print icon"
@zb-markus:
Do you really want to have in the popup window the icons for Permalink and Print?
Where exactly it should be placed and what should happen if you click on these?

IMHO there is no need for Permalink and Print icon. The link in addressbar is automatically updated and it is the permalink. The print functionality is part of every web browser - available via File->Print menu or similarly.

[2013-05-08 13:16] klokan opened #32 "OpenStreetMap in the GeoSearch (F.05)"
Show an icon in order to switch between Google Maps and OpenStreetMap (see Lastenheft F.05).

[2013-05-08 13:20] klokan commented on #32
We can easily add this switch, but this would not really solve the F.05 point, because the GeoSearch would still use Google Maps API with the OSM.
We continue to work on the OpenLayers V3 rewrite for the whole GeoSearch interface which is the proper solution.

[2013-05-08 13:22] klokan opened #33 "One filter opened only"
When a filter window is open (e.g. timeline) and the user clicks on a second filter icon (e.g. attributes), the first filter window should close.

[2013-05-08 13:25] klokan commented on #33
This runs correctly in Chrome/FF already. The bug is IE specific.
Scheduled for development in the internal ticket:
https://github.com/klokan/maprank-client/issues/31

[2013-05-08 13:29] klokan opened #34 "Help icon with label "Help""
The help icon should have a label such as "Help". This is in order to be consistent with the design and labelling of the filters.

[2013-05-08 13:32] klokan commented on #34
I do not agree.

Help icon is not one of the filters - it is different function. We have problem with space on small screens (1024x768) already. If we add the responsive design functionality we can add the label which will be visible on larger screens and hidden on smaller, but in this moment I would suggest to keep the icon without a label.

@zb-markus: please confirm this decision. If you really

[2013-05-08 13:33] klokan opened #35 "Detail popup closes after click on the background"
When a Detailansicht window is open and the user clicks into the search map, the Detailansicht window should close and the cursor turns into a hand.

[2013-05-08 13:35] klokan commented on #35
Duplicate to #33.
This runs correctly in Chrome/FF already. The bug is IE specific.
Scheduled for development in the internal ticket:
klokan/maprank-client#31

[2013-05-08 13:36] klokan opened #36 "The library filter"
The library filter should display the most important map libraries immediately after clicking the icon. The order is alphabetically:

ETH Zürich
LIB4RI
Schweizerische Nationalbibliothek
UB Basel
UB Bern, Zentralbibliothek
Zentralbibliothek Zürich   [omit: Kartensammlung]
more libraries …

After the user clicks on"more libraries …", the full list opens. The full libraries list is available from Swi

[2013-05-08 13:38] klokan commented on #36
Scheduled for development, under internal ticket:
https://github.com/klokan/maprank-client/issues/34

[2013-05-08 13:40] klokan commented on #30
Example record which should contain a link to Ryhiner high-res image: http://dev.klokantech.com/kartenportal/#id=044243618

[2013-05-08 13:43] klokan opened #37 "The attributes filter - small changes"
In text filter ("attributes" filter)

(1) show the items according to Lastenheft F.10 and label them as follows:

Full text
Author
Publisher
Subject

It is fine to add the scale filter here, labelled as follows:

Scale

(2) label scales equal or smaller than one million as 1:1 million, 1:2.5 million, 1:5 million etc.
There is space enough for the full word.

[2013-05-08 13:43] klokan commented on #37
Scheduled for development, internal ticket: https://github.com/klokan/maprank-client/issues/35

[2013-05-08 13:52] klokan opened #38 "Maps crossing dateline (F.06/08)"
Please make sure that all maps crossing the 180th meridian are shown. Currently all of them are still missing!

Reproduction: Center search map on Russia, and there should be loads of maps crossing the meridian. Actually I found a single record covering the meridian, but that one was wrongly catalogued as going from E 120° to E 280° …

Correct records are:
http://opac.nebis.ch/F/?local_base=NEBIS&

[2013-05-08 14:01] klokan commented on #38
This has been implemented on the server side already last year and on the client side via internal ticket:
https://github.com/klokan/maprank-client/issues/1

An example query with a first result as a map crossing date line:
http://dev.klokantech.com/kartenportal/#bbox=122.695313,14.944785,-109.335937,68.39918&q=&date_from=1750&date_to=2005&scale_from=&scale_to=&libraries=

There may be some issues

[2013-05-08 14:06] zb-markus commented on #34
I agree to show the label on larger screens and to hide it on smaller screens. As long as there is no responsive design, the Geosearch is intended to be used on larger screens with enough space for the label. So, please add a label called "Help".

[2013-05-08 14:07] klokan opened #39 "Editions in the result list - issues with mouse hover"
There are unwanted mouse-over effects to be eliminated.

Reproduction: When one has a record with different editions shown, it is almost impossible to mark one of the editions and then to move the mouse to the left into the Detailansicht in order to click on the catalogue button. The reason is that any movement of the cursor highlights the edition next to the chosen one. See attached image, where

[2013-05-08 14:13] klokan commented on #39
I suggest to display only one "editions line" under the main record showing:

[code]

After user clicks on this "editions line" the complete list will open, with one edition per row to avoid mouse hover issues:

[code]

The complete list of the editions can be again closed by clicking on the "editions line" with "another 9 editions" text.

@zb-markus: do you agree?

[2013-05-08 14:18] klokan commented on #39
What should be exactly the label of the "editions line"?
"+ 9 older editions" or "another 9 editions", ...?

[2013-05-08 14:31] klokan commented on #34
OK. Scheduled to be done under internal ticket: https://github.com/klokan/maprank-client/issues/36

[2013-05-08 14:38] zb-markus commented on #31
Compare Lastenheft F.20: We request icons for permalink and printing somewhere within the Detailansicht window. I propose them just below the cross for closing the window:
x   [tooltip: close this record]
○○ [tooltip: permalink of this record]
□  [tooltip: print this record]

The permalink is naturally the same as in the browser adressbar. After clicking the icon the permalink could be shown in a

[2013-05-10 08:11] zb-markus commented on #39
We agree with a single line for the other editions.

Because now the editions cannot be scanned by eye before the list has been opened, we suggest to show the _latest_ edition as the main entry in the Trefferliste, of course with regard to the time filter settings. All _earlier_ editions are then in the editions list that can be opened with mouse-click. Take care that the editions list is in chron

[2013-05-10 08:18] zb-markus commented on #38
The example query mentioned above by Klokan (http://dev.klokantech.com/kartenportal/#id=196999804) contains unfortunately wrong data in 034 field. I have reported this to the responsible library for immediate correction. I was unable to find within Geosearch a correctly coded record crossing the 180th meridian.

[2013-05-10 08:29] zb-markus commented on #30
e-rara and e-manuscripta links are in MARC field 856.

Example records that should show up in Geosearch and contain e-rara link:

http://aleph.unibas.ch/F/?local_base=DSV01&con_lng=GER&func=find-b&find_code=SYS&request=002621861
http://www.e-rara.ch/doi/10.3931/e-rara-12277

http://aleph.unibas.ch/F/?local_base=DSV01&con_lng=GER&func=find-b&find_code=SYS&request=005203978
http://www.e-rara.ch/doi/

[2013-05-10 08:35] zb-markus commented on #32
"We continue to work on the OpenLayers V3 rewrite for the whole GeoSearch interface which is the proper solution."

OK, this is according to Lastenheft.

[2013-05-17 11:48] klokan opened #40 "Some records do not update when bounding-box has changed"
Examples:
http://opac.nebis.ch/F/?local_base=NEBIS&CON_LNG=GER&func=find-b&find_code=SYS&request=005371670 (original record with updated bounding-box [E 8°32’14"-E 8°32’33"/N 47°23’00"-N 47°22’40"], updated 18 April 2013)
http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22131364200%22+IN+%5B4%5D&v=nose&l=de (Swissbib record, correctly updated)
http://dev.klokantech.com/kartenportal/#id=131364200

[2013-05-17 11:51] klokan commented on #40
Filed under reopened internal ticket for OAI-PMH implementation: https://github.com/klokan/maprank-server/issues/2
To be fixed ASAP.

[2013-05-21 08:43] #40 closed, assigned to keosak

[2013-05-21 10:05] klokan commented on #39
I am working on the visualisation.

[2013-05-21 10:05] #38 closed, assigned to keosak

[2013-05-21 11:09] klokan commented on #30
Example record for e-rara:
http://search.kartenportal.ch/#id=045311757

Example record for e-manuscripta:
http://search.kartenportal.ch/#id=149915888

Example record for Ryhiner:
http://search.kartenportal.ch/#id=044243618

In other words: our JSON record 'viewer' should contain first MARC field 856$u. These links are not ideal, but it is a first step.

@zb-markus Problems: e-rara/e-manuscripta do

[2013-05-21 18:55] klokan opened #41 "Background of records in Trefferliste"
Records have no (or not enough) distinction between each other. On my screen the background of all records is white throughout. Probably it is an IE problem only. I have noted that every second record has a grey background when I made a screenshot and printed it out.

[2013-05-21 18:56] klokan opened #42 "Overview map position"
The small overview map in the bottom right corner should be moved to the bottom left corner because it is lost when a Detailansicht is open. Other map tools like zooming are at the left, too, so that would enhance consistency.

In addition, the overview map needs a better distinction from the general search map. A border line (in blue? dark grey?) would be fine.

[2013-05-21 18:57] klokan opened #43 "Size of Detailansicht window"
The height of the Detailansicht window should be reduced. The window should not cover the filter bar and the help icon.

Actually, the window is in most instances still to big in comparison with its content. If it is reduced that the search map is visible above and below the window, the user would get more the feeling of a "temporary" overlay (see attached variant A).

![detailansicht_variant_a](h

[2013-05-21 19:00] klokan opened #44 "Timeline filter"
The timeline filter has sliders starting with year 1755. We need to start it earlier in order to properly access maps published since the beginning of printing. On the other hand, 20 year steps between 1500 and 1800 are OK, then 10 year steps between 1800 and today. In summary:

calculate:
0
1500
1520
…
1780
1800
1810
…
2010
2020

show:
past
1500
1520

1780
1800
1810

2010
today

[2013-05-21 19:38] klokan commented on #44
Done

[2013-05-21 19:38] #44 closed, assigned to nobody

[2013-05-21 19:41] klokan commented on #43
To be discussed personally before implementing it.

[2013-05-21 19:54] #37 closed, assigned to nobody

[2013-05-21 21:06] #35 closed, assigned to nobody

[2013-05-21 21:07] #33 closed, assigned to nobody

[2013-05-22 03:38] klokan commented on #36
Initial implementation done - but the data are in this moment hardcoded inside of the HTML. We need this to be dynamically updated during the OAI-PMH harvesting and available in a suitable JSON formatted list / lookup table from the MapRank Server or Kartenportal website.

[2013-05-22 06:13] klokan commented on #41
The even records are darker now. Please try to adjust contrast of your monitor as well. The highlighting is implemented correctly in IE.

[2013-05-22 06:13] #41 closed, assigned to nobody

[2013-05-22 06:14] klokan commented on #31
Styles for printing are now deployed - print via File->Print looks much better now.

[2013-05-22 06:16] klokan commented on #29
Required changes on the server side implemented. Work on the client side started.

[2013-05-22 06:32] klokan commented on #39
Done

[2013-05-22 06:32] #39 closed, assigned to klokan

[2013-05-22 07:07] zb-markus commented on #43
Related to the window size is the number of libraries shown. In the images above there is 1 library and Swissbib. But there are records with 10 or more libraries. In that case the end of the libraries list is out of the window. But clicking on the arrow does not help as the arrows are intended to browse through the Trefferliste.

The solution is to show max. 4 libraries plus Swissbib. Compare imag

[2013-05-22 07:50] klokan commented on #29
This should be fixed now.

[2013-05-22 07:50] #29 closed, assigned to nobody

[2013-05-22 07:51] klokan commented on #32
Initial implementation at http://dev.klokantech.com/kartenportal/ol3/ - made with OpenLayers V3, modern browsers are required.

[2013-05-22 07:58] zb-markus opened #45 "Attributes filter (Full text and Subject)"
The Full text filter should also work on MARC fields 6xx (subject fields).
Reproduction: Center map on Zurich, use Full text filter, type "Kind" - no records found. It should find http://dev.klokantech.com/kartenportal/#id=139639322 (Zürich für Kinder) which contains a 650 field with content "Kind".

Likewise, the Subject filter should work on MARC fields 6xx (subject fields).
Reproduction: Center

[2013-05-22 12:40] klokan commented on #2
Notes from meeting: data in the middle column without extra spaces all same line height.
The telephone number should be picked by the mobile for one-click call. Confirmed by Susanne.

[2013-05-22 12:42] klokan commented on #13
The final data are going to be provided by Susanne. Some of the fields are empty - they should be filled by the libraries via the Wordpress administration interface.

[2013-05-22 13:48] klokan opened #46 "Font diacritics problem"
The open-sans font issues with diacritics under Windows

[2013-05-22 13:53] klokan opened #47 "Detail popup arrow should have white background"

[2013-05-22 14:15] klokan opened #48 "Do not close detail popup by second click on the result list"
Nothing should happen on the second click on a result with opened popup

[2013-05-22 14:16] klokan opened #49 "Next popup function should update visible bounds"
When clicking on the popup window next / previous arrow the visible bounds in the background on the map are not updated now. The close "X" button disappears as well. To be fixed.

[2013-05-22 14:46] klokan opened #50 "Toolbox has X to close"
The timeline / attributtes / libraries toolbox has a an X to be closed (gray)

[2013-05-22 14:48] klokan opened #51 "Toolbox opening with one click"
If I have open one toolbox and click on the other icon of the toolbox right now there are two click required - one for closing the openned toolbox another for opening the new one. We want to be able to open the other toolbox by one click and in the same moment close the other one.

[2013-05-22 15:01] klokan opened #52 "Result list - date more visibile"
Display date before publisher with separator vertical line, the publisher should be shortened with ellipses and always on one line.

[2013-05-22 15:36] klokan commented on #45
DublinCore Subject needs to be added to fulltext and subject created by concatenation of all 6xx, 906c and 907c fields from MARC.
It should run with subject:abcdf via the attributes toolbox in the interface.

[2013-05-22 15:50] klokan commented on #30
Thumbnails to fit into 250x250px on top of the title in the detail window. The thumbnail is clickable.
Under the detail metadat and above catalogs is "View this map" link.

[2013-05-22 15:52] klokan commented on #31
Bottom left, gray, icons to be added into the font.

[2013-05-22 16:03] klokan opened #53 "IE enforce displaying of all recors in the result list order F.31"
Fix: The loop for endless srolling should chech in IE div under cursor, becase there is a bug in IE not sending OVER events.
Then all records in the order from old selected records to new selected records should be with a few miliseconds displayed so the bounds of all maps appears always.

[2013-05-22 16:20] klokan opened #54 "Timeline defaults to past-today"

[2013-05-22 16:21] klokan opened #55 "Attributes toolbox input styling"
The input should not be embossed but looks more like the searchbox on the topleft toolbar.

If possible style the select boxes too similarly - with padding, etc.

[2013-05-22 16:34] klokan opened #56 "Automatic updating of links from SwissBib"
NearLibs should use direct data from SwissBib automatically updated and exposed via JSON by MapRank server.

Test record:
http://dev.klokantech.com/kartenportal/#id=13006047X
UniZurich Geographical Institute is broken.

Correct link already in SwissBib:
http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%2213006047X%22

[2013-05-22 16:34] klokan commented on #56
Internal ticket: https://github.com/klokan/maprank-server/issues/16

[2013-05-23 11:51] klokan commented on #13
Here is the final file "Daten Verzeichnis Kartensammlung.xls" provided by Susanne:

https://docs.google.com/a/klokantech.com/spreadsheet/ccc?key=0AgUe1kqIRJWSdG00NVUtaVJIQUhZOE9fOHcxdFJUVUE#gid=0

[2013-05-24 12:11] klokan opened #57 "Update of the font with icons"
We need to add to the existing font the vector icons:
- Print
- Permalink
- Announce
- Map (photo)
- Event (calendar)
- Triangle pointing to the right (we have one pointing right)

Did I miss something what should be used on the web, and is not yet available?

[2013-05-24 16:42] klokan opened #58 "Welcome / Help dialog"
Text for Geosearch Help. The English has been approved by a native speaker.

It is intended that the marked words should be eyecatchers. They should be highlighted in some way your designer finds acceptable (for example bold type in 80% grey). The blue-marked term at the end is intended as a link to Kartenportal's map collections directory. The numbering corresponds to a small print screen – see t

[2013-05-24 16:46] klokan commented on #58
The main points are mentioned very well, but I am afraid this text is still too long for displaying on the web. We may try to reformulate it and shorten it. @radimkacer Let's try how it looks on a mockup.

[2013-05-24 17:08] klokan commented on #12
This is going to be impemented on the MapRank Server, not on the WEB. Duplicate to #56

[2013-05-24 17:08] #12 closed, assigned to klokan

[2013-05-24 19:41] klokan commented on #53
Note: On Chrome under Mac I can also jump over some of the records, so the issue is not related only to IE. This may be a problem to fix that it behaves correctly everywhere without decreasing performance. We continue to investigate.

[2013-05-25 08:21] klokan commented on #57
Two more symbols are required:
- Unlocked lock
- Locked lock

[2013-05-25 09:35] zb-markus commented on #58
At least the last question and its text ("Not found what you wanted?") could be "closed" at the beginning. The user could then click in order to display the text (like the multiple editions in the Trefferliste).

Perhaps this works also with the text numbered [2] to [3], e.g.
-- [2] Finding the search results ... (click opens text "Any action ...")
-- [3] Refining the search query ... (click opens

[2013-05-25 10:10] #9 closed, assigned to JackuB

[2013-05-25 14:23] klokan commented on #55
We were also internally discussing possible look & feel of the dialogs. This is a mockup resulting from our discussion:

![screen shot 2013-05-25 at 1 59 55 pm11](https://f.cloud.github.com/assets/59284/564151/a038d70a-c546-11e2-806d-e6c464e61f50.jpg)

[2013-05-25 14:40] klokan commented on #13
@ethbib-susanne Where does the identifiers kart001, kart002 comes from?

[2013-05-25 14:43] klokan commented on #23
The front photo has been replaced. This is the final version - we have made 10 iterations to make it better, but still keep the text readable.

The changes related to fonts of the title are remaining on this ticket.

[2013-05-25 15:02] klokan commented on #58
After long internal discussion and several trials with mockups - I think the best would be to go in this direction:

![screen shot 2013-05-25 at 1 59 55 pm7](https://f.cloud.github.com/assets/59284/564107/e482ac58-c53f-11e2-936d-b5adb791c2c1.jpg)

@zb-markus please provide us with some feedback.

[2013-05-25 18:58] JackuB commented on #3
http://kartenportal.klokantech.com/contact/ done

[2013-05-26 17:30] klokan commented on #36
The possible look&feel I was suggesting would be similar to http://harvesthq.github.io/chosen/ - first exampe, e.g. hovering+click for selection and input box on the top for filtering of the list.

[2013-05-28 21:39] klokan opened #59 "Printable CSS for the project website"
We need to prepare a print friendly page for every page in the website

[2013-05-29 15:04] klokan opened #60 "Map gallery on the front page: no animation and always visible arrows"

[2013-05-29 15:38] klokan commented on #3
Look & feel - alignement with the top bar, blue color of the portal on the button, styling for error messages.

[2013-05-29 15:40] klokan commented on #57
New icon for external link - now it is an birmap icon.

[2013-05-29 15:48] klokan opened #61 "Administrator login"
Dashboard should contain list of pending messages - to be published.
Email should be delivered to the admin - with a link for publishing of a suggestion.

By clicking on Publish as admin the blob post must be published in all three languages.

[2013-05-29 16:03] klokan commented on #13
The identifiers "kart00X" has no meaning - can be removed. Links to GeoSearch in the library detail page should be present only if the identifier is available and not empty.

[2013-05-30 07:38] zb-markus commented on #58
OK, we agree. Note that the contrast between text and background is high enough. A variant would be to have the text blocks within white speech balloons with text in black.

[2013-05-30 07:43] JackuB opened #62 "WordPress Login: Change WP logo to KP logo"

[2013-05-30 07:52] radimkacer commented on #57
icons for profile and dashboard ...

[2013-05-30 08:05] klokan opened #63 "Administration look&feel"
We need to restyle the administration interface for the libraries. This ticket contains all related work.
### Kartenportal logo for the login page:

For the login page we need Kartenportal logo replacing these icons:
http://kartenportal.klokantech.com/wp-admin/images/wordpress-logo-2x.png
http://kartenportal.klokantech.com/wp-admin/images/wordpress-logo.png
that means - two PNGs:
- admin-kartenpor

[2013-05-30 08:16] radimkacer commented on #63
![admin-kartenportal-logo](https://f.cloud.github.com/assets/3808072/583794/2bbb0fe2-c901-11e2-8768-5d8b71ef55e6.png)
![admin-kartenportal-logo-2x](https://f.cloud.github.com/assets/3808072/583795/2bd31682-c901-11e2-91a4-8314c5608c34.png)

[2013-05-30 08:34] klokan commented on #4
This file has a wrong color(not the same as textual links):
http://kartenportal.klokantech.com/assets/img/external.png
To be replaced.

[2013-05-30 08:40] radimkacer commented on #4
![external2](https://f.cloud.github.com/assets/3808072/583875/89a5ac72-c904-11e2-8dd6-20807d4744d4.png)

[2013-05-30 08:45] radimkacer commented on #4
![external20x20](https://f.cloud.github.com/assets/3808072/583900/4b2c3640-c905-11e2-8357-54f2c73d0858.png)

[2013-05-30 08:55] klokan commented on #4
Second one is for retina - to be used with css background-size property.
Alternatively - we can render it as a font. The symbol is in the the font available at #57

[2013-05-30 09:29] klokan commented on #57
The latest font is at:
https://docs.google.com/a/klokantech.com/file/d/0BwUe1kqIRJWST1k4OFhoRUcwbGM/edit

[2013-05-30 09:29] #57 closed, assigned to radimkacer

[2013-05-30 09:38] klokan commented on #26
Related are the changes of Look & Feel and dashboard mentioned in #63

[2013-05-30 10:06] JackuB commented on #62
Done

[2013-05-30 10:06] #62 closed, assigned to nobody

[2013-05-30 10:14] klokan commented on #63
The icons for individual sections in administration are available at:
https://docs.google.com/a/klokantech.com/file/d/0BwUe1kqIRJWSYVJHSUZyVlZPbTg/edit

[2013-05-30 10:16] klokan commented on #63
Mockup for the dashboard of the administration section is:

![admin-dashboard-mockup](https://f.cloud.github.com/assets/59284/584280/f647c7e0-c911-11e2-8041-542f946d4fd5.png)

[2013-05-30 10:18] klokan commented on #63
@JackuB design is ready - please start to work on the integration with WP.

[2013-05-30 10:35] klokan commented on #26
Elements which should be removed / adjusted are marked:
![admin-remove](https://f.cloud.github.com/assets/59284/584355/8b95ad9c-c914-11e2-8e51-f6a8c85092b7.jpeg)

[2013-05-30 16:01] klokan opened #64 "Blog"
The mockups for how the news (blog) page should look like are bellow.

Notes:
- The calendar in sidebar contains links to blog post by their date of publishing. Highlighted are also links to posts by dates of events (highlighted with blue background).
- The gray text in the search box background is: "Search posts".
- The "Featured Image" appears on top of the page, in case it is available.
- Click

[2013-05-31 05:50] klokan commented on #46
This is related to server side encoding of the characters. Reindexing of complete SwissBib database is required. An internal server ticket https://github.com/klokan/maprank-server/issues/17 is now opened for this and the work has been scheduled.

[2013-05-31 05:54] klokan commented on #28
We are unifying the design - as discussed on the meeting on May 30th. This title is going to be removed. Title will appear in the left sidebar in all pages.

[2013-05-31 05:54] #28 closed, assigned to nobody

[2013-05-31 05:55] klokan commented on #26
Implemented.

[2013-05-31 05:55] #26 closed, assigned to JackuB

[2013-05-31 07:04] #61 closed, assigned to nobody

[2013-05-31 07:04] #63 closed, assigned to radimkacer

[2013-05-31 07:59] zb-markus opened #65 "Exclude maps of extra-terrestrial bodies"
Adjust the importing script in order to exclude maps of extra-terrestrial bodies. These maps will be coded by the libraries in MARC field 034 $z. The subfield will contain the name of the extra-terrestrial body. Any record with 034 $z should be excluded from Geosearch.

Background info: 034 $z is a new subfield currently being implemented in the cataloguing rules. There are no records yet coded in

[2013-05-31 08:02] zb-markus opened #66 "Time filter sliders"
When the time filter sliders are close together, the left one vanishes behind the right one. Both should be readable at any time, even when they are close together (e.g. 5 or 10 years difference). A possible solution would be that the text boxes are right-aligned (earlier year) and left-aligned (later year) respectively.

[2013-05-31 08:11] zb-markus opened #67 "Multiple 034 fields plus scale filter"
Records with multiple 034 fields are shown at the wrong place when scale filter is set. Example:
http://dev.klokantech.com/kartenportal/#bbox=52.93763754999998,24.026407034914932,136.25243703714,72.23209480543836&q=&date_from=1960&date_to=1970&scale_from=500000&scale_to=500000&libraries=

Among the records found is:
http://dev.klokantech.com/kartenportal/#id=130129860#1

This record contains two 0

[2013-05-31 08:55] zb-markus opened #68 "Sorting of records with identical bounding-boxes"
When there are many records with _identical_ bounding-boxes and scales the sorting in the Trefferliste seems to be accidental and needs to be refined.

Example:
http://search.kartenportal.ch/#bbox=73.49941360000002,18.153521599999994,134.77280955959213,53.56097399999999&q=atlas&date_from=1950&date_to=9999&scale_from=&scale_to=&libraries=

The first 30 or so records are atlases with the same boundi

[2013-05-31 09:09] #60 closed, assigned to nobody

[2013-05-31 11:02] radimkacer commented on #20
![kartenportal-point-blue-large](https://f.cloud.github.com/assets/3808072/590400/a393a4b2-c9e1-11e2-9f7d-ebf1db0fbf56.png)
![kartenportal-point-blue-small](https://f.cloud.github.com/assets/3808072/590401/a3aecb3e-c9e1-11e2-975d-12f42595aa35.png)
![kartenportal-point-red-small](https://f.cloud.github.com/assets/3808072/590402/a3d23678-c9e1-11e2-8399-4144430c9f83.png)

[2013-05-31 11:03] JackuB commented on #4
Implemented, tested on retina

[2013-05-31 11:12] klokan commented on #4
Great!

[2013-05-31 11:12] #4 closed, assigned to JackuB

[2013-05-31 11:15] klokan commented on #65
Server side issue. Scheduled under internal ticket: https://github.com/klokan/maprank-server/issues/18

[2013-05-31 11:17] klokan commented on #68
Server side issue. Scheduled under https://github.com/klokan/maprank-server/issues/19

[2013-05-31 11:54] klokan commented on #20
Mockup for the libraries:

![kartenportal-webdesign-libraries03](https://f.cloud.github.com/assets/59284/590624/e2b225b8-c9e8-11e2-8e70-1f16a2af11bc.jpg)

[2013-05-31 11:55] radimkacer commented on #64
![kartenportal-webdesign-blog04](https://f.cloud.github.com/assets/3808072/590627/f1f38328-c9e8-11e2-93de-2fec9eb1d97d.jpg)

[2013-05-31 12:14] ethbib-susanne opened #69 "Administration / Map collections field names & translations"
You receive the nomenclature for the fields in the profile section by e-mail (Word).

[2013-05-31 14:20] ethbib-susanne commented on #69
First column nomenclature. Seccond column Example. Ideally the example is displayed after every input field.

[2013-05-31 19:53] klokan commented on #69
The file is on Intranet at:
https://docs.google.com/a/klokantech.com/document/d/1y1YU2R2lgKHtj-ot9rfQGtojNhBJuJZ22uzCZE0NMeU/edit

[2013-05-31 19:59] klokan commented on #15
This is beeing implemented as part of #64

[2013-05-31 20:03] klokan commented on #23
Closing, I expect these sort of requests are going to be reported and resolved in July - during beta version testing.

[2013-05-31 20:03] #23 closed, assigned to nobody

[2013-05-31 20:03] klokan commented on #27
Logo replaced with the vector rendering.

[2013-05-31 20:03] #27 closed, assigned to JackuB

[2013-06-03 18:06] klokan commented on #32
The client is now reimplemented to support dynamically both Google Maps API V3 and the OpenLayers V3. It is possible to switch dynamically and keep the same instance and URL.
We have to add the missing controls and deploy this to dev.klokantech.com.com/kartenportal/ now.

[2013-06-03 18:40] klokan commented on #20
The Switzerland mask: http://www.vasile.ch/hacks/ft-mask/ and KML from:
https://www.google.com/fusiontables/DataSource?dsrcid=812706

converted to GeoJSON:
http://geojson.io/#6190361
https://gist.github.com/klokan/6190360
https://gist.github.com/klokan/6190360/raw/7d142a8abf4823e95642aaaf96630c3964ddc2c4/map.geojson

which should be usable with:
https://github.com/JasonSanford/geojson-google-maps

[2013-06-04 12:33] zb-markus opened #70 "Missing maps in Trefferliste"
Some maps are missing in the Trefferliste despite their bounding-boxes fit within the search map.

Compare
(1) http://dev.klokantech.com/kartenportal/#bbox=-16.768652562500506,38.5891714406919,15.223539259765061,51.81388113039637&q=&date_from=1950&date_to=9999&scale_from=&scale_to=&libraries=Z06
with
(2) http://dev.klokantech.com/kartenportal/#bbox=-44.08418012500107,26.367732618258028,19.90020351

[2013-06-04 12:52] zb-markus opened #71 "Library filter and Trefferliste update"
When the library filter is opened and the selection changed by the user, occasionally the Trefferliste does not update immediately. Usually a second change in the library filter forces the Trefferliste to update correctly. The non-update effect has been seen especially when the Geosearch has been opened the first time and the change of the library is the first action done. Also, when the user goes

[2013-06-04 13:19] zb-markus opened #72 "Red footprint of records in search map is white"
It occasionally happens that the red footprint rectangle of a record has white background instead of the half-transparent map background. This effect has been seen after adding and deleting attributes filters and moving heavily around on the map. Unfortunately no real pattern has been found. The effect is difficult to reproduce, sometimes it occurs and sometimes it does not, even with identical us

[2013-06-04 13:35] zb-markus opened #73 "Multiple attributes selected"
When more than one attribute in the attributes filter has been selected, only one (scale or full text) is visible in the blue box below. The fact that also other attributes such as a publisher or a subject have been selected is not visible. Moreover, it is not possible to delete only one attribute because clicking the X in the blue box deletes _all_ attributes selected.

Example:
http://dev.klokan

[2013-06-04 16:16] #46 closed, assigned to keosak

[2013-06-05 11:33] #65 closed, assigned to keosak

[2013-06-05 11:36] klokan commented on #45
Work started.

[2013-06-05 12:02] klokan commented on #45
Also related to fulltext:
We will have 'author' field with 245c - for displaying in the detail window
and field 'creator' with 100a, 700a - for fulltext search with creator:...

Change on both server and client is required.
Client implementation waits for the server and is internally tracked as: https://github.com/klokan/maprank-client/issues/6

[2013-06-05 15:16] keosak commented on #45
I have added the "author" field (MARC 245c) to the JSON record. The "creator" (MARC 100a, 700a) and "subject" (MARC 6xx, 906c, 907c) fields are indexed but not in the JSON record. Closed in maprank-server/ba611839fd7daa3fce1ffcb78f2a128d11d058fc.

[2013-06-06 09:37] #68 closed, assigned to nobody

[2013-06-06 14:25] klokan commented on #67
Work has started.

[2013-06-06 14:43] klokan commented on #73
The purpose of the label is to alert that there are some attributes set - not to present all the configured attributes. It is the reset button.

If you want to see the complete list of attributes or change the values of individual attributes, then open the dialog by clicking on the icon above the label. Then you can remove or change them separately.

In fact we present in the label a long list of

[2013-06-06 14:44] klokan commented on #71
Work started. Internal note: CHANGE vs CLICK event in IE8.

[2013-06-06 14:49] klokan commented on #70
The geographical query submitted to MapRank is specified by the blue rectangle visible when you are dragging the map or exactly by the select tool (under + and - buttons on the left).

In your examples the blue rectangle of the query in case (1) does not contain Berlin, and in case (2) it does.

This is therefore expected behaviour.

If you want to control exactly the area of query, please use the

[2013-06-06 14:49] #70 closed, assigned to nobody

[2013-06-06 14:53] klokan commented on #8
This is now moving forward.

The final domains for the geosearch functionality are going to be configured as http://search.kartenportal.ch/ (English) and http://suche.kartenportal.ch/ (German) and http://rechercher.kartenportal.ch/ (French).

[2013-06-06 14:54] klokan commented on #8
@zb-markus Can you please confirm the domains?

[2013-06-06 15:08] klokan commented on #56
The server part finished - data automatically updated including the statistics about number of indexed maps.
Client side development started.

[2013-06-06 15:22] zb-markus commented on #8
We confirm for Geosearch http://search.kartenportal.ch/ (English) and http://suche.kartenportal.ch/ (German). However, the French address should read http://recherche.kartenportal.ch/ (French). We also intend to provide an Italian version under http://ricerca.kartenportal.ch/ (Italian).

[2013-06-06 15:27] klokan commented on #8
Thank you. We will set it up this way.

[2013-06-07 07:20] zb-markus opened #74 "Links to new NEBIS libraries"
Because of the merger of Univ of Zurich libraries and NEBIS some back links are broken. The libraries are coded in MARC field 949 $b. Those to be corrected have a name beginning with U..., such as UGEOG, USTAR, USTAZ, UBOT, UPHZH, UHS.
Example: http://dev.klokantech.com/kartenportal/#id=130845019

Clicking on a library button in Swssbib http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22130845019

[2013-06-07 07:58] zb-markus commented on #70
We know of the blue search rectangle, but does the user knows as well? A user may think that the whole (or almost the whole) search map is taken into account. When the screen is small, the blue search rectangle is even smaller because there seems to be a standard distance between blue rectangle and map margin. We suggest that the standard distance should be halved, or in other words, that the blue

[2013-06-07 08:55] zb-markus commented on #73
When several attributes are selected, the blue box shows "X [full text]". The user expects that clicking the X closes the attribute [full text], while the other attributes remain selected. However, the click unexpectedly closes _all_ attributes. As developers we know that the attributes shoud be opened in order to close only one of them. But a user cannot know that and will learn only by trial and

[2013-06-07 10:00] klokan commented on #74
This is direct duplicate to #56.

Lets close this ticket when we validate the mentioned links are correctly exposed in the public http://dev.klokantech.com/kartenportal/ installation.

[2013-06-12 13:43] radimkacer commented on #5
Here are images for thumbnails..
![kartenportal-digitalekarten](https://f.cloud.github.com/assets/3808072/642752/ef1a8b66-d365-11e2-8d67-c07ca43f9c36.png)
![kartenportal-holzschnitt](https://f.cloud.github.com/assets/3808072/642753/ef342328-d365-11e2-9d23-92bb37e7aded.png)
![kartenportal-kartenwerk](https://f.cloud.github.com/assets/3808072/642754/ef4b6b6e-d365-11e2-98bb-c25d3fb0c906.png)
![karten

[2013-06-12 15:33] zb-markus commented on #45
It is still not working in the test frontend. Typing "Kind" either in Full Text or Subject filters retrieves no maps (see initial post to this issue).

[2013-06-13 08:37] #67 closed, assigned to keosak

[2013-06-13 16:01] zb-markus opened #75 "Back links to Swissbib for maps with #1 suffix in ID"
Back links to Swissbib should also work when permalink/ID contains #, for example:
http://dev.klokantech.com/kartenportal/#id=207224471#1
http://dev.klokantech.com/kartenportal/#id=207224536#1

[2013-06-14 08:39] zb-markus commented on #66
We suggest to keep it simple, i.e. to show only markings for the centuries. Mockup by radimkacer and proposal by zb-markus sent by e-mail to klokan for upload here.

[2013-06-14 09:41] klokan commented on #66
![time_sliders_zb](https://f.cloud.github.com/assets/59284/653432/8c69c942-d4d6-11e2-8918-917bc6617e97.gif)

[2013-06-20 16:06] klokan commented on #54
Closed in commit c5b4e06

[2013-06-20 16:06] #54 closed, assigned to nobody

[2013-06-20 16:29] klokan commented on #47
Fixed in 4db3fa5

[2013-06-20 16:29] #47 closed, assigned to nobody

[2013-06-20 16:32] klokan commented on #43
This has been resolved by the scrollable content of the detail window - and discussed on the meeting personally.

[2013-06-20 16:32] #43 closed, assigned to nobody

[2013-06-20 16:51] klokan commented on #34
Done in 86446db

[2013-06-20 16:51] #34 closed, assigned to nobody

[2013-06-20 17:00] klokan commented on #42
Done in 3a4583b

[2013-06-20 17:00] #42 closed, assigned to nobody

[2013-06-20 18:32] klokan commented on #74
This is now correct, check: http://search.kartenportal.ch/#id=130845019

[2013-06-20 18:32] #74 closed, assigned to nobody

[2013-06-20 18:33] klokan commented on #56
Fixed. The test record: http://search.kartenportal.ch/#id=13006047X

[2013-06-20 18:33] #56 closed, assigned to klokan

[2013-06-20 19:03] klokan commented on #55
The dark background from the mockup for toolboxes is probably not a good idea - it is introducing new issues.

The input boxes in the Attributes styled the same way as the main search box.
Implemented in a4b73e9

[2013-06-20 19:03] #55 closed, assigned to nobody

[2013-06-20 19:14] klokan commented on #48
Done in 59a593a

[2013-06-20 19:14] #48 closed, assigned to nobody

[2013-06-20 19:29] klokan commented on #52
Done in d1f0277

[2013-06-20 19:29] #52 closed, assigned to nobody

[2013-06-20 21:14] klokan commented on #50
Done in 4e1d990

[2013-06-20 21:14] #50 closed, assigned to nobody

[2013-06-20 21:22] klokan commented on #51
Done in b89a54e

[2013-06-20 21:22] #51 closed, assigned to nobody

[2013-06-21 06:16] klokan commented on #42
I think it does not fit to the design when placed left - it is not aligned to the column width normally presented on the left in our design. Typically the overview maps are shown in the bottom right corner.

But we keep it on the left, as requested.

[2013-06-21 06:23] klokan commented on #45
Unfortunately - there is regression. The GUI has been implemented and deployed but during testing the search queries for subject as "subject:Kind" as well as via fulltext "Kind" does not run anymore on the production server.

@keosak Please ensure the production server contains the related functionality and the complete SwissBib dataset has been reindexed for this to run. The GUI at http://search.

[2013-06-21 07:24] klokan commented on #8
Domains are configured now. The multilingual search interface is still to be deployed.

[2013-06-21 07:24] #8 closed, assigned to klokan

[2013-06-21 08:02] klokan commented on #30
Implemented in b78f09d. Demo links:

Example record for Ryhiner:
http://search.kartenportal.ch/#id=044243618

Example record for e-rara:
http://search.kartenportal.ch/#id=045311757

Example record for e-manuscripta:
http://search.kartenportal.ch/#id=149915888

[2013-06-21 08:03] klokan commented on #32
Done and deployed to http://search.kartenportal.ch/

[2013-06-21 08:42] klokan commented on #72
We have not managed to reproduce it. Provide an exact description how to reproduce the error, please.

[2013-06-21 09:17] klokan commented on #71
Fixed.

[2013-06-21 09:17] #71 closed, assigned to klokan

[2013-06-21 09:34] klokan commented on #53
An initial fix has been deployed.

[2013-06-21 09:34] #53 closed, assigned to nobody

[2013-06-21 10:03] klokan commented on #75
Fixed in 6c97f07

[2013-06-21 10:03] #75 closed, assigned to nobody

[2013-06-21 14:42] klokan commented on #31
Done in 4e9ae1f

[2013-06-21 14:55] klokan commented on #36
The styling of the toolbar must be finished - I expect the selected libary be in blue and the search box under the list. Scrollbar always visible and scrolling only in the list of libraries (over the filter input)

[2013-06-25 17:33] klokan commented on #45
Finished and deployed.

[2013-06-25 17:33] #45 closed, assigned to keosak

[2013-06-26 08:34] klokan commented on #24
There is one more suggestions for the layout change from the designer:

![kartenportal-webdesign-services](https://f.cloud.github.com/assets/59284/708115/372d42f6-de3b-11e2-9aa3-64b85befc821.jpg)

Either we stay with the original or use this new one. Decision by @ethbib-susanne is required.

[2013-06-29 20:53] JackuB commented on #3
Done

[2013-06-29 20:53] JackuB commented on #59
Should be ok

[2013-07-01 10:56] ethbib-susanne commented on #24
New layout for services page confirmed. Thank you for the new suggestion that J like.

[2013-07-02 22:34] klokan commented on #59
It looks very well. Last thing: the Kartenportal logotype is not aligned to the image, if you try to print a blog page with large image (the logo is too on the left).

[2013-07-08 23:56] JackuB commented on #59
Image is now aligned

[2013-07-09 00:00] JackuB commented on #15
I reworked calendar logic to be compatible with WPML and duplicated posts.

Event datetime now correctly copy itself and activate across languages.

Links generated in calendar has also been reworked -> they now links directly to event

Can be closed

[2013-07-09 08:21] #59 closed, assigned to nobody

[2013-07-09 08:25] klokan commented on #15
There is a missing link to ICS (and RSS) feeds.

[2013-07-09 23:32] JackuB commented on #15
ICS and RSS were part of #64

Added

Not working (with Google Cal) for now, because of robots.txt, but events are there (including different versions for different languages)

[2013-07-10 15:33] ethbib-susanne opened #76 "Simplify map collections wordpress interface"
The following features should be removed on the map collections interace page:

![bild1](https://f.cloud.github.com/assets/4223790/775688/aa530d70-e975-11e2-9fa9-57adf5ff8e81.gif)

Pictures will be uploaded using only the following feature

![bild2](https://f.cloud.github.com/assets/4223790/775702/ee94ad2c-e975-11e2-805d-58653a68fdaf.jpeg)

[2013-07-10 15:50] ethbib-susanne commented on #76
The following information text should be removed. The text is not important and confusing:

![bild4](https://f.cloud.github.com/assets/4223790/775773/30e16b24-e977-11e2-82fa-479274bbf0e3.jpeg)

The following feature must be removed:

![bild5](https://f.cloud.github.com/assets/4223790/775800/b1154036-e977-11e2-98b1-480873748028.jpeg)

[2013-07-10 15:50] #76 closed, assigned to nobody

[2013-07-18 08:59] zb-markus commented on #30
We expect that the link called "View this map" is designed as a button, in the same size like the "Catalog" and "Metacatalog" buttons below but perhaps in another colour? If "View this map" is too long, there are two solutions:
- enlarge catalog/metacatalog buttons
- use "View", "Large image" or "Full size" instead

[2013-07-18 09:10] zb-markus commented on #32
Does not work until OpenLayers v3 is available, is that correct? I find it better to remove the OSM button until it can be correctly implemented.

[2013-07-18 09:25] zb-markus commented on #72
I did find a pattern to reproduce it:
- go to Geneva, Basel, Bern or Zurich or indeed any other place in Switzerland
- open Library filter
- choose the last library (Uni Basel - Slavisches Seminar) -> footprint remains
- then change your mind and choose the next to last library (Uni Basel - Philosophisches Seminar) -> footprint disappears
- again change your mind and choose "All libraries" -> foot

[2013-07-18 09:36] zb-markus commented on #31
We expect that by clicking the permalink button the permalink is going to be displayed next to the cursor. This may happen in a small overlay window. Currently, the Geosearch vanishes completely, the background of the browser window is white throughout and the text "null" is displayed in the upper left corner. We insist that the permalink display in the browser adressline is ot enough and that the

[2013-07-18 10:03] zb-markus opened #77 "Wrong backlink in record 209128704"
http://search.kartenportal.ch/#id=209128704 is a mystery: Clicking on the "Catalog" button(s) will always go to the holdings of the record that was selected immediately before selecting this record or that can be found above or below this record in Trefferliste. The correct holdings of ETH library are never displayed. See NEBIS http://opac.nebis.ch/F/?local_base=NEBIS&CON_LNG=GER&func=find-b&find_

[2013-07-18 10:14] klokan commented on #31
In what web browser this happens for Permalink click?

[2013-07-18 10:18] klokan commented on #32
It works well in IE9+ and all other modern browsers. Support for IE8 should be added by OL3 team hopefully before FOSS4G in September.

This has been HUGE amount of work for us and it seriously complicates the code of the interface. But now it is done. Shall this be hidden for now?

[2013-07-18 10:26] zb-markus opened #78 "Record 130161896 does not show up when filters set"
Record http://search.kartenportal.ch/#id=130161896 is in the system but can not be retrieved. Setting Time filter to past-1520, or setting Attributes filters (either title "situ" or author "Türst"), or setting library filter "ZB Zürich Handschriftenabteilung" does not show this record. A couple of other records will show up, all of them modern facsimiles. The manuscript map 130161896 needs to be f

[2013-07-18 10:28] zb-markus commented on #31
IE 8.0.6001.18702

[2013-07-18 10:36] zb-markus commented on #32
Sorry, I have forgotten to mention that this is IE8-specific. Ok then, let the button be as it is. But please let this issue open, so I can see in the open issues list that I need to have an eye on it until September.

[2013-07-18 10:40] klokan commented on #77
@keosak Can you please verify this by reviewing the importing script and relevant OAI-PHM record?

The 'catalog' record is completely missing, there should be a link to NEBIS / ETH Zurich.

This is the link to SwissBib: http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22209128704%22
Our JSON is visible at: http://api.kartenportal.ch/cgi-bin/maprank.fcgi?id=209128704

[2013-07-18 10:51] klokan commented on #78
We will check it.

This is what MapRank see for the record http://api.kartenportal.ch/cgi-bin/maprank.fcgi?id=130161896
@keosak Surprisingly, this record is not in the list when filtering only on word "situ" is applied. Manuscripts are in a separate OAI-PMH group - isn't there a bug in the indexing script related to this?

[2013-07-18 11:58] zb-markus opened #79 "Trefferliste: earlier editions (background)"
In the Trefferliste we have records with white and grey background. When a record with grey background has "Earlier editions of this map", the opened list should be grey as well in order to "stay connected" with the main record. Currently the list is white n any case, so it looks as if the list belongs to the next title below.

The reverse case is OK, i.e. when the record has white background and

[2013-07-18 12:08] zb-markus opened #80 "Trefferliste: earlier editions (link design)"
The link "Earlier editions of this map" in the Trefferliste is the only one with underline. It should fit better into the overall design of the system, perhaps when designed as a button (compare with issue #30).

[2013-07-18 12:22] zb-markus commented on #73
Could we have this issue open again, please?

[2013-07-18 13:02] klokan commented on #73
If you want us to now keep the ticket open for future we can, but unless there is an idea for a clear and simple solution, this request must be postponed to future, I am afraid.

It would be possible to show something like first two letters from everything what is typed in the inputs or to introduce a similar simple workaround.

Another idea we were discussing: if more then one input boxes is fill

[2013-07-18 13:19] zb-markus commented on #73
- Closing all attributes: We think it still necessary that in the moment the user selects two or more attributes, the label in the blue box should change to "X [all attributes]" or similar. This label should be language-specific.
- Closing single attributes: The situation is quite difficult when more than one attribute has been selected but only one of them should be closed. We agree that there is

[2013-07-18 13:22] klokan commented on #73
Let's change the label if more then one attribute is selected.

[2013-07-20 12:14] zb-markus commented on #72
Another pattern (again in IE8 only) is the following:
- go to a remote place such as a Pacific island http://search.kartenportal.ch/#bbox=-140.0683531101563,-10.706532674698008,-138.1455722065205,-8.647501650048267&q=&date_from=0&date_to=9999&scale_from=&scale_to=&libraries=&map=road
- scroll down the Trefferliste relatively quickly using the mouse wheel
- when one comes to a record that covers th

[2013-07-29 12:28] zb-markus opened #81 "Scrolling through records when Detailansicht open"
When the Detailansicht is open and one tries to scroll down through the records with the arrow, the records are shown as expected until one comes to the end of the visible Trefferliste (depending on window size this is for example record #10). The next click on the down arrow does not show the details of record #11 but again those of the top record.

With the same, the button for closing the Deail

[2013-07-29 12:38] klokan commented on #81
Acknowledged. Thanks for the report.

[2013-08-02 12:21] #31 closed, assigned to nobody

[2013-08-02 12:22] #73 closed, assigned to nobody

[2013-08-02 12:23] #81 closed, assigned to nobody

[2013-08-02 12:24] #79 closed, assigned to nobody

[2013-08-02 12:26] #66 closed, assigned to nobody

[2013-08-02 12:27] #49 closed, assigned to nobody

[2013-08-02 12:47] #30 closed, assigned to nobody

[2013-08-02 13:00] klokan commented on #80
I suggest we change this later on - together with map series update for ETH, because then we may need to add another button for series to open map series view...
We will have probably two buttons then: "Editions (5)" and "Map Index"?

[2013-08-02 13:10] klokan commented on #58
Implemetation of the positioning of the arrows has been very problematic.
Therefore the we changed the design:

![kartenportal-mappage-welcomebox03](https://f.cloud.github.com/assets/59284/901003/b9939d5c-fb74-11e2-8673-795401815d3b.jpg)
![kartenportal-mappage-welcomebox04](https://f.cloud.github.com/assets/59284/901004/b9ab58de-fb74-11e2-875f-01d9e2684772.jpg)

Between welcome and help will be a

[2013-08-02 13:15] klokan opened #82 "Markus: Translating the search interface"
We are going to prepare the localization web interface for translators - so that the phrases in the search interface can be easily translated.

The link will appear here - we will need alert when the translation into all languages is finished.

[2013-08-02 13:15] klokan commented on #82
We are preparing the online translation system.

[2013-08-06 08:22] zb-markus commented on #58
OK, we agree.

[2013-08-06 08:55] zb-markus commented on #80
We do not like to postpone this issue. We think that the button for the "Earlier editions of this map" is needed now.

[2013-08-06 12:35] zb-markus opened #83 "Show maps with date coded after q"
We miss several 10,000 maps that are coded in MARC field 008 at position 06 with q. Examples:

http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%2213095442X%22
http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22195687779%22

Maps coded with q are mainly old maps or sheets of map series held by ETH. Code q should be handled like code m, i.e. the years immediately following at positions 008/07-14 s

[2013-08-06 13:33] klokan commented on #83
I expect the maps are indexed, but without the year information, because specification for this form of encoding of the year inside of the MARC record has not been provided until now.

@keosak Please implement this decoding of the year from field 008 on positions 07-14 after "q" character, it is practically the same as for "m". Relevant code: https://github.com/klokan/maprank-server/blob/master/bi

[2013-08-06 14:41] keosak commented on #78
The Javascript client sends time filter with each request, but the record in question doesn't have the date property set. The query engine assumes that records without a date cannot be filtered by date and thus rejects them from the result. This seems like the logical behavior to me.

There are three solutions, ordered by preference to me. Either 1) the client will stop sending misleading requests

[2013-08-06 14:44] keosak commented on #77
The record didn't have the catalog field set in OAI-PMH, so it wasn't in the MapRank response either. Now after a database update it has both. There are however 2657 other records with the catalog field missing at this time.

[2013-08-06 14:51] klokan commented on #77
Such records must be fixed in SwissBib OAI-PMH records. Kartenportal simply do not have available the catalog information from SwissBib at this point for similar records.

Once the records are fixed in SwissBib the next day they should be correct in Kartenportal too.

@zb-markus May we close this ticket?

[2013-08-06 15:14] keosak commented on #83
I have started the complete re-indexing. It should be done in about two hours.

[2013-08-06 15:16] klokan commented on #78
OK. This is clearly a bug - caused by incorrect communication between the client and server.

Solution we will use:
- The server and indexing of the records is not going to be changed.
- The client is going to be modified - if the filter on timeline is not set (e.g. it is set at Past to Present, in url with #date_from=0&date_to=9999) the client will not send any dtstart and dtend arguments to the

[2013-08-06 15:26] klokan commented on #80
OK. Please provide a mockup or a very clear instructions for how you want the link to look like.
The text for the button must be static and without any new functionality - we will change the look&feel according your wish.

Keep in mind the button must be displayed on two different shades of gray and on a blue gradient for a highlighted item, which makes it problematic for the design. It should not

[2013-08-06 15:37] zb-markus commented on #77
I do not really understand because there _is_ catalog information in the Swissbib record at http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22209128704%22. What has to be fixed on the Swissbib side? Did you already notified Swissbib about your opinion?

[2013-08-06 15:37] klokan commented on #78
Note: this record contains a pubdate (MARC 260 $c) information. The timeline is filtering only on the date field (mapped from MARC 008 in fields $m $q $s $r) therefore filtering on the timeline for this record cannot run. There are other records with the same title with date field properly set and with a different pubdate.

[2013-08-06 16:01] zb-markus commented on #80
Of course I see the problem making a button for two different shades of grey (happily not 50) etc. When I opened this ticket I wrote that the present link "should fit better into the overall design of the system, perhaps when designed as a button". Actually, a button for the text is not a must but only one of the possible solutions. Perhaps the easiest solution is the use of arrow buttons.

Try a

[2013-08-06 16:14] klokan commented on #77
Here is a sample record:

http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22130129852%22+IN+%5B4%5D&v=nose&l=de

which (now) does not have the catalog information in SwissBib, eg. field 949$b or $e is missing in MARC.
The same MARC we are retrieving via OAI-PMH and indexing in Kartenportal.
There are around 2000 of such records in the complete OAI-PMH dump.
In this moment such record does not di

[2013-08-06 16:17] zb-markus commented on #78
The date problem seems to be at Swissbib because they
- merged different original records into a sigle one, which is incorrect
- filled nonsense date information into field 008, although the original library records are correct
  Did you already notified Swissbib about that specific problem?

However, it is also the text filter that did not work. As the record (by the way the oldest map of Switzer

[2013-08-06 16:18] klokan commented on #77
Note: we will fix the client, to ensure the link from the previously visited catalog record is not shown in case the catalog information is missing completely. This happens now - and that is what you are describing as a mystery.

[2013-08-07 08:39] keosak commented on #83
Re-indexing done and the data are live on the site.

[2013-08-07 08:39] #83 closed, assigned to keosak

[2013-08-07 08:40] keosak commented on #77
The list of records with missing 949 catalog field is at: https://gist.github.com/keosak/6172309.

[2013-08-07 12:25] ethbib-susanne commented on #69
The example texts should appear next to the corresponding input field.

[2013-08-08 10:08] zb-markus commented on #77
I have checked some of the records out of the list provided by keosak. Indeed, these records mainly lack field 949. Field 956 seems to have been vanished since we wrote the specification F.20.

However, the library information needed is in fields 852 (for whatever reason). For example record 001333259:
- 852 4- $B NEBIS $b Z04 $a Verschiedene Signaturen, siehe Bandübersicht
- 852 4- $B IDSLU $b LU

[2013-08-08 17:32] klokan commented on #72
Finally fixed. This one was hard.

It is a bug made by Microsoft in implementation of the transparency filter in IE8 which runs out of memory on large elements. We have found and deployed a workaround with partly transparent texture used instead of the native filter.

This has been the last opened ticket of the internal milestone for deploying the updates to http://search.kartenportal.ch/

[2013-08-08 17:32] #72 closed, assigned to klokan

[2013-08-08 17:34] klokan commented on #36
@zb-markus Please test and validate.

[2013-08-08 17:34] klokan commented on #72
@zb-markus Please test and validate.

[2013-08-08 17:35] klokan commented on #30
@zb-markus Please test and validate.

[2013-08-08 17:35] klokan commented on #49
@zb-markus Please test and validate.

[2013-08-08 17:36] klokan commented on #66
@zb-markus Please test and validate.

[2013-08-08 17:36] klokan commented on #79
@zb-markus Please test and validate.

[2013-08-08 17:37] klokan commented on #81
@zb-markus Please test and validate.

[2013-08-08 17:38] klokan commented on #73
@zb-markus Please test and validate.

[2013-08-08 17:38] klokan commented on #31
@zb-markus Please test and validate.

[2013-08-08 17:39] klokan commented on #83
@zb-markus Please test and validate.

[2013-08-08 18:01] klokan commented on #77
Implemented. We are running the OAI harvesting again to reindex the whole database and test this.

[2013-08-08 19:20] klokan commented on #3
TODO: Fix alignment for small screen.

[2013-08-08 19:55] klokan opened #84 "Improved URLs across the whole website"
We need to improve the URLs and keep them consistent across the whole website - including localisation.
- Main page: /, /en/, /fr/, /it/
- Blog: /blog/, /en/blog/, /fr/blog/,
- Blog post: /events/EVENT-TITLE/ (remove /event/ in the middle).
- Maps gallery: /maps/
- Search in the menu is going to be a link to a third level domain - separately not as static sites in the web. Let's remove the static

[2013-08-08 20:06] klokan commented on #24
TODO:
- Remove the two existing implemented layouts (one http://kartenportal.klokantech.com/articles/, http://kartenportal.klokantech.com/blog/ausstellungen-und-fuhrungen-besuchen/) and replace it with a single layout. This layout is exactly the same as for map gallery.
- The /services/ and Services should be used everywhere - replace the URL and titles, as well as the menu in the administration s

[2013-08-08 20:14] klokan commented on #2
TODO:
- The red button should link http://search.kartenportal.ch/#libraries=E01 where the E01 is the record in column "SwissBib" for the provided data. There are libraries which do not have this identifier, then the red button is not displayed.
- Ensure the localisation runs correctly - the translated titles for fields are displayed and it is possible to switch between languages while looking at t

[2013-08-08 20:27] klokan commented on #64
TODO:
Sidebar: Tag cloud, Archives for years
Detail of an event: displaying the dates more visually.

[2013-08-08 20:31] klokan commented on #25
TODO: Add this photo as the first article in the list. It should be displayed when the user clicks in menu on Services.

[2013-08-08 21:01] klokan opened #85 "Search with a #place= link problematic"
We need a permalink for zooming the map to a certain region for a given placename.
This has been implemented as #place= but it does not run perfect yet.

This link is used from the Kartenportal frontpage.

The MapRank query region (rectangle) is not properly set - instead it fills the whole screen:

Example query:
http://search.kartenportal.ch/#place=zurich

[2013-08-08 22:57] klokan commented on #5
TODO:
- Fix displaying of the list - so that selected item stays at the place - as in the mockup for the layout
- Ensure the switching between languages runs well and there are correct URLs

[2013-08-08 23:48] klokan commented on #15
TODO: Google Cal support?

[2013-08-09 08:13] JackuB commented on #15
I removed Disallow \* from robots.txt for a second and Google Cal worked fine.

[2013-08-09 09:02] keosak commented on #77
Finished, there are still 599 records missing both 949 and 852 catalog entries.
This list is at: https://gist.github.com/keosak/6192215.

[2013-08-09 10:44] ethbib-susanne opened #86 "Logo"
1. The logo should be adjusted with the menu items:

![logo](https://f.cloud.github.com/assets/4223790/937577/95e877fe-00df-11e3-80aa-c3194965e240.jpeg)
1. The line below the logo should be less solid. It is to strong and attracts the look to much.

![logo_line](https://f.cloud.github.com/assets/4223790/937583/5425f44e-00e0-11e3-847f-ce8c3baa567f.jpeg)

[2013-08-09 11:22] ethbib-susanne opened #87 "Blog Layout"
J am not happy with the order of elements of the blog menu and the huge space on top of the blog list. The search function should appear below the most important elements of the blog page which are the title and the filteroptions.

![blog_layout](https://f.cloud.github.com/assets/4223790/937694/69ebe1d0-00e5-11e3-9dc9-a4f5bae3e27f.jpeg)

[2013-08-09 15:35] zb-markus commented on #73
Tested and accepted.

[2013-08-09 15:40] zb-markus opened #88 "Show & sign correctly"
The & sign should appear correctly, see for example record
http://search.kartenportal.ch/#id=217263348
(title: ... Terræ Firmæ®: Amazonum) and compare with Swissbib: ...  Terræ Firmæ & reg: Amazonum

[2013-08-09 15:45] zb-markus commented on #83
Tested and accepted.

[2013-08-10 12:17] JackuB commented on #3
Done

[2013-08-10 12:17] #3 closed, assigned to JackuB

[2013-08-10 12:19] #15 closed, assigned to JackuB

[2013-08-10 13:21] JackuB commented on #84
✓ Main page: /, /en/, /fr/, /it/
✓ Blog: /blog/, /en/blog/, /fr/blog/,
✓ Blog post: /events/EVENT-TITLE/ (remove /event/ in the middle).
✓ Maps gallery: /maps/
✓ Search in the menu is going to be a link to a third level domain - separately not as static sites in the web. Let's remove the static HTML websites from the repository created for #11. Instead the "Kartensuche" and alternatives in the mai

[2013-08-10 23:14] klokan commented on #84
It makes probably sense to make the URLs for blog and blog types following:
/blog/ - all blog posts together
/blog/announcements/ - all posts of type annuncement
/blog/events/ - all post of type events
/blog/maps/ - all posts of type featured maps

The links to individual posts in the blog can be then either:
more universal  /blog/[whatever-title-or-id-of-a-post]
or
more specific /blog/events/[wha

[2013-08-11 01:14] JackuB commented on #5
Looks like there is some problem with updating again kartenportal.klokantech.com/githubwebhook.php

[2013-08-11 07:32] klokan commented on #5
I will fix it today after 15:00. Going to be off line now.

On Sunday, August 11, 2013, Jakub Mikulas wrote:

##

Petr Pridal
(managing director)

Klokan Technologies GmbH
Bahnhofstrasse 9, Baar 6340, Switzerland
Tel: +41 (0)41 511 26 12
Email: info@klokantech.com
Web: http://www.klokantech.com/

[2013-08-12 11:56] ethbib-susanne opened #89 "Font-Sizes"
I am not entirely happy with the font sizes. The concept should be consistent over all pages. Some titles are for my perception to big. Concretely this means:

For the frontpage:
h1 35px ("Karten suchen" -> new 30px
h2 24px ("Veranstaltungen", "Kartensammlung finden") -> 24px
h3 18px ("Wissenswertes ..") -> new 20px
sucheButton  18px ("Suche starten") -> new 16px

Blog page:
("Kartenblog" see new

[2013-08-12 19:50] #84 closed, assigned to JackuB

[2013-08-12 19:50] #25 closed, assigned to JackuB

[2013-08-12 19:50] #24 closed, assigned to JackuB

[2013-08-12 19:51] #21 closed, assigned to JackuB

[2013-08-12 19:52] #5 closed, assigned to JackuB

[2013-08-12 20:01] JackuB commented on #64
I tried to create yearly archive across different post types (maps, announcements, events), but it can't be done.

I already removed archive part from sidebar

[2013-08-13 07:07] zb-markus commented on #36
Initially we wished the 6 top libraries shown only, with "more" at the end. The now implemented search box is fine and accepted.

However, we think that all libraries at the end of the list with only 1 or 2 records (approx. 80 and 60 libraries respectively) are omitted completely. This is rather akward "noise" without any relevance.

[2013-08-13 07:22] zb-markus commented on #72
Tested and accepted.

[2013-08-13 07:34] zb-markus opened #90 "Trefferliste update after location change"
When the user changes the location of the base map using the place-name search box or the zoom controls, the Trefferliste should immediately reflect the new location and update. This was the case before ca. 8 August. Seen in IE8 and IE9.

[2013-08-13 08:10] klokan commented on #36
As you wish. We will show only libraries which has 3 and more maps.

[2013-08-13 08:12] klokan commented on #90
Tested and reproduced. This is a bug.

[2013-08-13 10:50] ethbib-susanne commented on #13
Is there a way that the url's are displayed and usable as links?

![urls](https://f.cloud.github.com/assets/4223790/953948/cc85f376-0405-11e3-9afa-2a9d3508198c.jpg)

[2013-08-13 11:05] ethbib-susanne commented on #89
This section on the front page was bold in a earlier mockup - can you make it bold again?

![intro](https://f.cloud.github.com/assets/4223790/954017/e9d50abe-0407-11e3-8e2c-a492d59f44f4.jpg)

[2013-08-13 11:38] ethbib-susanne opened #91 "Angebote/Wissenswertes sidebar length"
Maybe this is already scheduled - but the sidebar background should end at the end of the text:

![layout_menu](https://f.cloud.github.com/assets/4223790/954138/ac620c54-040c-11e3-8911-81f16377c472.jpg)

[2013-08-13 11:51] ethbib-susanne opened #92 "Angebote page order topics"
The order of the topics in the sidebar menu should be as follows:
- Recherchieren
- Infrastruktur vor Ort
- Scans und Reproduktionen
- Führungen und Gruppenbesuche
- Anwendungsbeispiele

[2013-08-13 12:45] ethbib-susanne commented on #91
On Angebote and Wissenswertes page please leave out the author and date tag.

![footer](https://f.cloud.github.com/assets/4223790/954460/23f9cd16-0416-11e3-9a85-756a1682b1ae.jpg)

[2013-08-13 15:19] klokan commented on #89
We were refining the headers now - please check. These are now according the agreed mockups.

The text on the front page is with intention not bold - this is the way designer suggest it. It looks ugly when bold. But if you request we make it that way.

![screen shot 2013-08-13 at 5 15 14 pm](https://f.cloud.github.com/assets/59284/955501/addd0eca-042b-11e3-9fea-0f93d2b5c5cf.png)

[2013-08-13 15:52] ethbib-susanne commented on #89
Maybe this is to strong. Could we find somethin between?

[2013-08-13 23:24] JackuB commented on #13
89 libraries were imported, 2 duplicates

URLs are now clickable http://kartenportal.klokantech.com/library/E01/

[2013-08-14 00:08] JackuB commented on #2
The red button - done
Ensure the localisation runs correctly - done
The telephone number should be picked by the mobile for one-click call - done
data in the middle column without extra spaces all same line height. - done

[2013-08-14 07:33] klokan commented on #2
Localisation: the switching between languages on the detail page does not run for FR and IT.

[2013-08-14 15:10] radimkacer commented on #92
Done..

[2013-08-14 15:10] #92 closed, assigned to nobody

[2013-08-14 15:13] radimkacer commented on #86
Done on Blog page... same we will make on other pages..

[2013-08-15 12:58] zb-markus commented on #31
Tested and accepted.

[2013-08-15 13:06] zb-markus opened #93 "Detailansicht: show imprint correctly"
In Detailansicht the imprint should always be shown as it is in the original record. For example, in http://search.kartenportal.ch/#id=204371511 the correct imprint is

[S.l.]: [s.n.], [um 1764]

what is currently shown as

[S.l.]: s.n., 0176

Please take care that MARC field 260 is taken over without any change into Detailansicht.
However, in the Trefferliste it is fine how it is. No change neede

[2013-08-15 13:11] zb-markus commented on #77
Tested and accpeted. Swissbib will be informed by us.

[2013-08-15 13:14] zb-markus commented on #79
Tested and accepted.

[2013-08-15 13:20] zb-markus commented on #30
Tested and accepted.

[2013-08-15 13:42] klokan commented on #77
Reopening. Before we close this ticket on our side I have to improve the JavaScript client so it correctly displays the fact that the record has no links to catalogs. In this moment it may show "mysterious" links to previously displayed records.

[2013-08-15 21:10] klokan commented on #13
Please run the import again - as the identifiers visible in the URL use the first column from the spreadsheet. Where is missing identifier use "kart001" and "kart002" etc. The placeholder [text] [url] should be empty texts instead - so that no titles are displayed unless the library provides the data after first login.

How will we pass the passwords for the first login to the institution?

[2013-08-16 06:10] zb-markus commented on #77
Or rather, that records without any backlinks are not displayed at all. We think that records without links are useless for users and should therefore not appear within Geoseach.

[2013-08-16 06:12] zb-markus commented on #49
Tested and accepted.

[2013-08-18 12:50] JackuB commented on #13
Cleared old data and imported them again...

On launch we'll reset all passwords on kp and send link to all users to create new password.

Empty fields are automatically hidden. If all fields are empty text is displayed instead of empty page.

[2013-08-18 12:50] #13 closed, assigned to JackuB

[2013-08-18 13:24] #91 closed, assigned to nobody

[2013-08-18 13:40] JackuB commented on #64
Ad email question: Consolidated yearly/monthly/daily archive of posts can't be done with current setup - as each post type (custom_post_type) have it's own taxonomy/archives/paging. There are APIs for working with such setup (we are using them on blog), but there is no _automatic_ way to generate archives (archive url, archive paging etc.) for multiple post_types.
Ofc, there are ways to generate a

[2013-08-18 13:40] #64 closed, assigned to JackuB

[2013-08-18 14:27] JackuB commented on #2
Language switching now work correctly

[2013-08-18 14:27] #2 closed, assigned to JackuB

[2013-08-18 14:37] JackuB commented on #87
Sidebar is now reordered.

[2013-08-18 14:37] #87 closed, assigned to nobody

[2013-08-18 22:12] #86 closed, assigned to nobody

[2013-08-19 08:45] ethbib-susanne commented on #69
The logins should be standardised. The e-mail-adress would be ideal.

[2013-08-19 08:56] klokan commented on #69
@ethbib-susanne PLEASE, CREATE NEW TICKETS FOR YOUR NEW REQUESTS AND DO NOT COMBINE THE TASKS TOGETHER. Unrelated requests moved to #95.

Email addresses should be usable as logins already.

[2013-08-19 09:20] ethbib-susanne opened #94 "Layout Angebote / Wissenwertes page"
Please leave a bit more space after the paragraph:

![layout angebote](https://f.cloud.github.com/assets/4223790/985014/9bdf39da-08b0-11e3-97db-fac5f80fea03.jpg)

[2013-08-19 09:50] ethbib-susanne commented on #94
Please reduce the space between pictures and titles of paragraphs:

![layout angebote2](https://f.cloud.github.com/assets/4223790/985150/a409fc2c-08b4-11e3-9d72-dca480aed063.jpg)

[2013-08-19 10:10] ethbib-susanne opened #95 "Administration for libraries - changes"
Changed requested in the administration interface for the libraries:
- Marked menu items should not appear in the libraries interface:
  ![menu libraries interface](https://f.cloud.github.com/assets/4223790/985252/884b353e-08b7-11e3-9f35-ccdddbc913c9.jpg)

Remove these fields from the profile:
![cd819c5c-08ac-11e3-89d7-077535b83375](https://f.cloud.github.com/assets/59284/985477/42756aaa-08be-11e3

[2013-08-19 10:22] ethbib-susanne commented on #95
@klokan moved the note about localisation from this place to #97.

[2013-08-19 10:28] klokan commented on #88
Tests done:

In Kartenportal (http://search.kartenportal.ch/#id=217263348) and in our JSON we are missing space between & and reg:

[code]

Original SwissBib (http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22217263348%22+IN+%5B4%5D&v=nose&l=de) and the OAI-PMH request both have the space in between:

[code]

The HTML viewer is interpreting &reg as &reg; (surprisingly for back compatibility). De

[2013-08-19 10:31] ethbib-susanne opened #96 "Header menu on kartensuche page"
Add the complete menu header to the kartensuche page:

![menu kartensuche](https://f.cloud.github.com/assets/4223790/985353/7f103bec-08ba-11e3-8991-4b3e6411b93d.jpg)

[2013-08-19 11:25] klokan commented on #77
Sample record for fixing the JavaScript issue: http://search.kartenportal.ch/#id=045903921

[2013-08-19 11:59] klokan commented on #20
We started to work on the JavaScript implementation - it will reuse these data tags for displaying the markers on the map. Markers are connected with the list of libraries and interaction will highlight both. Click goes to the library detail page.

@JackuB We need new attributes `data-lat="50.1234" data-lon="20.1234"` on each `<a>` in the `<ul><li>` list.

[2013-08-19 12:41] ethbib-susanne commented on #95
Remove the following fields from the admin and map libraries interface, they have no meaning for our website:

![laenge breite](https://f.cloud.github.com/assets/4223790/985907/7e40fe4c-08cc-11e3-86cb-7798c33f4a52.jpg)

[2013-08-19 13:33] klokan opened #97 "Susanne: Translating the web site"
There are three types of text to be translated:

1) Content

The content itself (posts / sites / ..) is created in multiple languages (in database). It is editable via administration interface by clicking on the "Bearbeiten" or the symbol ![edit_translation](https://f.cloud.github.com/assets/59284/1119655/26ee9cd4-1a7f-11e3-9789-eed06fb8e2bf.png) next to the translation.

For example:
http://karte

[2013-08-19 13:55] petrsloup commented on #90
Done.

[2013-08-19 13:55] petrsloup commented on #85
Done.

[2013-08-19 13:56] petrsloup commented on #78
Client modification done.

[2013-08-19 13:57] petrsloup commented on #80
Arrow implemented.

[2013-08-19 13:57] petrsloup commented on #36
Done.

[2013-08-19 13:57] petrsloup commented on #77
Done.

[2013-08-19 14:48] ethbib-susanne opened #98 "Layout events"
Events should have the same layout as 'news' and 'featured map'. Instead of the author name and publication date the time period of the event should be displayed:

![event](https://f.cloud.github.com/assets/4223790/986681/0ca9c00e-08de-11e3-86d8-bc6b1b68151d.jpg)

[2013-08-19 14:51] ethbib-susanne commented on #98
Display of the adress of the event and link to the google site map in the detail view would be usefull. Otherwise there is no need to record these informations it in the libraries interface.

[2013-08-19 15:01] ethbib-susanne commented on #95
Please remove the following features from the map libraries interface:

![permalink](https://f.cloud.github.com/assets/4223790/986804/1d900c8c-08e0-11e3-8cb3-84b4c64df34b.jpg)

![bersetzung](https://f.cloud.github.com/assets/4223790/986802/1198155a-08e0-11e3-844c-f71a7b82ed55.jpg)

[2013-08-19 20:08] klokan commented on #77
@zb-markus We have fixed the JavaScript displaying. These records should not be available via OAI-PMH from SwissBib in a first case.

[2013-08-19 20:08] #77 closed, assigned to nobody

[2013-08-19 20:09] klokan commented on #77
@zb-markus Please test and validate.

[2013-08-19 20:10] klokan commented on #36
@zb-markus Please test and validate.

[2013-08-19 20:10] #80 closed, assigned to nobody

[2013-08-19 20:10] klokan commented on #80
@zb-markus Please test and validate.

[2013-08-19 20:10] #78 closed, assigned to nobody

[2013-08-19 20:10] klokan commented on #78
@zb-markus Please test and validate.

[2013-08-19 20:11] #85 closed, assigned to nobody

[2013-08-19 20:12] klokan commented on #90
@zb-markus Please test and validate.

[2013-08-20 06:58] klokan commented on #95
Advertisement for professional translation is removed.
Länge & Breite removed.

[2013-08-20 11:30] zb-markus commented on #78
Tested and accepted.

[2013-08-20 11:32] zb-markus commented on #66
Tested and accepted.

[2013-08-20 11:39] zb-markus commented on #80
Tested and accepted.

[2013-08-20 12:01] zb-markus opened #99 "Overview map: omit blue rectangle"
In the small overview map (bottom left) there are two rectangles shown, a blue and a red one. Users become confused about the blue rectangle because this has no corresponding rectangle in the main map unless one pans that map.

We think that the blue rectangle should only be shown in the overview map when it is also shown in the main map, i.e. when panning the map.

[2013-08-20 12:20] #88 closed, assigned to keosak

[2013-08-20 12:21] #93 closed, assigned to keosak

[2013-08-20 13:22] klokan commented on #89
The header font sizes are fixed.

The bold is not intended for whole paragraphs. It does look ugly on larger amount of text. We have tried also slightly less strong variant, but it did not help.

[2013-08-20 13:22] #89 closed, assigned to nobody

[2013-08-20 13:47] ethbib-susanne commented on #89
J really don't want to annoy you but this ticket is not closed. Please read my first instructions carefully. They are very clear.

We don't have the same perception of the header hierachy. Of course the website must be consisent, that means that also the titles of the articles in "Wissenwertes" are h2.

[2013-08-20 13:53] ethbib-susanne commented on #89
Then there was a missunterstanding concerning these items in the menu on the left side of the page. The font size should here also be 20 px (h3).

![menu](https://f.cloud.github.com/assets/4223790/993682/a3b52f26-099f-11e3-8a03-b3645a48b57d.jpg)

[2013-08-20 16:30] klokan commented on #94
Well, the HTML for this layout has not been complete. Now it is according the original mockups.

[2013-08-20 16:30] #94 closed, assigned to nobody

[2013-08-21 08:16] klokan commented on #96
Implementation notes:
We include static menu in english from http://kartenportal.klokantech.com/en/.
The links will go to pages in domain http://www.kartenportal.ch/XXX (not valid yet).
Switching of languages must be on the right and it will go to thrid level domains as mentioned in #84, e.g. should link to http://search.kartenportal.ch/ (English) http://suche.kartenportal.ch/ (German). http://rec

[2013-08-21 08:54] zb-markus commented on #36
A new bug appeared: the filter box does not work anymore. Any text entered into the library filter box should immediately filter the library list. Seen in IE8/9.

[2013-08-21 08:58] zb-markus commented on #90
Tested and accepetd.

A similar bug is in the small overview map. Panning there should immediately update the Trefferliste.

[2013-08-21 09:02] zb-markus commented on #88
Tested and accepted.

[2013-08-21 09:13] zb-markus opened #100 "Images of Ryhiner collection: broken links"
The images of Ryhiner collection (Uni Bern - Zentralbibliothek) are still displayed in Detailansicht, while clicking the image or the "View this map" button shows an "image not available" page of the library. However, when searching directly in the library catalog, the images are still linked correctly to their records. This is a new bug, the function was OK probably until ca. mid-August. Test rec

[2013-08-21 09:16] zb-markus commented on #93
Tested and accepted.

[2013-08-21 09:38] zb-markus opened #101 "Remove space in title of record 13025472X"
There is a space in the title of record http://search.kartenportal.ch/#id=13025472X which does not appear in Swissbib and NEBIS.

It should read "Le monde musulman" instead of "Le mond e musulman". Note that the title is correct in both Swissbib and NEBIS since at least 10 January 2013. Therefore check why and how this space has been introduced in Geosearch, or, why the record has not been updated

[2013-08-21 09:46] klokan commented on #101
Regression bug on #88. Work has started.

[2013-08-21 09:54] klokan commented on #100
This issue is combination of two problems:
1. Regression bug on #88. Work has started and we will fix the public web later today.
2. According your instruction from #30 we present the link from the first MARC field 856$u. For the record http://search.kartenportal.ch/#id=044263570 it has in SwissBib and in OAI right now a link: http://aleph.unibas.ch:80/F?func=service&doc_library=DSV01&local_base=D

[2013-08-21 09:58] klokan commented on #36
We have seen this bug earlier today and it is fixed now in the code.
It is going to be visible after we deploy new version of the MapRank Client.

[2013-08-21 10:24] zb-markus commented on #100
Well, my instructions of 10 May 2013 in #30 were on e-rara and e-manuscripta links. Unfortunately it seems that Swissbib handles Ryhiner links in another fashion than e-rara/e-manuscripta links. For Ryhiner the correct links are in the first 956$u. This is not exactly standard MARC usage that has links in 856$u. Please try to change from 856 to 956 for the Ryhiner images, but remain for e-rara and

[2013-08-21 11:20] klokan commented on #100
There are links in 856$u for Ryhiner which are now broken in SwissBib and must be fixed - this should be reported further to SwissBib people. If they already make changes - it would be great to put there links to the zoomable viewer instead - to be more unified with e-rara and e-manuscripta.

I am strongly against implementing rules for detecting the individual publishing systems and handling thum

[2013-08-21 13:48] #101 closed, assigned to keosak

[2013-08-21 15:26] klokan commented on #101
While testing this we have discovered a new issue with maps covering whole world - which will be fixed soon as well.

[2013-08-21 15:36] klokan commented on #100
Implementation issues on our side are now fixed and deployed in production.

SwissBib must fix the broken links for Ryhiner in 856$u and the Kartenportal search will get these via OAI-PMH the next day. If you click in SwissBib detail page on "URL: Vorschau zum Bild und Bestellfunktion" you will get the same broken link as on Kartenportal.

[2013-08-21 19:08] klokan commented on #69
Done.

[2013-08-21 19:08] #69 closed, assigned to JackuB

[2013-08-21 21:31] klokan commented on #58
Done - in modern browsers there are cool animations.

[2013-08-21 21:32] klokan commented on #96
Done.

[2013-08-21 21:32] #96 closed, assigned to nobody

[2013-08-21 21:32] klokan commented on #36
Done.

[2013-08-21 21:32] #36 closed, assigned to nobody

[2013-08-21 21:35] klokan commented on #90
Done.

[2013-08-21 21:35] #90 closed, assigned to nobody

[2013-08-21 21:38] klokan commented on #82
@zb-markus Please make ASAP the validation of all English texts at http://search.kartenportal.ch/. If you want to make changes in English then now it is the right moment.

Once this is finished we will generate the translation dictionaries and you or your appointed persons can start to work on the translation from English to other languages. The system is ready.

[2013-08-21 21:38] klokan commented on #99
Done.

[2013-08-21 21:38] #99 closed, assigned to nobody

[2013-08-21 21:39] klokan commented on #32
We started to work on reimplementation into LeafletJS library instead of OpenLayers V3 - to be able to close this ticket as well.

[2013-08-21 21:45] klokan commented on #95
@JackuB Please ensure the administrative interface for libraries is also correctly translated. Check the paragraph with translation in the first comment of #97

[2013-08-22 08:08] ethbib-susanne opened #102 "Link from Kartensuche library name to Sammlungen"
J suddenly noticed that we didn't implement the link from the Kartensuche libraries to the Sammlungsverzeichns (a requirement that we stipulated.):

![info](https://f.cloud.github.com/assets/4223790/1007197/6ec62e24-0b01-11e3-9a8b-d5ced76b9a1c.jpg)

[2013-08-22 08:31] zb-markus commented on #58
We have some small amendments:

In the How does it work part, in nr. 1, the title should read: "Getting started". In the text, it should read: "There is also an Exact Area tool (1c)" instead of "There is also a tool ..."

Below the instructions 1 to 3, the following text is expected: "You can always come back to these instructions by clicking the Help icon."

In the About part, it should read: "Yo

[2013-08-22 08:33] zb-markus commented on #36
Tested and accepted.

[2013-08-22 08:38] zb-markus commented on #90
Tested and acepted.

[2013-08-22 08:49] zb-markus commented on #82
Some small amendments reported in #58. No other problems in English texts found so far.

Will the translation system allow to print out the texts to be translated as a list, and/or to expor it as an Excel spreadsheet? Will the system allow translators to see all other languages already translated, for example in a spreadsheet with columns for each language?

Will translators be able to see whether

[2013-08-22 08:50] zb-markus commented on #99
Tested and accepted.

[2013-08-22 08:51] ethbib-susanne opened #103 "Font Size Blog Layout"
J little change of font size and space. J like the concept, but the font size is for my perception to big. J prefer it like this:

![layout blogpage](https://f.cloud.github.com/assets/4223790/1007432/e12fb6aa-0b07-11e3-9f66-14b08885aa3a.jpg)

[2013-08-22 09:08] klokan commented on #97
@ethbib-susanne You have caused a lot of troubles by editing the PHP source codes in the past and by replacing English phrases with German inconsistently via the 'admin' account. The language of source code is English - and there is a translation system for turning the English phrases to other languages. Your changes also broke our automatic deployment system in the past...

We have to revert your

[2013-08-22 09:10] klokan commented on #103
This is exactly what was scheduled internally - and it will be deployed later today.

[2013-08-22 09:11] klokan commented on #103
Done.

[2013-08-22 09:11] #103 closed, assigned to nobody

[2013-08-22 09:29] klokan opened #104 "Kartenportal.CH logo in vectors and print ready version"
The Kartenportal.CH project the logo in Color, BW and Grey variants in vectors. And possibly a short design manual with used color codes and usage instructions.

It is required for the project announcement, PR, presentations and for printing on marketing materials and posters of the project in future.

Formats: Manual in AI and PDF with all logo variants (1 file), each logo in PDF (3 files) and la

[2013-08-22 09:39] zb-markus commented on #32
Now OSM is working also in IE8!

[2013-08-22 09:41] klokan commented on #32
Yes. We are fixing some last small issues and this ticket can be closed then.

[2013-08-22 10:54] radimkacer commented on #98
Here is solution for Blog list (events) and detail page events...

![screen shot 2013-08-22 at 12 49 54 pm](https://f.cloud.github.com/assets/3808072/1008073/0b5aece0-0b19-11e3-9530-c2c7c13fdb27.png)
![screen shot 2013-08-22 at 12 47 40 pm](https://f.cloud.github.com/assets/3808072/1008075/103e9f54-0b19-11e3-9e6f-8810f274958b.png)

@ethbib-susanne Can you please comment?

[2013-08-23 08:37] ethbib-susanne commented on #20
Very nice! J like the layout and the interaction design.

One last point: Is it possible to have a "go back to library search" button on the libraries detail page. The idea is that somebody who already filtered the list and changed to a library detail page can go back easily to the selection made before in order to check other libraries.

[2013-08-23 12:04] klokan commented on #20
Thanks for the praise.

We will open the library in a new window/tab instead and keep the libraries list open in the background - same as we do that for geosearch and links to SwissBib and catalogs.

[2013-08-24 13:31] klokan commented on #102
According to the original mockup made by the designer this should look similar to:

![detail-popup](https://f.cloud.github.com/assets/59284/1020744/cb478830-0cc0-11e3-9752-de28b85bff93.jpg)

We should round the link buttons (5px) but keep only the existing short captions used by now.
Instead of the address we will display blue underlined textual link with "Library details" going to "http://www.kar

[2013-08-24 15:26] klokan commented on #20
Done.

[2013-08-24 15:26] #20 closed, assigned to nobody

[2013-08-25 04:33] klokan commented on #102
Done.

[2013-08-25 04:33] #102 closed, assigned to nobody

[2013-08-25 04:40] klokan commented on #32
The implementation in Leaflet should be now finished. Please test.

[2013-08-25 04:40] #32 closed, assigned to nobody

[2013-08-25 04:40] klokan commented on #58
Done.

[2013-08-25 04:44] klokan commented on #95
Done

[2013-08-25 04:44] #95 closed, assigned to nobody

[2013-08-25 04:45] klokan opened #105 "Refinement of the search results page"
The search results should be properly formatted - similar to blog layout, header should be improved, Next and Previous pages styled:

http://kartenportal.klokantech.com/search/karten

[2013-08-25 04:47] klokan opened #106 "Administration for libraries"
The libraries, while logged in the administration can see the list of posts which they cannot edit - so after clicking on the link they are just refused because of the permission.

It would make sense to hide the non-editable posts directly.

[2013-08-25 04:49] klokan opened #107 "SUSANNE: Translating the administration interface"
We need ASAP the translated version of the administrative interface for the libraries.
For the german translation of the dashboard see comment at #97.

[2013-08-25 06:24] klokan commented on #82
@zb-markus please provide me with your Google account.

You can create one for your existing email address (at ZB) via https://accounts.google.com/SignUp

 Translation interface is ready with phrases imported.

[2013-08-26 13:02] ethbib-susanne commented on #98
J suggest this order of elements:

![layout](https://f.cloud.github.com/assets/4223790/1025797/bf34c9f0-0e4f-11e3-8a79-fe5150845999.jpg)

[2013-08-27 14:26] ethbib-susanne opened #108 "Last small layout modifications homepage"
Please set 15px (until now 13 px)for the font of the introduction text beneath the search bottom and change the space between button and text to 35px (until now 50px).

![suche-box](https://f.cloud.github.com/assets/4223790/1035041/4ce69dda-0f24-11e3-9573-cc18a4acbfea.jpg)

[2013-08-27 14:38] ethbib-susanne commented on #108
Please reduce the distance between the to paragraphs. (This request was already made in a closed ticket)

![abstand](https://f.cloud.github.com/assets/4223790/1035160/2695f926-0f26-11e3-8cfd-8fd142c23b05.jpg)

[2013-08-27 14:45] ethbib-susanne opened #109 "Last small font size and distance modifications"
Please shorten the distance between title and picture to 40px (until now 55px) for all pages. This request was made before in a closed ticket.

.singlePost h1 {
    margin-top: 40px;

![abstand2](https://f.cloud.github.com/assets/4223790/1035206/0921b3fc-0f27-11e3-8245-e7f2e8156b39.jpg)

[2013-08-28 06:18] zb-markus commented on #100
I have discussed this issue both with the Ryhiner collection manager and the map librarian liaison to Swissbib. The library is currently not able to guarantee stable links that will appear in a 856 field within Swissbib. On the other hand, it will take weeks or even months until Swissbib has time to work on maps matters.

Therefore I came to the conclusion that we omit Ryhiner images and links com

[2013-08-28 06:21] zb-markus commented on #32
Tested and accepted.

[2013-08-28 10:30] klokan commented on #100
Well - it seems the links runs again. I don't see a reason for removing these right now.

Kartenportal search on top of SwissBib database. All data from SwissBib appears in Kartenportal as well. It is very non-systematic to suddenly start to implement new rules for removing some of the content on our side.
Please think about it and comment on this subject.

[2013-08-28 12:24] zb-markus commented on #100
We have several reasons to omit Ryhiner links:

(1) You strongly opposed to implement exceptions, especially links from 956 instead of 856. I fully agree.

(2) Currently, when one is clicking the View this map button, one is directed to a Copyright notice. If one clicks its OK button, one will be closed in because they deactivated the Back button of the browser. We do not like to support that beha

[2013-08-28 13:48] ethbib-susanne commented on #108
Please add a link to the map picture in order to get to the map library search when clicking on the map.

![kartensammung_finden](https://f.cloud.github.com/assets/4223790/1042262/6bbe0fd0-0fe8-11e3-99d8-1234f3e59370.jpg)

[2013-08-28 14:58] klokan commented on #100
There is no exception to remove right now. In this moment we display only the links from 856$u and there are the same for Ryhiner, e-Rara and e-Manuscripta. See #30.

If we should remove Ryhiner we have to implement a new exception instead. If we do that then there is not big difference whether we implement an exception for removing the record or for getting the link to zoomable viewer from one of

[2013-08-28 15:39] ethbib-susanne opened #110 "Google Maps map extract size and link on libraries detail page"
1. Please make the map extract a bit larger (300x250).
2. The link to Google maps doesn't always produce the requested result. Sometimes there is no result or not relevant results. We can avoid missing or false results by transfering only the street adress, postal code and city name.

Bad Example:
![goolge_link_1](https://f.cloud.github.com/assets/4223790/1043072/b8c42a62-0ff7-11e3-9f9f-a9d1196e09

[2013-08-28 19:29] JackuB commented on #106
![image](https://f.cloud.github.com/assets/1788727/1044793/1d5f0878-1018-11e3-86e8-cf7950224be9.png)

Done

[2013-08-28 19:29] #106 closed, assigned to JackuB

[2013-08-28 19:52] JackuB commented on #107
Dashboard translated
![image](https://f.cloud.github.com/assets/1788727/1044938/5f8ea872-101b-11e3-989f-45510445bef6.png)

[2013-08-29 08:11] ethbib-susanne opened #111 "Leave out 'neueste Beiträge' on blog page"
You tried to convince me that we should leave this feature. J still don't think that it is usefull in our context. Please leave it out:

![blog](https://f.cloud.github.com/assets/4223790/1048060/73d6aa7a-1082-11e3-81d0-e28c0e5e8256.jpg)

[2013-08-31 13:04] zb-markus commented on #100
I see that we have to independent problems, and I apologize for having mixed these above.

The first one, the broken links, are OK again after all worked well already in July. I do now know that the problem was a temporary one in mid-August. And it was neither caused by Geosearch, nor by Swissbib. It was the Bern library that reorganized its website and therefore temporarily caused broken links. I

[2013-08-31 13:33] zb-markus commented on #58
We have again two test results just coming in:
- In the About part, it should read "You can search for maps covering ..." (insert "for"). This is a small improvement despite the text submitted originally has been written by a native speaker. We are sorry for any inconvenience this may cause for the translation process.
- The links at the bottom (About and How does it work?) should be better visibl

[2013-08-31 13:40] zb-markus opened #112 "Colour of search result"
From the usability point of view, the connection between the highlighted result in the Trefferliste and its footprint on the search map should be improved. In fact, we think that both should be in the same colour. See attached mockup.

![geosuche](https://f.cloud.github.com/assets/59284/1064770/fac93912-134d-11e3-96fc-a338f7d10e2b.PNG)

[2013-09-02 15:01] ethbib-susanne opened #113 "Administration: libraries interface"
Please leave out the marked features (allready specified in previous tickets, some features must be new):

![interface_libraries](https://f.cloud.github.com/assets/4223790/1067954/125dc042-13e0-11e3-88e2-f041a3b23439.jpg)

Please translate all texts and titles.

[2013-09-02 15:06] ethbib-susanne commented on #110
Please translate titles in the libraries detail page.

[2013-09-02 15:13] ethbib-susanne opened #114 "Libraries search - missing libraries"
There are two libraries that are not displayed when selected:
- Zentral- und Hochschulbibliothek Luzern
- Bibliotheque cantonale jurassienne

[2013-09-03 10:08] ethbib-susanne opened #115 "Links from Kartensuche to library detail pages"
Link 'library details' can only be displayed if library is included in the libraries directory:

![link](https://f.cloud.github.com/assets/4223790/1071855/5becce92-1480-11e3-8887-0c5f57eeb606.jpg)

[2013-09-03 13:31] zb-markus opened #116 "Distinction between Main and Filters menu"
We have noted that the Main menu (Home, Search, Libraries, ...) and the Filter menu (Timeline, Attributes, Library) do not separate very well.

In order to have a better distinction between the two menus, we propose to have the labels in the Filter menu and the Help in the same colour (blue) like their icons. If this is not appropriate because of the overall design principles, we then propose to i

[2013-09-03 13:49] zb-markus commented on #100
A new problem was detected today: All images except of the Ryhiner images have gone, i.e. e-rara and e-manuscripta images are no longer shown. Please come back to the situation we had until 31 August. See
http://search.kartenportal.ch/#id=045311757
http://search.kartenportal.ch/#id=131358952

[2013-09-03 13:58] ethbib-susanne opened #117 "Print, share, RSS, ICS"
Are all these functions implemented?

[2013-09-04 10:53] ethbib-susanne commented on #82
Hello Markus, hello Petr,

J can fill in the translations. My account:

maps@library.ethz.ch

Do you need more information?

[2013-09-04 18:08] klokan commented on #104
The reqested graphic is in:
https://drive.google.com/folderview?id=0BwUe1kqIRJWSUlpvQlRhR21yTWM&usp=sharing

[2013-09-04 18:54] radimkacer commented on #109
DONE

[2013-09-04 18:54] #109 closed, assigned to nobody

[2013-09-04 19:16] radimkacer commented on #104
DONE

[2013-09-04 19:16] #104 closed, assigned to radimkacer

[2013-09-06 10:34] zb-markus opened #118 "Urgent: Regular updates required"
We just noted that no maps catalogued after 19 August are contained in Geosearch. Reproduction:

NEBIS: search with words "raumentwicklung übersichtsplan" -> 72 records, catalogued between 16 and 28 August 2013
Swissbib: search with words "raumentwicklung übersichtsplan" -> 73 records
Geosearch: http://search.kartenportal.ch/#bbox=8.430939960938303,47.240761032351905,9.209021556615084,47.706646397

[2013-09-06 11:20] klokan commented on #112
We need to switch the colours of the rectangles on map only.
The review record is going to be blue, and temporary rectangle red.

[2013-09-06 11:33] klokan commented on #115
This is going to be fixed once we move the website to www.kartenportal.ch - because we can't implement it immediately due to password protection and not final domain.

We will display the postal address always and the link to Library details only if it has the SwissBib identifier as identifier on Kartenportal.

[2013-09-06 11:51] klokan commented on #114
These libraries are missing latitude and longitude records stored in the WordPress administration - and these values needs to be added via the admin interface by @ethbib-susanne because they were not present in the XLS during the imported XLS provided - the provided excel file is linked from #13

[code]

[2013-09-06 12:04] zb-markus commented on #112
Well, we think that the highlighted record and its footprint rectangle are the most important items for the user, and that these need to be distinct from any other colour used for navigation controls, filters, menues etc. Therefore we prefer to keep the red colour for the rectangle and to change the colour of the highlighted record in the Trefferliste.

The red in the Trefferliste shown on the moc

[2013-09-06 14:59] klokan commented on #112
OK. This is very reasonable. We will make it  - with the same red as the search button on web frontpage and of the line on top of the logo.

[2013-09-06 15:02] klokan commented on #114
@ethbib-susanne Is there a reason why these three libraries did not have the lat lon in the provided XLS?

Shall we try to identify these based on the address and fill the data on our side?

[2013-09-06 15:07] klokan commented on #114
OK. I see that the reported issue is in fact related yet another problem.

The dead links after click in the list in http://kartenportal.klokantech.com/libraries/ on:
- Zentral- und Hochschulbibliothek Luzern
  http://kartenportal.klokantech.com/library/LUZHB
- Bibliotheque cantonale jurassienne
  http://kartenportal.klokantech.com/library/310480000

[2013-09-06 16:48] klokan commented on #114
LUZHB has difference in SwissBib ID as LULES:
http://kartenportal.klokantech.com/library/LULES/

310480000 has difference in SwissBib ID as 310410000:
http://kartenportal.klokantech.com/library/310410000/

We will fix this but to me is completely unclear where this difference of identifiers comes from.

[2013-09-06 16:52] klokan opened #119 ""View this map" opens a new browser window"
When clicking the View this map button, a new browser window should open that will display the content of e-rara, e-manuscripta and Ryhiner.

[2013-09-06 16:55] klokan opened #120 "Thumbnails for e-rara and e-manuscripta missing"
A new problem was detected today: All images except of the Ryhiner images have gone, i.e. e-rara and e-manuscripta images are no longer shown.
See
http://search.kartenportal.ch/#id=045311757
http://search.kartenportal.ch/#id=131358952

[2013-09-06 16:58] klokan commented on #100
#119 "View this map" opens a new window
#120 Thumbnails for e-rara and e-manuscripta missing

Please open for new requests and new problems new tickets.

I am closing this ticket - the broken links to Ryhiner were discussed and are solved now.

[2013-09-06 16:58] #100 closed, assigned to keosak

[2013-09-06 17:20] klokan commented on #120
It seems the links to the thumbnails were completely removed from SwissBib and from the MARC records.
OAI-PMH update which runs every night automatically removed these from Kartenportal as well.

**Our implementation is expecting the link to thumbnail in the MARC 956$u and the link must end with ".jpg".**

The mentioned example record in SwissBib does not contain the link to thumbnail in the MARC

[2013-09-06 17:49] klokan commented on #116
Well, this is exactly the reason why we were very much in favour of design with dark background in the main website navigation header. To have a better contrast between the two menus. This has been refused - and here comes the reports of issues...
I also hope the reported issue is not related to a wrongly configured monitor which is not displaying the shades of grey correctly.

We are a few days b

[2013-09-06 17:55] klokan commented on #118
The regular updates run every night - this is for example why #120 propagated the changes immediately.

There must be something special about these records - either there is a problem in MARC or on the side of SwissBib OAI-PMH export. We are investigating this and provide a report and fix.

Thank you for a nice bug report.

[2013-09-06 18:15] klokan commented on #117
Yes. This should be already implemented, but we will check again. There may be regression with the last changes on the website.

[2013-09-06 18:37] JackuB commented on #111
It's now removed

[2013-09-06 18:37] #111 closed, assigned to nobody

[2013-09-06 19:00] klokan opened #121 "Susanne: Wrong size of images in map gallery"
The map gallery contains records which were not made by us with images which were uploaded with a wrong pixel size and are now breaking the design layout on the gallery.

These are:
http://kartenportal.klokantech.com/maps/typometrie/
http://kartenportal.klokantech.com/maps/faksimile/
http://kartenportal.klokantech.com/maps/vogelschaukarte/
http://kartenportal.klokantech.com/maps/atlas/

This can b

[2013-09-08 16:28] JackuB commented on #117
RSS is not working because of lockdown
ICS is working

[2013-09-08 16:51] JackuB commented on #113
Libraries now don't have ability to upload files (so that button for file upload is hidden)
Admin UI settings from user "testlib" are now copied to all users
Strings from library interface (add new posts etc.) are now added to .po/.mo files as they are now translatable and in same textdomain as rest of theme.

[2013-09-08 17:16] JackuB commented on #114
This is weird... anyway, Swissbib ID is now being used for generating links to library detail page...

[2013-09-08 17:41] JackuB commented on #110
1, map image is now larger
2, Search term is now only address - without library name
3, Texts now have corrected translation (english strings instead of german strings)

[2013-09-08 17:41] #110 closed, assigned to nobody

[2013-09-08 17:41] #114 closed, assigned to nobody

[2013-09-09 12:05] ethbib-susanne commented on #110
1. J don't understand why there are english strings on a german webpage. Do J have to translate these texts in the translations interface?

[2013-09-09 12:12] klokan commented on #110
Yes - you have to translate English into all other languages.

Please use the translation interface as admin:
http://kartenportal.klokantech.com/wp-admin/tools.php?page=codestyling-localization/codestyling-localization.php&type=themes

[2013-09-09 12:15] ethbib-susanne commented on #110
Hello Petr

J tried to understand how the translations work. J didn’t succeed. Can you please give a little bit more instructions (screenshots of the admin interface in question) and working steps?

[2013-09-09 13:25] ethbib-susanne commented on #110
Is this the interface? And how do J have to proceed?

![translation](https://f.cloud.github.com/assets/4223790/1106975/3fa091e2-1953-11e3-8a1e-f97ad882a414.jpg)

[2013-09-09 13:27] klokan commented on #110
Click on Bearbeiten next to Deutch.

[2013-09-09 13:29] ethbib-susanne commented on #110
J have done so but J can’t filter the relevant terms. There are 5’900 text strings.

[2013-09-09 13:32] klokan commented on #110
You have to open the "Themes" in the blue upper line of links. On the screenshot you have selected "Wordpress".

By clicking on the link which I provided (http://kartenportal.klokantech.com/wp-admin/tools.php?page=codestyling-localization/codestyling-localization.php&type=themes) you should have been taken directly into the relevant page - were you not?

[2013-09-09 13:33] klokan commented on #110
BTW I still have to fix your hacks where German phrases were put into the source code where belongs only English - I will do it tonight.

[2013-09-10 07:11] zb-markus commented on #120
I am sorry I missed the fact that Swissbib has removed the 956 fields we need. If I had noted this before, I would not have opened this issue. When I accepted #30, everything was fine at the time. I did simply not expect that Swissbib makes such dramatic changes and removes the 956 fields completely. Look, it is sometimes very difficult to see whether a certain problem is a regression problem with

[2013-09-10 07:11] #120 closed, assigned to nobody

[2013-09-10 07:11] ethbib-susanne commented on #110
Hello Petr

Thank you – J am at the right place now.  J was irritated by the amount of languages.

[2013-09-10 07:35] zb-markus commented on #116
We have seen test users clicking the wrong menu because both look quite similar. I am not responsible for the upper navigation menu, though. What I therefore did is to propose small modifications in the filter menu or of the thin dividing line.

We accept that any change of the line thickness is not appropriate. Let us try to set the filter menu to blue instead, accepting that the selected item in

[2013-09-10 07:46] zb-markus commented on #118
OK, we are awaiting your further investigation on this issue.

On the other hand, we are most grateful that the importing script is running every night. This is clearly an improvement against the Lastenheft.

[2013-09-10 09:31] zb-markus commented on #77
Tested and accepted.

[2013-09-10 09:32] klokan commented on #118
We have restarted downloading of the complete SwissBib (over 8GB of XML) again, it takes several hours - it has been finished once on Friday and once with a different logging system yesterday.

Our updating script runs every night. The script asks for changes since the last successful update - so normally for changes during last 24 hours - and downloads only the differences (a few KB to MB) and is

[2013-09-10 09:32] #118 closed, assigned to keosak

[2013-09-10 09:44] zb-markus commented on #118
Thank you very much for this great effort. Tested and accepted.

[2013-09-10 22:02] klokan commented on #82
You have both access to the translation toolkit with the phrases for the Search Interface.

German: http://translate.google.com/toolkit/workbench?did=00cewrc00a4sdfp179c0
French: http://translate.google.com/toolkit/workbench?did=004admb00a4sddq037cw
Italian: http://translate.google.com/toolkit/workbench?did=00702ie00a4sdho2bbb4
Romansh: http://translate.google.com/toolkit/workbench?did=00a6r3400a4

[2013-09-11 00:40] klokan commented on #121
This is a task for Susanne to do.

[2013-09-11 00:53] klokan commented on #108
I have set the map as clickable and switch the whole front page as a translatable template - via GetText.

We need for the front page template the final texts in English.

[2013-09-11 01:03] klokan commented on #58
ad 1) this must be done after the translation process is finished - it is now too late for this change on our side. English phrases in Search interface has been already locked. Task is moved into #82.

ad 2) We will use a larger font (16px)

[2013-09-11 01:03] klokan commented on #82
Task to be finished after the delivered translations are applied and visible on the production system:
In the Help dialog, the About part, it should read "You can search for maps covering ..." (insert "for").

UPDATE: There is now an "English corrections" translation too for this sort of adjustments...

[2013-09-11 01:07] klokan commented on #115
The swissbib.js contains a true/false value for each library as the last attribute in the list -  telling whether to display the link or not.

[2013-09-11 06:29] petrsloup commented on #115
New element will be appended to each entry in swissbib.js. 0 meaning "don't display", 1 meaning "display the link".

[2013-09-11 07:01] #113 closed, assigned to JackuB

[2013-09-11 07:01] klokan commented on #117
Closing - if there is an report of issue we reopen or create a new ticket where the issue is described.

[2013-09-11 07:01] #117 closed, assigned to JackuB

[2013-09-11 07:04] klokan opened #122 "Responsive "Libraries""
The http://kartenportal.klokantech.com/libraries/ layout does not behave correctly as responsive.

This should be solved via CSS only. On a small screen and for printing only the list of libraries is displayed and map is hidden. The list should fill the whole screen - gray background texture is replaced by gray color.

There is also a bug in responsive design related to the more design (such as ht

[2013-09-11 07:06] klokan opened #123 "The "Find maps" on the web front page"
Should send people to correct language mutation of the search website to the #place= link.

[2013-09-11 07:07] klokan commented on #123
I am working on this now.

[2013-09-11 07:13] ethbib-susanne commented on #121
J will do this. Can you please give me the exact dimensions (pixel sizes)?

[2013-09-11 07:15] keosak commented on #115
All right, the new field is present at http://search.kartenportal.ch/swissbib.js as the last item in each sublist. For the time being it is generated from a static HTML file that I have downloaded. We will switch to regular updates when the Kartenportal site goes live.

[2013-09-11 07:17] ethbib-susanne commented on #108
The translations are to be finished soon. J will send you the texts in about two days.

[2013-09-11 07:20] klokan commented on #108
Two days? Well, the German texts need to be replaced by English (as they were originally) so that they can be translated to other languages. Until then you will see a mixture of English and German on the front page.

[2013-09-11 07:27] klokan commented on #121
I expect 726 x 472 px - same as the images made by the designer.

[2013-09-11 09:21] ethbib-susanne commented on #98
The map doesn't have to be displayed - there can be a link in the adress section directs the user to the place in google maps.

[2013-09-11 14:35] klokan commented on #58
Done and deployed.

[2013-09-11 14:35] #58 closed, assigned to petrsloup

[2013-09-11 15:18] klokan commented on #82
All translations as right now available in the translation system (including the German and English corrections) is applied on the production system now - we can update the system with phrases from Google Translate on request easily.

[2013-09-11 15:19] klokan commented on #119
Done and deployed.

[2013-09-11 15:19] #119 closed, assigned to petrsloup

[2013-09-11 15:19] klokan commented on #112
Done and deployed.

[2013-09-11 15:19] #112 closed, assigned to petrsloup

[2013-09-11 15:20] klokan commented on #116
Done and deployed.

[2013-09-11 15:20] #116 closed, assigned to petrsloup

[2013-09-11 15:23] klokan opened #124 "Post-launch tasks"
These are tasks we need to do after www.kartenportal.ch is switched to the new versions:
- [x] Ensure swissbib.js is regularly updated and accessing live http://www.kartenportal.ch/kartensammlungen/ dynamically every night and refreshes the list of libraries appropriately. Related to #115
- [x] Ensure the links from search.kartenportal.ch top menu are correct. Be aware of '/de/' in URL issue durin

[2013-09-11 15:23] klokan commented on #115
Done and deployed. The need to automate is marked in post-launch ticket.

[2013-09-11 15:23] #115 closed, assigned to petrsloup

[2013-09-11 16:16] zb-markus commented on #58
Tested and accepted.

[2013-09-11 16:17] zb-markus commented on #112
Tested and accepted.

[2013-09-11 16:19] zb-markus commented on #116
Tested and accepted.

[2013-09-11 16:38] zb-markus commented on #82
OK, translations are in progress ...

[2013-09-11 17:24] ethbib-susanne opened #125 "Layout Contact page"
The line in the sidebar must be removed. There should be some pixels space at the left and right border of the input fields in the sidebar. Otherwise it looks unfinished.. Then the line below 'Contact' should be closer 'Contact' - this also the blog page (see Issue #98 solution for blog list).

![kontakt](https://f.cloud.github.com/assets/4223790/1124809/c7f9104c-1b05-11e3-9041-82570aaf3255.jpg)

[2013-09-11 19:24] klokan commented on #97
These are the custom fields - and their Labels. It can't be translated with the translation system - it must be done directly:
http://kartenportal.klokantech.com/wp-admin/edit.php?post_type=acf
Be extremely careful - no deleting, no restructuring, no change of names, only translating the Labels - if you really want to do that yourself.

And you are hacking the PHP code again and again, and breakin

[2013-09-11 19:41] ethbib-susanne commented on #108
Please set the line pitch to single spacing in this paragraph:

![kartensammlungen](https://f.cloud.github.com/assets/4223790/1125883/c392d2e0-1b19-11e3-954d-92d04a1ae2d4.JPG)

[2013-09-11 19:42] ethbib-susanne commented on #108
The Link 'Zum Verzeichnis' should be on a new line.

[2013-09-11 20:19] klokan commented on #108
Done

[2013-09-11 20:19] #108 closed, assigned to klokan

[2013-09-11 20:48] klokan commented on #123
Done and deployed - translation and alternative domains are supported.

[2013-09-11 20:48] #123 closed, assigned to klokan

[2013-09-11 21:47] klokan commented on #121
OK. I am closing this ticket - because it is not a job for KlokanTech.

[2013-09-11 21:47] #121 closed, assigned to klokan

[2013-09-11 22:32] klokan commented on #125
Done according your request.

[2013-09-11 22:32] #125 closed, assigned to nobody

[2013-09-11 22:55] klokan commented on #105
Done.

[2013-09-11 22:55] #105 closed, assigned to JackuB

[2013-09-12 06:16] radimkacer commented on #98
![kartenportal-webdesign-event](https://f.cloud.github.com/assets/3808072/1128677/c0cd6c10-1b72-11e3-981f-5872b6142f8a.jpg)

[2013-09-12 07:21] ethbib-susanne commented on #98
Perfect!

[2013-09-12 08:11] ethbib-susanne opened #126 "Bottom menu in French and Italian"
The Bottom menus in French and Italian are not complete.

[2013-09-12 08:17] ethbib-susanne opened #127 "Libraries administration: no fields"
When J login as map library J can't see the complete input field section.

[2013-09-12 08:33] zb-markus opened #128 "Changing between languages keeps results"
When the user decides to change the language, for example from English to German, his results should be kept. That is, the position of the search map, the zoom level, and therefore the order of the Trefferliste should not get lost. If a Detailansicht of a record is open, a change of the language should be possible without loosing the Detailansicht of that record.

[2013-09-12 08:38] zb-markus opened #129 "Colour of catalog button in Detailansicht"
After we have changed the colour of the record in the Trefferliste from blue to red (#112), this calls for a colour change within Detailansicht as well: The Catalog buttons should be in the same red instead of orange.

[2013-09-12 08:46] ethbib-susanne opened #130 "Links in news and events section on homepage"
Here there should be a link 'Show all news' that opens all news on the blog page.

![neuigkeiten](https://f.cloud.github.com/assets/4223790/1129268/18d44a1e-1b87-11e3-8c95-418b03146003.jpg)

Here there should be a link 'Show all avents' that opens all events on the blog page. Please only display two events:

![veranstaltungen](https://f.cloud.github.com/assets/4223790/1129273/22eecab0-1b87-11e3-83

[2013-09-12 08:47] ethbib-susanne commented on #130
The link 'Show all events' is instead of the link 'next page'

[2013-09-12 12:14] ethbib-susanne commented on #129
Please wait with processing this ticket. J first have to discuss the color question with Markus.

[2013-09-12 13:01] zb-markus opened #131 "Width of map selection buttons"
The width of the map selection buttons needs to be enlarged due to the German language.

With the same, the space between the buttons should also be enlarged, similar to the space between the zoom level controls.

[2013-09-12 13:56] zb-markus opened #132 "Upload French and Italian"
The French and Italian versions have been revised, i.e. cleaned from the worst machine-translated errors. Because both languages are visible in the Geosearch interface, we cannot wait until the official translations are ready.

[2013-09-14 14:04] JackuB commented on #127
It's fixed. There was clash between rule to show only user created content (in post listing etc. - #106 ) and rule to globally add fields to user profile.

[2013-09-14 14:04] #127 closed, assigned to JackuB

[2013-09-15 12:35] JackuB commented on #126
Bottom menu can be controlled here: http://kartenportal.klokantech.com/wp-admin/nav-menus.php

I'd add missing links myself, but I don't have translated names for links...

[2013-09-15 12:58] JackuB commented on #130
Done

![image](https://f.cloud.github.com/assets/1788727/1145294/7abba0d4-1e06-11e3-8efd-7912cc69df3d.png)

[2013-09-15 14:03] JackuB commented on #122
Updated CSS is in github. Some problem occured with git autodeploy.

[2013-09-15 14:11] JackuB commented on #98
Updated

[2013-09-15 14:31] klokan commented on #122
The "Search" button next to the input field is broken now.

[2013-09-15 14:32] klokan commented on #130
Responsive design is now broken on the front page - the dashed lines are not equally long and on smaller screens the Map libraries do not align to the left.

[2013-09-15 23:37] #130 closed, assigned to nobody

[2013-09-16 07:51] ethbib-susanne commented on #126
You can write the names in Englisch. J will translate them later.

Thank you
Susanne

[2013-09-16 09:19] ethbib-susanne commented on #97
The fields names are translated now, but the translated titles are not visible:

![librar_details](https://f.cloud.github.com/assets/4223790/1147831/ffbb2b06-1eb0-11e3-8c0e-62c08ba42a3a.jpg)

http://kartenportal.klokantech.com/library/E01/

[2013-09-16 09:24] ethbib-susanne opened #133 "Remove password protection"
On the 17th of semptember the website will be presented to the ETH library staff in a internal newsletter. There is a link to the new webportal which shouldthen  not be protected by a password anymore.

Please remove password today and confirm the work step by mail. Thank you.

[2013-09-16 09:26] ethbib-susanne commented on #133
For the presentation tomorrow J would like to remove test items in the events, news and mapportraits section. Is this ok for you? Or do you still need the items for testing purposes?

[2013-09-16 11:04] klokan commented on #133
Password protection removed. Feel free to change the content as you want...

[2013-09-16 11:04] #133 closed, assigned to nobody

[2013-09-16 11:07] ethbib-susanne commented on #133
Hello Petr

What to you mean about changing content? J don’t understand.

Regards
Susanne

[2013-09-16 11:49] ethbib-susanne commented on #97
Where can J translate these terms and texts:

![welcome](https://f.cloud.github.com/assets/4223790/1148539/cf706b36-1ec5-11e3-84b6-d46c0c5fdc6f.jpg)

[2013-09-16 13:18] ethbib-susanne opened #134 "Responsive Design"
There is a problem with the pointed line in the libraries detail page:

![responsive_design](https://f.cloud.github.com/assets/4223790/1148975/5a0e5da0-1ed2-11e3-98c8-010b687008dd.jpg)

[2013-09-16 13:31] ethbib-susanne opened #135 "Printing"
Kartenportal.CH Icon fills an column. There is not enough space left for the real  information part, the font in the hardcopy is to small.

![print](https://f.cloud.github.com/assets/4223790/1149062/e6722172-1ed3-11e3-88fb-824eebb1cd51.jpg)

[2013-09-16 17:34] JackuB commented on #135
1, printing is hard to control on responsive webdesign, as there are no clear (technical) rules to control and test printing styles across browsers

2, Page looks printed in horizontal mode - was it printed in horizontal or portrait view?

In portrait it (should) looks like this (I don't have setting to print page in horinzontal mode in Chrome)

![image](https://f.cloud.github.com/assets/1788727/1

[2013-09-16 18:10] ethbib-susanne commented on #135
J will try again tomorrow. Maybe J find a way for propre printing.

[2013-09-17 07:40] ethbib-susanne commented on #135
J can only produce this layout. What happens when you leave out the logo. In my opinion it is not that important.

![printing](https://f.cloud.github.com/assets/4223790/1155333/065f5a20-1f6c-11e3-9566-cc10bf4b75c7.jpg)

Can you leave a bit more space between header information and content in the printing template?

[2013-09-17 07:40] ethbib-susanne commented on #135
Can you leave a bit more space between header information and content in the printing template?

[2013-09-17 07:55] zb-markus commented on #129
After discussion with Susanne we agreed that the issue is valid and remains to be done. That is: catalog buttons within Detailansicht should be red (same red like in Trefferliste).

[2013-09-17 10:46] ethbib-susanne commented on #97
The text of the tab is not dynamic and can't be translated in the Localization Interface.  It should be 'news' in English and translated in the other three languages. The same is true for 'events' and 'map portraits'.
![text_tab](https://f.cloud.github.com/assets/4223790/1156396/51e0d2ac-1f86-11e3-82ab-1aac8a4c25f9.jpg)

The best would be to use the titles from "Seiten" as the HEAD TITLE probably?

[2013-09-17 14:05] klokan commented on #135
This is probably related to "Firefox 23.0" which Susanne is using.

[2013-09-17 14:19] klokan commented on #98
On the top there should be without any bold formatting:

`Event - [date] - [place]`

if there is range of dates then it is:

`Event - from [date-from] to [date-to] - [name-of-the-place]`

Where "Event" and "from", "to" are translatable strings.

for example:

"Veranstalltung - vom 25 July 2013 bis 27 July 2013 - Gletschergarten"

Bellow is on the page there should be in all languages this:

Later

[2013-09-17 14:27] klokan commented on #126
Done

[2013-09-17 14:27] #126 closed, assigned to nobody

[2013-09-17 14:33] klokan opened #136 "Tag cloud overflow problems"
We have problems with overflow of the tag cloud.

![screen shot 2013-09-17 at 4 32 26 pm](https://f.cloud.github.com/assets/59284/1157701/06e1b29c-1fa6-11e3-98e2-ca071b55ab66.png)

[2013-09-17 14:34] #136 closed, assigned to nobody

[2013-09-17 14:38] klokan opened #137 "Calendar on the sidebar issues"
The calendar does not display correctly the dates form events with the range.

Should always display 'from' date if there is a range.

For events which has just one date it is now correct already.

[2013-09-17 17:27] klokan commented on #122
For 1024px in wide the map should be still available - for example on the iPad. It should switch to the list a bit later, please.

[2013-09-18 13:55] ethbib-susanne opened #138 "Add favicon"
Please add icon to the tabs:

![tab_logo](https://f.cloud.github.com/assets/4223790/1165276/e768ee2a-2069-11e3-8027-15063b2436cf.jpg)

[2013-09-18 13:58] ethbib-susanne opened #139 "Zoom level map collections search map"
Please adjust default zoom level and adjustment on map collections search map exactly as shown below:

![search_map](https://f.cloud.github.com/assets/4223790/1165289/3714abd0-206a-11e3-935d-7d27596ca1b3.jpg)

[2013-09-18 14:54] ethbib-susanne opened #140 "Click-to-call"
Do we have the right phone number format to work successfully?

The actual format is: 044 632 43 84

Maybe we need a format for human reading: +41 (044) 632 43 84
and another one for click-to-call (link behind the human reading format): +44416324384

J forgot to add the Prefix for calls from abroad. I is recommend inserting the phone number in the international format: the plus sign (+), the count

[2013-09-18 15:46] ethbib-susanne opened #141 "Opening times in the library detail pages"
The opening times are not displayed in the page. They should be added to the left column.

[2013-09-18 16:29] ethbib-susanne opened #142 "New and deleted fields 'profile' form"
The following field was deleted in the 'profile' form and must be deleted in the database and the library detail page layout:

kartenportal

The following four fields are new in the 'profile' form and must be added to the library detail page layout:

vorbestellungen
karten_online_url_2
publikation_3
publikation_3_url

Important: There are some changed lables but no changed names of existing fields

[2013-09-18 17:43] ethbib-susanne opened #143 "Picture upload problem"
When J login with the libraries login J can't upload pictures.

![fehlermeldung](https://f.cloud.github.com/assets/4223790/1167165/cf0e889c-2089-11e3-9e50-b7b92856e12c.jpg)

[2013-09-19 08:49] zb-markus opened #144 "Update German and English (corrected)"
Please upload the revised German and English (corrected) versions.

[2013-09-19 17:52] klokan commented on #132
Updated. Links to the main website are broken - Susanne changed all URLs.

[2013-09-19 17:52] klokan commented on #144
Updated. Links to the main website are broken - Susanne changed all URLs.

[2013-09-19 17:55] klokan commented on #143
It seems you have ordered this in #113

[2013-09-20 07:00] zb-markus opened #145 "Layout of attributes window"
After updating the languages (#132, #144) the layout of the attributes window is corrupted. This was probably caused due to text that no longer fits in the space allocated. The window should therefore have more width.

When necessary, you may arrange labels on two lines. Example:

Full text
search:

instead of

Full text search:

[2013-09-20 07:03] zb-markus commented on #131
French and Italian need even more space.

If necessary you may arrange labels on two lines. Example (French version):

Vue
aérienne

[2013-09-20 07:13] zb-markus opened #146 "Layout of Filter menu"
Due to longer labels in French and Italian versions, the layout of the Filter menu is corrupted. Longer labels are not fully displayed now.

You may arrange longer labels on two lines. Example (French):

Liston de
temps

[2013-09-20 07:20] zb-markus commented on #129
To be clear: This applies only to "normal" catalog buttons, not to the Swissbib metacatalog button.

[2013-09-20 09:16] ethbib-susanne opened #147 "Admin interface - Display of values for name in menu 'benutzer'"
Please display names of the map libraries in the following interface:

![benutzer](https://f.cloud.github.com/assets/4223790/1179457/1e36a444-21d5-11e3-8932-97b9aadb4c95.jpg)

[2013-09-20 09:36] zb-markus opened #148 "Broken links in top navigation menu"
Links in top navigation menu are broken due to a new structure of the main Kartenportal web site (it seems). Please implement the new URLs in close collaboration with Susanne.

[2013-09-20 09:39] zb-markus commented on #82
I think we can close the ticket. Technically the system has been tested and accepted. The content is in progress. We will open a separate ticket when an updated language version is ready.

[2013-09-20 09:39] #82 closed, assigned to klokan

[2013-09-20 12:19] zb-markus opened #149 "Library links from Detailansicht to library directory"
Following the new structure introduced by Susanne on 19 September, the URLs behind the library buttons in the Detailansicht need to be refined. They should also be language specific, i.e. when the user is in the French Geosearch, the library button should link to the French version of the Kartenportal library directory.

German http://www.kartenportal.ch/kartensammlungen/.../
English http://www.ka

[2013-09-20 13:11] klokan commented on #145
Is the "search" word required? I would suggest removing it and keep just "Full text:".

It is unsystematically repeated at some of the attributes only - and it is quite useless to have it on all attributes. Please comment.

[2013-09-20 16:27] ethbib-susanne opened #150 "Contact page translation"
Where can J translate the terms in the contact page?

[2013-09-20 16:49] ethbib-susanne opened #151 "Line in contact page laylout"
The line in the contact page layout should be like this:

![line_contact_page](https://f.cloud.github.com/assets/4223790/1182136/6ae3d336-2214-11e3-9c8c-3e320dadbddd.jpg)

[2013-09-20 18:04] ethbib-susanne opened #152 "Missing news article on library detail page"
There should be an news article on the detail page of ETH Bibliothek.

[2013-09-20 18:13] ethbib-susanne opened #153 "Publications link on library detail page"
This is a new specification and can be charged. Please let me know how many hours of work this will take.

We would like to have following solution:

![publications](https://f.cloud.github.com/assets/4223790/1182674/ee15977a-221f-11e3-9e3d-ae43237766ee.jpg)

Instead of:

![publications_old](https://f.cloud.github.com/assets/4223790/1182680/02ec8c58-2220-11e3-894f-697a5b6a4f35.jpg)

[2013-09-20 18:26] klokan commented on #149
We indeed plan to fix the links, but we need the really final ones which are not going to be changed anymore.

@ethbib-susanne - please ensure the links are tonight (Friday) final.

[2013-09-20 18:34] ethbib-susanne opened #154 "Expired event notes on front page and blog page"
J discussed the topic with Markus and he also thinks that there should be no expired event notes on the front page and the blog page. This means that expired events must be deleted automatically.

What can we do on the front page?  J suggest to introduce a static text that is not to short. It is not nice but it will not be often that there is one or no events:

![no_events](https://f.cloud.github.

[2013-09-20 18:37] ethbib-susanne commented on #149
J go home now and there will be no more tickets ☺

[2013-09-20 21:20] JackuB commented on #152
Solved. Anouncements are now being shown http://kartenportal.klokantech.com/library/E01/

[2013-09-20 21:34] JackuB commented on #153
Done.

[2013-09-20 21:34] #153 closed, assigned to nobody

[2013-09-21 06:53] JackuB commented on #143
So question now is: _should libraries be able to upload images_? If so, we can revert #113 (that button is needed for upload to work) - all posts are reviewed anyway, so it shouldn't create any issues.

I can see how libraries'd like to upload e.g. poster to event etc.

[2013-09-21 06:58] klokan commented on #143
Yes, they shoul be able to upload an image.

On Saturday, September 21, 2013, Jakub Mikulas wrote:

##

Petr Pridal
(managing director)

Klokan Technologies GmbH
Bahnhofstrasse 9, Baar 6340, Switzerland
Tel: +41 (0)41 511 26 12
Email: info@klokantech.com
Web: http://www.klokantech.com/

[2013-09-21 08:26] #138 closed, assigned to nobody

[2013-09-21 08:56] JackuB commented on #147
Field is there - but it cannot be searched/filtered in admin area (I don't think WP have such API to search user fields)

![snimek obrazovky 2013-09-21 v10 54 16](https://f.cloud.github.com/assets/1788727/1185328/927b0bb2-229b-11e3-8367-408ee9c88793.png)

[2013-09-21 08:56] #147 closed, assigned to nobody

[2013-09-21 09:07] JackuB commented on #140
Phone numbers are wrapped in tel: links (works just like mailto: links for emails)
All phones will pick those numbers.

So if you can add those prefixes (+ or 00) to correct these numbers, it'll be just fine

[2013-09-21 09:17] JackuB commented on #142
What is english translation of vorbestellungen? I need it to add to theme.

Rest of fields were added.

And if you deleted "Kartenportal" field (or any other) in [fields editor](http://kartenportal.klokantech.com/wp-admin/edit.php?post_type=acf) it was also deleted from database.

[2013-09-21 09:20] JackuB commented on #143
Image upload is now working again

[2013-09-21 09:20] #143 closed, assigned to nobody

[2013-09-21 10:10] JackuB commented on #141
Added

[2013-09-21 10:10] #141 closed, assigned to nobody

[2013-09-21 11:02] klokan commented on #142
I would say "preorders".

[2013-09-21 11:05] klokan commented on #147
I expect Susanne wanted to have in the Name column visible the "ETH Zurich".

[2013-09-21 16:44] zb-markus commented on #144
Please upload German and English (corrected) again. I revised the text considering to your comment in #145.

[2013-09-23 07:14] klokan commented on #146
We will fix it in the code, but I think it will not look nice. Isn't there a shorter version, such as "Chronologie"?

[2013-09-23 07:29] ethbib-susanne commented on #143
Yes they have to, but they should use only the button ‚Beitragsbild festlegen‘. J described the work flow on the Instructions for map libraries page in the Anleitung für das Hochladen von Bildern section.

In the beginning there was a second button for introducing pictures in the text, which had to be removed.

Von: Jakub Mikulas [mailto:notifications@github.com]
Gesendet: Samstag, 21. September 2

[2013-09-23 07:32] ethbib-susanne commented on #147
Sorry, J didn’t see the column before.

[2013-09-23 07:33] ethbib-susanne commented on #142
The name is ‚reservations‘.

[2013-09-23 07:34] ethbib-susanne commented on #142
And if you deleted "Kartenportal" field (or any other) in fields editorhttp://kartenportal.klokantech.com/wp-admin/edit.php?post_type=acf it was also deleted from database.

[2013-09-23 07:41] ethbib-susanne opened #155 "Languages after searching the site or choosing a term from tags"
When J search the site and come to the result page it is not possible to change the language. The other languages buttons are linked to the home page in this case.

[2013-09-24 06:43] zb-markus commented on #146
To be sure we have to wait to the official French translations. The current "Liston de temps" is the word-for-word translation, so it may change. But there is not much hope that the official translator finds a shorter expression. "Chronologie" is something else and cannot be used here, I am afraid. Therefore it is wise to prepare a flexible layout that allows longer expressions (or at least allows

[2013-09-24 06:45] klokan commented on #146
OK. The layout is flexible already in our internal system.
I am making last small changes and will deploy all the modifications very soon.

[2013-09-24 10:34] klokan commented on #146
Deployed - we are fixing the alignment of "x Label" tags now.

[2013-09-24 10:37] klokan commented on #145
Done and deployed.

[2013-09-24 10:37] #145 closed, assigned to petrsloup

[2013-09-24 10:38] klokan commented on #131
Done and deployed.

[2013-09-24 10:38] #131 closed, assigned to petrsloup

[2013-09-24 10:38] klokan commented on #148
Done and deployed (now to temporary kartenportal.klokantech.com domain - but in the system prepared for www.kartenportal.ch).

[2013-09-24 10:38] #148 closed, assigned to petrsloup

[2013-09-24 10:46] zb-markus commented on #131
Tested and accepted.

[2013-09-24 10:46] klokan commented on #128
Done and deployed.

[2013-09-24 10:46] klokan commented on #144
Done and deployed.

[2013-09-24 10:46] #144 closed, assigned to nobody

[2013-09-24 10:47] klokan commented on #132
Done and deployed.

[2013-09-24 10:47] #132 closed, assigned to nobody

[2013-09-24 10:48] klokan commented on #149
The URLs are with /en/library/XXX etc - because WordPress can't localize the iteration pages easily. The links runs.
Done and deployed.

[2013-09-24 10:48] #149 closed, assigned to petrsloup

[2013-09-24 10:49] klokan commented on #129
Done and deployed.

[2013-09-24 10:49] #129 closed, assigned to petrsloup

[2013-09-24 10:50] zb-markus commented on #148
Tested (for kartenportal.klokantech.com) and accepted.

[2013-09-24 10:54] klokan commented on #154
We need a definitive text in English - which will become part of the template and can be translated to other languages.

[2013-09-24 10:57] zb-markus commented on #144
Tested and accepted. For any future language upload we will open a separate ticket.

[2013-09-24 10:59] zb-markus commented on #132
Tested and accepted.

[2013-09-24 11:14] ethbib-susanne commented on #154
J will send you the text this afternoon.

[2013-09-24 11:49] zb-markus commented on #149
Tested (for domain kartenportal.klokantech.com) and accepted.

[2013-09-24 11:51] zb-markus commented on #129
Tested and accepted.

[2013-09-24 12:16] zb-markus commented on #128
While the change of language now keeps the Detailansicht, the order within the Trefferliste is not kept and the highlighted record is no longer highlighted. This is quite confusing for the user. Please:
- Keep the order of records within Trefferliste (which seems to be feasible because nothing else changes when only the language button is used).
- The selected record remains highlighted within Tre

[2013-09-24 12:26] zb-markus opened #156 "Adjust blue flags in Timeline filter"
The labels that appear within the blue flags in the Timeline filter are different in length in the four languages, e.g. beginnings (English), Anfänge (German) etc. Can the two flags adjust their width dynamically like the map selection buttons?

If this is not sensible, at least the left flag needs to be adjusted because the correct English term is not "past" but "Beginnings" (if we would keep "pa

[2013-09-24 12:49] klokan commented on #146
Done and deployed.

[2013-09-24 12:49] #146 closed, assigned to petrsloup

[2013-09-24 14:02] zb-markus commented on #146
Tested and accepted.

[2013-09-24 14:16] klokan commented on #156
It is very complicated to make these dynamically sized in the code and once it is done it will look ugly probably.
If the box space is really dynamic - it is strange once you start to drag and there is a year inside - with four digits on the left as well as on the right but in two differently sized boxes.

The translation does not have to be exactly the same in all languages at all.

You can just

[2013-09-24 14:17] klokan commented on #156
To be discussed tomorrow.

[2013-09-24 14:19] klokan commented on #128
Marcus, please keep in mind that switching of the language is extremely rarely used function for normal visitors. Practically all the users do that only once or never at all.

What you are requesting here is doable with a lot of extra work - and it means to significantly change the implementation of permalinks and storing and loading of the context of the application.

Kartenportal Search is an AJ

[2013-09-24 14:19] klokan commented on #128
To be discussed tomorrow.

[2013-09-24 15:11] zb-markus opened #157 "Google translation toolkit availability"
Google's translator toolkit says that user kartenportal is not allowed to use it:

"We're sorry, kartenportal@gmail.com does not have permission to access this translation.You are signed in as kartenportal@gmail.com, but that email address doesn't have permission to access this translation."

Please make the language toolkit available again. We have still to insert the official French and Italian

[2013-09-24 17:07] klokan commented on #157
Because of the changes in URLs Susanne introduced we had to regenerate all translation files from ground up.

I will provide you with the new links to access the new files. For now I removed the old ones, because modifications in the old would not merge to the new ones.

[2013-09-24 19:19] JackuB commented on #155
There are technical difficulties when you'd want to change lang when searching... We are using similar url matching/redirecting on user profiles and it works there, because we know the structure of library name (single string), but search results is whole another story as search string could be anything.

I really don't see user case for switching languages when searching. Enter site (remember tha

[2013-09-24 19:44] JackuB commented on #155
Thing with tags is, they can't be lang switching, as each tag exists separated in each language (so we can have tag cloud for each lang). You can see it here: http://kartenportal.klokantech.com/wp-admin/edit-tags.php?taxonomy=post_tag&lang=de&post_type=announcement

![image](https://f.cloud.github.com/assets/1788727/1203259/28272e68-2551-11e3-979e-804e26801b04.png)

Every language have its own tag

[2013-09-24 19:48] JackuB commented on #154
So you want to delete event from system? Even if this would mean that links to event page would return 404 error as event won't be visible anymore?

[2013-09-24 19:49] klokan commented on #154
No! The deprecated events should just not be displayed on the front page.

[2013-09-24 19:51] JackuB commented on #142
"Reservations" is now visible on authors page

[2013-09-24 19:51] #142 closed, assigned to nobody

[2013-09-24 19:59] klokan commented on #139
Done and deployed.

[2013-09-24 19:59] #139 closed, assigned to klokan

[2013-09-24 20:20] ethbib-susanne commented on #155
It is o.k. if there is a tag cloud in every language. If articles are not translated, tags won't be neither. Just leave it the way it is.

You are right, that there is no reason to change language when searching. Skip the feature.

[2013-09-24 20:21] ethbib-susanne commented on #154
They must be deleted completely.

---

Von: Petr Pridal [notifications@github.com]
Gesendet: Dienstag, 24. September 2013 21:49
An: klokantech/kartenportal-tickets
Cc: Zollinger Susanne
Betreff: Re: [kartenportal-tickets] Expired event notes on front page and blog page (#154)

No! The deprecated events should just not be displayed on the front page.

—
Reply to this email directly or view it on Gi

[2013-09-24 20:25] #155 closed, assigned to nobody

[2013-09-24 20:37] ethbib-susanne commented on #155
Maybe we will have to come back to this in the future. It is not nice if somebody is directed to the starting page if he just wants to change the language. Did J understand properly that it is complicated to solve this problem?

[2013-09-24 21:11] JackuB commented on #150
Translation and setup of contact form can be done here: http://kartenportal.klokantech.com/wp-admin/admin.php?page=wpcf7

You can change texts, setup email address to send mail to (can be done for each language) and setup email that will be sent.

[2013-09-24 21:39] JackuB commented on #97
Fields names can now be translated same way as other strings in Localization Interface.

---

These texts are being injected into admin area, thus they need to be translated separately http://kartenportal.klokantech.com/wp-admin/tools.php?page=codestyling-localization/codestyling-localization.php under plugin called "Sweet Custom Dashboard"

---

Text is now part of Localization Interface. And sid

[2013-09-24 21:50] JackuB commented on #122
Break is now on 880px

[2013-09-24 21:50] #122 closed, assigned to JackuB

[2013-09-24 21:58] JackuB commented on #135
I just physically printed page from Firefox (23.0.1) and it worked just fine (same layout as in Chrome preview above).

So I'm closing this as something I couldn't reproduce and my guess it, that above preview is affected by 60% scaling (visible in toolbar).

[2013-09-24 21:58] #135 closed, assigned to JackuB

[2013-09-24 22:37] klokan commented on #157
Done - an email with links have been submitted to kartenportal@gmail.com. This is the version where final edits can be done.

[2013-09-24 22:37] #157 closed, assigned to nobody

[2013-09-24 22:58] JackuB commented on #134
Pointed line is hidden on smaller resolutions.

Also layout of button on smaller resolutions was tweaked.

[2013-09-24 22:58] #134 closed, assigned to JackuB

[2013-09-24 23:13] JackuB commented on #98
Just update on this ticket:
I see it now - it's nontrivial change directly linked to #137

[2013-09-25 07:26] ethbib-susanne commented on #151
The line in the column section must be white, same as on blog page.

[2013-09-25 07:42] zb-markus commented on #156
Tested and accepted.

[2013-09-25 07:42] #156 closed, assigned to nobody

[2013-09-25 07:42] zb-markus commented on #128
Tested and accepted.

[2013-09-25 07:42] #128 closed, assigned to nobody

[2013-09-25 07:59] ethbib-susanne commented on #137
Do this at the end and hide the calender until the problem is solved - this is not urgent for me.

[2013-09-25 11:13] ethbib-susanne opened #158 "On the library detail page use the Lat/Lon fields from the administration"

[2013-09-25 11:14] ethbib-susanne commented on #158
These should be used for both:
- Position of the visible map
- Linking the external Google Maps

If a library does not have Lat/Lon set correctly the map should not appear.

[2013-09-25 11:16] ethbib-susanne opened #159 "Library administration: Hide SwissBib ID field and Lan/Lon"
The libraries once logged in should not be able to change these three fields.

Either we should hide them or make them uneditable.

Only Admin should be able to edit these. To be checked if this is possible ...

[2013-09-25 11:22] ethbib-susanne commented on #107
If you are logged in as a library - by selecting the language in the top bar there is no change. The translation should run here too.

We will get the english texts for this section from Susanne.

[2013-09-25 11:28] ethbib-susanne opened #160 "Front page - click on the map of switzerland"
... should go to the translated map collections in correct language.

The link is now wrong /libraries/

[2013-09-25 11:49] ethbib-susanne opened #161 "Search button CSS"
The button with loupe symbol is too big - in both map collections as well as blog.

Simple change of the CSS should be done.

[2013-09-25 16:35] ethbib-susanne opened #162 "Welcome text in English in libraries cms interface"
Text beginning

All the key information on your map collection can be recorded and updated on the Profile page or your password changed. The new or amended information will immediately be published in the map collection index.

Instructions and tips for writing articles and publishing events are available here.

end Text

'here' ist the link to the instructions page, 'Profile page' is a link to th

[2013-09-25 16:38] ethbib-susanne commented on #160
The English translation for the Link 'Im Verzeichnis suchen' ist 'Search the collection index'

[2013-09-25 22:58] klokan commented on #107
The English texts are in: #162

[2013-09-25 22:59] klokan commented on #162
Application of these texts is being tracked under #107

[2013-09-25 22:59] #162 closed, assigned to nobody

[2013-09-26 13:54] zb-markus opened #163 "Upload revised language versions"
Urgent. Official French and Italian translations have been received and inserted. German and English versions have been revised. Please deploy all 4 language versions until morning of Friday 27 September.

[2013-09-26 16:29] klokan commented on #163
Done.

[2013-09-26 16:29] #163 closed, assigned to nobody

[2013-09-26 19:30] JackuB commented on #154
Final word then?

I personally vote for letting events stay (maybe only hiding past ones on front page) - website won't look empty and like it was launched yesterday (archives/old posts on websites are building credibility) and it'll prevent [link rot](http://en.wikipedia.org/wiki/Link_rot)

[2013-09-26 19:31] #150 closed, assigned to nobody

[2013-09-29 11:43] #161 closed, assigned to nobody

[2013-09-29 12:11] #159 closed, assigned to nobody

[2013-09-29 12:38] #151 closed, assigned to nobody

[2013-09-30 14:46] #158 closed, assigned to nobody

[2013-09-30 15:26] klokan commented on #140
I am closing this ticket. There is nothing more to do on the programming side. The data must be changed in the administration manually, if this change is required.

[2013-09-30 15:26] #140 closed, assigned to nobody

[2013-09-30 15:27] klokan commented on #107
@JackuB This is very urgent - please report on this ticket ASAP.

[2013-10-01 07:36] ethbib-susanne opened #164 "Strings containing apostrophe and php"
On the front page we have the text string "What's on" that J couldn't fill in the week before last week because of the apostrophe in the php code. Can you please do this?

[2013-10-01 08:07] klokan commented on #164
You have it on the front page - to be translated again to other languages.

[2013-10-01 08:07] #164 closed, assigned to nobody

[2013-10-01 08:09] ethbib-susanne opened #165 "SUSANNE: Translating texts in dropdown lists (included in specifications)"
Currently the texts of the dropdown lists are shown in the authors language for all languages. The same is for the fields containing free text. There is presumably not a way to translate the fields containing free text, but we could translate the texts out of drop down lists. Therefore English is used for the texts on seccond place in the drop down configuration interface. The English text can the

[2013-10-01 08:10] klokan commented on #160
Fixed link: the URL "/en/map-collections/" is a phrase which is translated into other languages. Changes of the URLs could break this again in the future.

The English source text "Search the collection index" added.

[2013-10-01 08:10] #160 closed, assigned to nobody

[2013-10-01 08:16] klokan commented on #154
@ethbib-susanne Your final word?

We are strongly against deleting records - it is a very bad idea - because of the mentioned reasons.

Let us know whether you really want to delete the whole history of events automatically instead of just not showing the expired records on the front page.

[2013-10-01 08:18] klokan commented on #154
@ethbib-susanne We still need the final English texts you want to include instead of the empty space.

[2013-10-01 08:28] klokan commented on #97
Closing this ticket. The requested tasks are finished and questions answered.

[2013-10-01 08:28] #97 closed, assigned to JackuB

[2013-10-01 08:31] ethbib-susanne commented on #97
Where can J translate these terms and texts mentionned in the ticket dated 15 days ago?

[2013-10-01 11:39] zb-markus opened #166 "Upload language updates"
All 4 languages have been revised. Please upload.

[2013-10-01 20:51] JackuB commented on #165
I found a solution
![image](https://f.cloud.github.com/assets/1788727/1249148/b5cf2610-2ada-11e3-998d-c4ce276ef185.png)

_Trick_ is to have same unified name for each select option. I added code that pull correct field label.
http://kartenportal.klokantech.com/library/E01/

---

Also note, that when you change field name (field name should follow same pattern as in image above, field label (after

[2013-10-02 09:53] ethbib-susanne opened #167 "Order fields on Libraries Detail page"
Field bestellmoeglichkeit should appear after field katalog_url.

[2013-10-02 09:57] ethbib-susanne opened #168 "Logout button on cms interace for libraries missing"

[2013-10-02 16:52] ethbib-susanne commented on #165
Good solution!
The same must be implemented for fields 'Type of catalog' and 'Reservations'.

[2013-10-02 16:57] ethbib-susanne commented on #152
J just noticed that the text being shown on http://kartenportal.klokantech.com/library/E01/ ends very abruptly. We shold leave out the start of text und just display title and date of the news article or make the text a bit longer and place a link 'more' ('Weiterlesen') at the end.

[2013-10-02 19:12] klokan commented on #167
Done

[2013-10-02 19:12] #167 closed, assigned to nobody

[2013-10-02 19:29] klokan commented on #166
Done.

[2013-10-02 19:29] #166 closed, assigned to nobody

[2013-10-02 19:51] klokan commented on #107
These texts are being injected into admin area, thus they need to be translated separately
http://www.kartenportal.ch/wp-admin/tools.php?page=codestyling-localization/codestyling-localization.php under plugin called "Sweet Custom Dashboard"

The menu is defined in "Einstellungen -> Menu editor". These should be natively English, not German.
http://www.kartenportal.ch/wp-admin/options-general.php?p

[2013-10-02 19:52] klokan commented on #97
Answered above already. The library admin area has a separate ticket #107 already.

[2013-10-02 23:07] klokan commented on #107
@JackuB Can we enforce the switch of the language for translation as well as for content. It did not run for me when the libraries selected that. I mean the language for the names of the fields was different from the gettext language. I guess you will fix this faster then me.

The libraries should be just able to select a single language and automatically see the whole administration as well as th

[2013-10-02 23:09] klokan commented on #168
@JackuB We should keep the dark topbar, just hide the switcher for language of the content - because it is confusing that it does not switch also the language of the translation in the same moment.

[2013-10-02 23:48] #168 closed, assigned to nobody

[2013-10-02 23:54] JackuB commented on #152
I left only date, so it'd look like events above

![image](https://f.cloud.github.com/assets/1788727/1258445/f188149e-2bbd-11e3-89d8-ed7c1e57c8b9.png)

[2013-10-02 23:54] #152 closed, assigned to nobody

[2013-10-05 11:46] JackuB commented on #107
**WPML language settings** in user profile is now controlling visible content in admin area etc. When language is selected, it'll show content and admin area in this language.

To change this, **you need to login as the library**, and change it in their profile (it have to be done this way, as on the background there are other (nonvisible) options being changed for that library. That's something a

[2013-10-05 14:09] klokan commented on #98
Great! On the http://kartenportal.klokantech.com/blog/ page there is missing the "to". If it is problematic to write it there then keep just "from", but do not show "to" and empty space after, please.

[2013-10-05 23:31] JackuB commented on #98
Corrected.

[2013-10-06 00:22] klokan commented on #137
There are not dates highlighted for the Announcement and Map blog post publishing dates. They were there before... See mockup #64 and the original implementation at: http://kartenportal.klokantech.com/kalender/

[2013-10-07 15:11] ethbib-susanne commented on #98
J am sorry but this is not exactly what Petr specified 20 day ago:

![veranstaltung 1](https://f.cloud.github.com/assets/4223790/1281345/90ca74e2-2f61-11e3-83e7-ef427def57ac.jpeg)

should have the format:

Veranstaltung - Juni 27, 2013 bis September 27, 2013 - Gletschergarten

"Gletschergarten" is the name of the place, your implementation uses the adress of the place, which is wrong (see specific

[2013-10-07 15:13] klokan commented on #154
@ethbib-susanne Reminder for your feedback.

[2013-10-07 15:13] ethbib-susanne commented on #98
Is it possible to show this also on the complete list of all posts?

[2013-10-07 15:23] ethbib-susanne opened #169 "Translating login screen and admin interface"
J write a new ticket because the old one #107 was very long:
1. Where do J translate these texts?

![login screen](https://f.cloud.github.com/assets/4223790/1281466/d54ab1a2-2f63-11e3-87a0-eb3def357ff3.gif)
1. J translated the welcome texts in the CMS interface for map libraries. They are not displayed in French when J change the language setting of ETH-Bibliothek as a test to French (J logged in

[2013-10-07 15:42] ethbib-susanne commented on #165
Please reopen this ticket and see comment above. J prepared the two dropdown lists according to the first dropdown list which is already implemented correctly:

Example:
online_catalogue : Online-Katalog
local_electronic_catalogue : Lokaler elektronischer Katalog
slip_or_lists : Zettel oder Listen

[2013-10-07 15:48] ethbib-susanne commented on #98
The two lines should have the same color as the text.

[2013-10-07 16:44] ethbib-susanne opened #170 "Rights for map libraries"
There was a recent change. Libraries can't modify or delete articles anymore. The should have the rights to do so (the changes are reviewed by the admin later)

[2013-10-08 07:39] ethbib-susanne commented on #154
This is the text:

There are currently no events scheduled. Please check back later for more events.

[2013-10-08 07:44] ethbib-susanne commented on #170
Please close all tickets related to cms interface of map libraries until Wednesday Oct 11 (tomorrow). Libraries will have to complete their profiles starting on Tuesday.

[2013-10-08 08:22] ethbib-susanne opened #171 "Behaviour of a link on blog page"
There is a strange behaviour of a link on the blog page. When you select a language that is not German and select one of the filter options (Events, new, map portaits) and then go back to all posts the language switches back to German from every language.

[2013-10-08 09:31] ethbib-susanne opened #172 "Workflow for integrating new swissbib libraries in directory"
How is the workflow for integrating new libraries when they are swissbib members?

[2013-10-08 12:37] ethbib-susanne opened #173 "Go online Wednesday Oct 9th 16:00"
The important tickets (those related to the cms interface for map libraries) will hopefully be closed tomorrow afternoon.

So we should go online tomorrow Wednesday Oct 9th 16:00.

Please confirm.

[2013-10-08 19:22] JackuB commented on #137
Just two notes:

1, there were always only events in that calendar.

2, Another thing is, this new feature is linked to https://github.com/klokantech/kartenportal-tickets/issues/64#issuecomment-22830632 as there would have to exists some consolidated archive to link each date to...

[2013-10-08 20:13] JackuB commented on #170
Libraries permissions were widened, they can edit/delete already published posts/pages

[2013-10-08 20:13] #170 closed, assigned to nobody

[2013-10-08 20:21] JackuB commented on #171
Corrected

[2013-10-08 20:21] #171 closed, assigned to nobody

[2013-10-08 21:11] JackuB commented on #169
1. I'm not aware of any way to translate wp-login page. It was announced as future feature in WPML, which we are using for translation, but it's still not part of current release
2. dashboard is currently loading translations correctly

[2013-10-08 21:20] JackuB commented on #169
Scratch that, they actually added it, but changed proposed behaviour and didn't mention that in changelog.
Login form is now translated to language from which you are clicking "Login" in footer

[2013-10-08 21:32] JackuB commented on #172
You can add users under [Users > Add new](http://kartenportal.klokantech.com/wp-admin/user-new.php) - whatever you put as "Last name" will be visible on site.

You can edit these users same way as others.

User level should always be library and you can choose whether you'll send user new password in mail.

[2013-10-08 21:32] #172 closed, assigned to nobody

[2013-10-09 07:15] ethbib-susanne commented on #172
How are swissbib members connected tot he map search. Is it sufficient to fill in the swissbib ID in the profile section? Will this library have the “Search maps of this library” on the library’s page?

[2013-10-09 08:33] ethbib-susanne commented on #173
PLEASE CONFIRM. I am on holiday from tomorrow until Oct. 20th.

[2013-10-09 15:11] klokan commented on #173
Discussed over email.

[2013-10-09 15:11] #173 closed, assigned to nobody

[2013-10-09 15:15] ethbib-susanne commented on #172
J made a test. It doesn't work. Please check. (Unfortunately J put the name instead of an ID. J will have to to a new one.)

You didn't answer all questions:
How are swissbib members connected tot he map search. Is it sufficient to fill in the swissbib ID in the profile section? Will this library have the “Search maps of this library” on the library’s page?

[2013-10-09 22:39] klokan commented on #165
Editing is possible via Custom Fields -> Custom Fields. Switching of languages as always on the right with pencil symbol - you have used that for translations already. Here is a screenshot:

![screen shot 2013-10-09 at 9 58 24 pm](https://f.cloud.github.com/assets/59284/1301123/70abc0ae-311d-11e3-93bf-1dd05402ad12.png)

As noted above: DO NOT CHANGE THE FIELD NAMES, just the labels after ":".

Thi

[2013-10-09 22:55] klokan commented on #172
The ID should be equal to SwissBib ID.

The link "Search maps of this library" should appear in the library detail page always if the SwissBib ID field is not empty.

The links back from geosearch to the library detail pages are made by scanning the website. It is invoked manually, but it should be automated and is marked in the #124 Post-launch tasks as TODO after the web is on the final domain.

[2013-10-10 00:04] klokan commented on #107
This is finished from the technical point of view - but Sussanne still did not make the translation of menus correctly - so I am reopening it - so she can see the links in the list of tickets.

[2013-10-10 00:56] klokan commented on #98
Removed "From" and changed the color of the text in the detail window.
Fixed displaying of the venue name in the first list.
The venue address in the second list uses ":" instead of "-" after title.

The list in archive is displaying venue name now and range of dates.

It is not clear what you mean with "this" what should be shown on the complete list of all posts. Please clarify.

[2013-10-13 01:52] ethbib-susanne commented on #98
Please remove time, there should onlly be displayed the date (without time).

Veranstaltung -  Juni 10, 2013 bis Februar 23, 2014 - focus Terra

'This' means that there should be displayed

Veranstaltung -  Juni 10, 2013 bis Februar 23, 2014 - focus Terra

instead of

Veranstaltung -  Juni 10, 2013 10:00  - focusTerra

---

Von: Petr Pridal [notifications@github.com]
Gesendet: Donnerstag, 10. Okto

[2013-10-13 01:53] ethbib-susanne commented on #172
How do J find out the swissbib ID of a library that is member of swissbib.

[2013-10-13 01:55] ethbib-susanne commented on #165
Please contact Radim for this question. He might know how to proceed. On my side everything is prepared.

[2013-10-13 09:56] klokan commented on #165
Susanne, either fill your prepared text with translated choices into "Choices" field as described (12 days ago) and as visible in the screenshot above (3 days ago), or provide us with the translated texts which should be used and we will include them in the administration interface for you.

It is clear how to proceed.

[2013-10-13 10:10] klokan commented on #172
The complete database of all Swiss libraries is available from SwissBib at:

http://www.swissbib.ch/libraries

(information copied from ticket #13 Libraries - the database initial data)

Now you can see the SwissBib ID in the Kartenportal Search as well - if you filter to the particular library it is visible in the URL as: &libraries=E01

[2013-10-13 19:00] JackuB commented on #154
Added

[2013-10-13 19:03] JackuB commented on #98
@ethbib-susanne time is not shown for all-day events, but only in case of event with defined time.

Should we really remove time?

![image](https://f.cloud.github.com/assets/1788727/1322600/117c0d80-343a-11e3-82ed-9fa61eca6138.png)

[2013-10-13 19:42] klokan commented on #154
@JackuB - the two events which are now given on the website are not yet expired - because first ends on October 23 and second even in 2014.

I expect we should display on the frontpage the date (or range of dates) the same way as in the blog post, but it has never been formally specified.

[2013-10-13 19:51] klokan commented on #98
@JackuB Could you please add the "to" date to the list of all posts in the blog?

@ethbib-susanne We need your feedback regarding the deleting of the support of time. If this should be really done it must be done also in the administration - and it is a new request.

[2013-10-13 19:53] klokan commented on #137
@JackuB Can we add the links to individual posts? This way it was planned from the beginning in mockups and in #64. We don't need links to archive of given day, if there is more then one posts in given date only one will be linked. If there is an event it has priority over another type of date that day. Thank you!

[2013-10-17 12:18] zb-markus opened #174 "Regular metadata import required (new bug?)"
There is no metadata import since a few days. Please test whether this is the same bug as in #118 or a new one. Test records:

Lefkosia 1:7 500
NEBIS http://opac.nebis.ch/F/?local_base=NEBIS&CON_LNG=GER&func=find-b&find_code=SYS&request=009940587 (catalogued 2 Oct 2013)
Swissbib http://www.swissbib.ch/TouchPoint/perma.do?q=0%3D%22221052763%22+IN+%5B4%5D&v=nose&l=de (dated 6 Oct 2013)
MapRank n/a

[2013-10-20 19:08] #154 closed, assigned to nobody

[2013-10-21 06:53] klokan commented on #174
We are investigating this issue.

[2013-10-21 11:49] keosak commented on #174
This issue was caused by faulty configuration of the "cron" daemon. It is fixed now.

[2013-10-21 11:49] #174 closed, assigned to keosak

[2013-10-22 10:50] zb-markus commented on #174
Tested and accepted.

[2013-10-22 23:48] #98 closed, assigned to JackuB

[2013-10-23 07:51] ethbib-susanne opened #175 "Tracking code for website evaluation"
Please insert this code in pages:

Startseite
Kartensuche
Sammlungen
Angebote
Blog
Kontakt
Über Kartenportal.CH
Impressum
Login

Guten Tag Frau Zollinger

Wie von Herrn Semar angekündigt, sende ich Ihnen nachfolgend den HTML-Code, den Sie bitte ähnlich wie beim Google-Analytics-Code idealerweise irgendwo zwischen den <head></head>-Tags Ihres Webauftritts platzieren.

Vielen Dank für Ihre Mithilfe!

[2013-10-23 07:57] ethbib-susanne commented on #165
No. J don't know how to proceed.

[2013-10-23 08:23] klokan opened #176 "Front page: event formatting"
Only the start date and end of the event (without place, type, etc.).
e.g.

`Juni 10, 2013 bis February 23 2014`

[2013-10-23 08:34] klokan commented on #165
Report from the meeting:

Translations finished by Susanne.

On the page: http://www.kartenportal.ch/library/E01/

The two fields: 'Type of catalog' and 'Reservations' are not displayed at all.

[2013-10-23 08:43] klokan opened #177 "URL to ICS calendar not correct for German and Italian + Google Calendar"
The URL under ICS link shows for german:

"webcal://www.kartenportal.c/feed/eo-events/"

wrong domain ".ch"

and for italian:

"webcal://www.kartenportal.ch/i/feed/eo-events/"

wrong 'it'.

Please check Google Calendar functionality (robots.txt)

[2013-10-23 08:43] klokan commented on #137
Agreed we keep it as it is - just showing the start date of the event.

[2013-10-23 08:43] #137 closed, assigned to JackuB

[2013-10-23 08:46] klokan commented on #169
The link to "Login" on non-german sites is dead.

[2013-10-23 08:56] #107 closed, assigned to JackuB

[2013-10-23 09:04] ethbib-susanne opened #178 "Responsive problem"
Firefox 24.0

![responsive design](https://f.cloud.github.com/assets/4223790/1388609/1112ae32-3bc2-11e3-840e-0421c47a5021.jpg)

[2013-10-23 09:12] klokan opened #179 "Firefox prints the open mobile menu"
In firefox the print function prints to open mobile menu. It should not.

[2013-10-23 09:57] ethbib-susanne opened #180 "Contact page: success message"
Without frame and to the right:

![contact](https://f.cloud.github.com/assets/4223790/1388888/56de4802-3bc9-11e3-831d-54c8744a8e38.jpg)

Explorer 9

[2013-10-23 10:05] klokan opened #181 "Wordpress installation protocol + backup description + source code on USB"
For the Kartenportal WordPress website prepare basic documentation (Installation protocol - in KlokanTech Intranet - describe:
- the list of plugins
- system of automatic backup
- process for restoring the backup in case of hardware failure or move to a new hosting.

[2013-10-23 11:21] klokan opened #182 "Password reset email to libraries"
The message is now:

[code]

We will need to change it according Susanne instructions.

[2013-10-23 20:16] #169 closed, assigned to nobody

[2013-10-23 20:34] JackuB commented on #178
![image](https://f.cloud.github.com/assets/1788727/1393923/ae7d90a6-3c21-11e3-8abc-c30c4289ceb7.png)

![image](https://f.cloud.github.com/assets/1788727/1393929/b7eed6e0-3c21-11e3-92ee-f7d2327db642.png)

I really tried to reproduce this (also in Firefox 24) - break point (where layout changes) is set to 768px - so that on 767px window layout looks almost the same as on mobile, but on 768px it stil

[2013-10-24 06:32] klokan commented on #176
The translation of the second month does not run - it is always in English - everywhere.

For the front page, please hide the time always - people can see the exact time after they click on the event.

[2013-10-24 09:03] JackuB opened #183 "Kartenportal.ch without www. isn't loading"
`http://kartenportal.ch/` is throwing `ERR_NAME_NOT_RESOLVED` in Chrome